<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link th:href="@{/css/bootstrap.min.css}"  href="../../css/material-icons.css" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}"  href="../../css/material-icons.css" rel="stylesheet"/>
    <style>
/* Error Page Inline Styles */
body {
  padding-top: 20px;
}
/* Layout */
.jumbotron {
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  padding: 10px 0px;
}
/* Everything but the jumbotron gets side spacing for mobile-first views */
.masthead, .body-content, {
  padding-left: 15px;
  padding-right: 15px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Colors */
.green {color:#5cb85c;}
.orange {color:#f0ad4e;}
.red {color:#d9534f;}
</style>
</head>
    <body>        
<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-users red"></i> Maaf Akun Anda Sudah Pernah Diaktifkan </h1>
    <h3>Silahkan Hubungi Administrator .</h3>
    <p class="lead">Kementerian Keuangan Direktorat Jenderal Perimbangan Keuangan<em><span id="display-domain"></span></em>.</p>
  </div>
</div>
    </body>
    
</html>
