<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link th:href="@{/css/bootstrap.min.css}"  href="../../css/material-icons.css" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}"  href="../../css/material-icons.css" rel="stylesheet"/>
    <style>
/* Error Page Inline Styles */
body {
  padding-top: 20px;
}
/* Layout */
.jumbotron {
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  padding: 10px 0px;
}
/* Everything but the jumbotron gets side spacing for mobile-first views */
.masthead, .body-content, {
  padding-left: 15px;
  padding-right: 15px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Colors */
.green {color:#5cb85c;}
.orange {color:#f0ad4e;}
.red {color:#d9534f;}
</style>
</head>
    <body>        
<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-check green"></i> Terima Kasih  </h1>
    <h3>Akun Anda Telah Aktif </h3>
    <p class="lead">Kementerian Keuangan Direktorat Jenderal Perimbangan Keuangan <em><span id="display-domain"></span></em>.</p>
    <div class="waktu-pembayaran" style="margin-bottom: 10px;">
                        <h5>Anda Akan Diarahkan Otomatis Kehalaman Login</h5>
                        <div id="countdown">05</div>
                    </div>
    </div>
</div>
    </body>
    <script th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script th:src="@{/js/jquery.min.js}" src="js/jquery.countdown.js"></script>
    <script>
         // <![CDATA[
       var  home = $(location).attr('href').split('/');
       var length = home.length - 2;
       var a = '';       
       for(var b = 0 ; b< length; b++)
       {
           if(b == 0)
           {
             a += home[b]+"/";  
           }
           else if ( b >0 && b < length)
           {
                a += home[b]+"/";
           }
           else
           {
               a += home[b];
           }
           
       }
       var count = 5;
        var counter = setInterval(function timerDown() {
            count = count - 1;
            if (count === -1) {
                clearInterval(counter);
                return;
            }
            var seconds = count % 60,
                minutes = Math.floor(count / 60),
                hours = Math.floor(minutes / 60);
            minutes %= 60;
            hours %= 60;
            if ( minutes < 10) {
                minutes = '0' + minutes;
            }
            if ( hours < 10 ) {
                hours = '0' + hours;
            }
            if ( seconds < 10 ) {
                seconds = '0' + seconds;
            }  
            document.getElementById("countdown").innerHTML =  seconds; 
        } , 1000)

       setTimeout(function(){ window.location = a; }, 5000);   
         // ]]>
    </script>
</html>
