<div class="container">
<h3 class="section-title">Cetak Laporan Realisasi Penyerapan</h3>
    <div class="section">
        <form id="form">
            <div class="input-field " style="margin-bottom: 30px">
               <select id='thang' class="browser-default" style="margin-bottom:20px ">
                   <option value="0">--Pilih--</option>
                   <option th:each="p : ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}"></option>
               </select>
               <label for="provinsi" class="active">Tahun Anggaran</label>
               <div id="errorAkun" class="error"></div>
           </div>  
            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Cetak</button>
        </form>
        
        
    </div>
</div>
<script >
      // <![CDATA[
    $(document).ready(function(){
        
        $('.browser-default').select2();
        $('.select2-container').css('padding-top','20px');
        $('.select2-selection__arrow').css('padding-top','66px');        
        $('select').material_select('destroy');

      
      
   
        $('#submit_form').off().on('click',function(){

                    function returnData(selected) {
                      return $.ajax({
                         url : 'http://localhost/basarnas-tukin/laporan/rest_tukin1/05-2017/1',
                         data: {
                                 issession: 1,
                                 selector: selector
                             },
                         // dataType: "json",
                             async: false,
                             error: function() {
                                 alert("Error occured")
                             }
                       });

                   }

                   var selector = !0;
//                   var ajaxObj = returnData(selector);
                   //var data    = JSON.parse(ajaxObj.responseText);

                   function buildTableBody(data, columns) {
                       var body = [];
                       var i = 0;
                       data.forEach(function(row) {
                           var dataRow = [];

                           // columns.forEach(function(column) {
                           //     dataRow.push({'text':row[column].toString(),'aligement':'tester '});
                           // })
                           var potongan = (row["potongan"]/100)*row["tunjangan"];
                           var total   = row["tunjangan"]-potongan;
                           dataRow.push({'text':++i,'aligement':'tester '});
                           dataRow.push({'text': row["nama"].toString(),'aligement':'tester '});
                           dataRow.push({'text': row["nip"].toString(),'aligement':'tester '});
                           dataRow.push({'text': "PNS",'aligement':'tester '});
                           dataRow.push({'text': row["jabatan"].toString(),'aligement':'tester '});       
                           dataRow.push({'text': row["kelas_jabatan"].toString(),'aligement':'tester '});
                           dataRow.push({'text': row["tunjangan"].toString(),'aligement':'tester '});
                           dataRow.push({'text': row["potongan"].toString(),'aligement':'tester '});
                           dataRow.push({'text': potongan,'aligement':'tester '});
                           dataRow.push({'text': "",'aligement':'tester '});
                           dataRow.push({'text': "",'aligement':'tester '});
                           dataRow.push({'text': total,'aligement':'tester '});
                           dataRow.push({'text': "",'aligement':'tester '});
                           body.push(dataRow);
                       });

                       return body;
                   }

                   //var hasil = buildTableBody(data.data,['kd_satker','nama_satker','count_kelas','tnj','pjk']);
                   var insert = {"body":[
                                           [ 
                                               {text: 'A. ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Sisa BOK di Rekening Kas Umum Daerah tahun sebelumnya ', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                         ]

                                 };

                   var insert2 = {"body":[
                                           [ 
                                               {text: 'B. ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Penerimaan diri Rekening Kas Umum Negara ', style: 'subheader',  alignment: 'left'}, 
                                               {text: '', style: 'subheader',  alignment: 'left'}, 
                                               {text: '', style: 'subheader',  alignment: 'right'}, 
                                           ],

                                         ]

                                 };

                   var insert3 = {"body":[
                                           [ 
                                               {text: '- ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Triwulan/Semester I', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: '- ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Triwulan II', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: '- ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Triwulan III', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: '- ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Triwulan IV', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: 'Jumlah ', colSpan:2, style: 'subheader',  alignment: 'center'}, 
                                               {}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],

                                         ]

                                 };

                   var insert4 = {"body":[
                                           [ 
                                               {text: 'C. ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Realisasi Penyaluran BOK ke Puskesmas/Rumah Sakit/Rumah Tunggu Persalinan Melalui SP2D Provinsi/Kabupaten/Kota', style: 'subheader',  alignment: 'left'}, 
                                               {text: '', style: 'subheader',  alignment: 'left'}, 
                                               {text: '', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: '- ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Kumulatif s.d Triwulan/Semester Sebelumnya', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: '- ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Triwulan/Semester ini', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: '- ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Kumulatif s.d Triwulan/Semester ini', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: '- ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Persentase Penyaluran', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                           [ 
                                               {text: 'Jumlah ', colSpan:2, style: 'subheader',  alignment: 'center'}, 
                                               {}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],

                                         ]

                                 };
                   var insert5 = {"body":[
                                           [ 
                                               {text: 'D. ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Pengembalian RKUD ', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                         ]

                                 };

                   var insert6 = {"body":[
                                           [ 
                                               {text: 'E. ', style: 'subheader',  alignment: 'left'}, 
                                               {text: 'Sisa BOK di RKUD s.d. Triwulan/Semester ini ', style: 'subheader',  alignment: 'left'}, 
                                               {text: ': Rp', style: 'subheader',  alignment: 'left'}, 
                                               {text: ' 1.000.000.000.000.000.000', style: 'subheader',  alignment: 'right'}, 
                                           ],
                                         ]

                                 };


                   var insert7 = {"body":[
                                           [ 
                                               {text: 'Bukti-bukti realisasi pembayaran kepada phak ketiga yang tercantum dalam laporan ini, disimpan sesuai degnan ketentuan yang berlaku untuk kelengkapan administrasi dan keperluaan pemeriksaan aparat pengawas fungsional.\n\nDemikian laporan ini dibuat dengan sebenarnya. ', style: 'subheader', colSpan:4, alignment: 'left'}, 
                                               {}, 
                                               {}, 
                                               {}, 
                                           ],
                                         ]

                                 };

                   var insert8 = {"body":[
                                           [ 
                                             '', 
                                               {text: 'Tempat ..., Tanggal\nKepala Biro/Badan/Dinas Pengelola Keuangan\n\n\n\n\n\n\n\nNama ....................\nNIP', style: 'subheader',  alignment: 'left'}, 
                                           ],
                                         ]

                                 };

                   // for(var loop =0 ; loop<= (hasil.length-1) ;loop++)
                   // { 
                   //   insert.body.push(hasil[loop]);
                   // }

                   // console.log(hasil);


                    function tableSample(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[10,350,20,120],
                             keepWithHeaderRows: 1,
                             body: insert.body,

                           },
                           layout: 'noBorders'
                       };
                   }


                    function tableSample2(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[10,350,20,120],
                             keepWithHeaderRows: 1,
                             body: insert2.body,

                           },
                           layout: 'noBorders'
                       };
                   }


                   function tableSample3(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[10,350,20,120],
                             keepWithHeaderRows: 1,
                             body: insert3.body,

                           },
                           layout: 'noBorders'
                       };
                   }

                   function tableSample4(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[10,350,20,120],
                             keepWithHeaderRows: 1,
                             body: insert4.body,

                           },
                           layout: 'noBorders'
                       };
                   }

                   function tableSample5(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[10,350,20,120],
                             keepWithHeaderRows: 1,
                             body: insert5.body,

                           },
                           layout: 'noBorders'
                       };
                   }

                   function tableSample6(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[10,350,20,120],
                             keepWithHeaderRows: 1,
                             body: insert6.body,

                           },
                           layout: 'noBorders'
                       };
                   }

                   function tableSample7(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[10,350,20,120],
                             keepWithHeaderRows: 1,
                             body: insert7.body,

                           },
                           layout: 'noBorders'
                       };
                   }


                   function tableSample8(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[300,220],
                             keepWithHeaderRows: 1,
                             body: insert8.body,

                           },
                           layout: 'noBorders'
                       };
                   }

                           var docDefinition = {
                       //pageMargins: [ 10, 70, 10, 20 ],
                       pageSize: 'A4',
                       // pageOrientation: 'landscape',
                       content: [
                         {
                                           alignment: 'center',
                                           columns: [
                                                   {
                                                           text: 'LAPORAN REALISASI PENYERAPAN\n'
                                   +'DANA BANTUAN OPERASIONAL KESEHATAN ( BOK )\n'
                                   +'PROVINSI/KABUPATEN/KOTA TAHUN ANGGARAN\n'
                                   +'s.d TRIWULAN/SEMESTER \n\n'
                                                   }
                                           ],

                                   },
                       {
                         alignment: 'left',
                         'styles': 'subheader',
                         columns: [
                           {
                             text: '\nYang bertanda tandan dibawah ini ... menyatakan bahwa saya bertanggung jawab penuh atas kebenaran Laporan Realisasi Penyerapan Dana BOK ini dengan rincian, sebagai berikut : ','style': 'subheader',
                           }
                         ],

                       },
                       '\n',
                         tableSample(),
                       '\n',
                        tableSample2(), 
                        '\n',
                        tableSample3(),
                        '\n',
                        tableSample4(), 
                         '\n',
                        tableSample5(),
                         '\n',
                        tableSample6(),
                        '\n',
                        tableSample7(),  
                        '\n',
                        tableSample8(), 
                       ],
                       styles: {
                         header1: {
                           fontSize: 14,
                           bold: true,
                           margin: [0, 0, 0, 10]
                         },
                         header2: {
                           fontSize: 18,
                           bold: true,
                           margin: [0, 0, 0, 10]
                         },
                         subheader: {
                           fontSize: 10,
                           //bold: true,
                           //margin: [0, 10, 0, 5]
                         },
                         title: {
                           fontSize: 11,
                           bold: true,

                         },
                         content: {
                           fontSize: 11,
                         },
                         tableExample: {
                           margin: [0, 0, 0, 0]
                         },
                         tableHeader: {
                           bold: true,
                           fontSize: 12,
                           margin: [0, 40, 0, 0],
                           color: 'black'
                         },
                         tableHeader2: {
                           bold: true,
                           fontSize: 12,
                           margin: [0, 20, 0, 0],
                           color: 'black'
                         },
                         tableHeader3: {
                           bold: true,
                           fontSize: 12,
                           margin: [0, 5, 0, 0],
                           color: 'black'
                         }
                       },
                       defaultStyle: {
                         // alignment: 'justify'
                       }

                       };

                    pdfMake.createPdf(docDefinition).open();
                           });

   });

    // ]]>
</script>

