<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>ALADIN</title>
    <link th:href="@{/css/material_icons.css}"  href="../../css/material-icons.css" rel="stylesheet"/>
    <link th:href="@{/css/materialize.min.css}" href="css/materialize.min.css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet"/>
    <link th:href="@{/css/jquery.dataTables.min.css}" href="css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link th:href="@{/css/responsive.dataTables.min.css}" href="css/responsive.dataTables.min.css" rel="stylesheet"/>
    <link th:href="@{/css/sweetalert2.min.css}" href="css/sweetalert2.min.css" rel="stylesheet"/>
    <link th:href="@{/css/select2.min.css}" href="css/sweetalert2.min.css" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.css}" href="css/sweetalert2.min.css" rel="stylesheet"/>
    <!--<script src="cordova.js" ></script>--> 
    <script>
              // <![CDATA[
//      document.onkeydown = function(e) {
////            if(event.keyCode == 123) {
////               return false;
////            }
////            if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
////               return false;
////            }
////            if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
////               return false;
////            }
////             if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
////               return false;
////            }
////            if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
////               return false;
////            }
//          }
             // ]]>
// document.addEventListener('contextmenu', event => event.preventDefault());
    </script>
</head>

<body  >
    <div id="splashscreen">
        <div class="splash_logo"><img width="150%"  th:src="@{/image/loading.gif}" src="image/logo_splash.png"/></div>
<!--        <div class="splash_footer">&copy; 2017 Kementrian Keuangan</div>-->
    </div>
    <header>
        <div class="navbar-fixed">
            <nav class="blue darken-4">
                <div class="nav-wrapper">
                    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav circle"><i class="material-icons">menu</i></a>
                    <a href="#" class="brand-logo">ALADIN BETA</a><span id='bage_notif' class=""></span>
                    <div id="filter" class="right" style="display:none">
                        <a class="dropdown-button" href="#" data-activates="filters">Filter<i class="material-icons right">arrow_drop_down</i></a>
                    </div>
                    <ul id="filters" class="dropdown-content" style="min-width:150px">
                        <li><a href='javascript:void(0)' >-Semua-</a></li>
                        <!-- <li><a href="#">Nama Toko</a></li> -->
                    </ul>
                </div>
            </nav>
        </div>
        <ul id="nav-mobile" class="side-nav fixed">
            <li class="logo">
<!--                <img width="70%" src="image/logo_menu.png"/>-->
                <div class="account">
                    <i class="material-icons">account_circle</i>
                    <span id='nickname'>username</span>
                     <div class="input-field">
               <select id="thang-setting" class="browser-default" style="margin-bottom:20px ">
                   <option th:each="p:  ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}" ></option>
               </select>
            </div> 
                </div>
            </li>
<!--            <li class="group-daerah">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">language</i><span>Daerah</span></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="menu"><a href="#" class="link-prov"><i class="material-icons">location_on</i> <span>Provinsi</span></a></li>
                                <li class="menu"><a href="#" class="link-pemda"><i class="material-icons">location_on</i> <span>Pemda</span></a></li>
                                
                                <li class="menu"><a href="#" class="link-daftar-anggota-user"><i class="material-icons">contacts</i> <span>Transaksi</span></a></li>
                            </ul>
                        </div>
                    </li>                    
                </ul>
            
            </li>-->
            <div class="divider"></div>
            <li class="group-administrasi">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">vpn_key</i><span>Administrasi</span></a>
                        <div class="collapsible-body">
                            <ul>                                
                                <li class="menu"><a href="#" class="link-skpd"><i class="material-icons">location_on</i> <span>SKPD</span></a></li>
                                <li class="menu"><a href="#" class="link-user"><i class="material-icons">assignment_ind</i> <span>User</span></a></li>
                                <li class="menu"><a href="#" class="link-change-password "><i class="material-icons">lock</i> <span>Ubah Password</span></a></li>
                            </ul>
                        </div>
                    </li>                    
                </ul>
            
            </li>
            <div class="divider"></div>
            <li class="menu"><a href="#" class="link-saldo pemda"><i class="material-icons">payment</i> <span>Sisa Dana RKUD TAYL</span></a></li>
            <div class="divider"></div>
            <li class="menu"><a href="#" class="link-pagu pusat"><i class="material-icons">payment</i> <span>Pagu</span></a></li>
            <div class="divider pusat"></div>
            <div class="divider"></div>
            <li class="group-monitoring pusat">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">vpn_key</i><span>Monitoring</span></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="menu"><a href="#" class="link-monitoring pusat"><i class="material-icons">payment</i> <span>Laporan</span></a></li>
                                <li class="menu"><a href="#" class="link-monitoring-kepatuhan pusat"><i class="material-icons">payment</i> <span>Kepatuhan</span></a></li>
                            </ul>
                        </div>
                    </li>                    
                </ul>
            
            </li>
            <div class="divider pusat"></div>
            <li class="group-lapreal">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">payment</i><span id='title-lapreal'>Realisasi Penyerapan</span></a>
                        <div class="collapsible-body">
                            <ul id='li_lapreal'>
                                
                            </ul>
                        </div>
                    </li>                    
                </ul>
            
            </li>
             <div class="divider"></div>
            <li class="group-lapreal">
                <ul class="collapsible collapsible-accordion  pemda">
                    <li>
                        <a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">payment</i><span >Realisasi Penggunaan</span></a>
                        <div class="collapsible-body">
                            <ul id='li_lapgu'>
                                
                            </ul>
                        </div>
                    </li>                    
                </ul>
            </li>
             <div class="divider"></div>
            <li class="group-lapgu-skpd">
                <ul class="collapsible collapsible-accordion dinas">
                    <li>
                        <a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">payment</i><span >Realisasi Penggunaan</span></a>
                        <div class="collapsible-body">
                            <ul id='li_lapgu_skpd'>
                                
                            </ul>
                        </div>
                    </li>                    
                </ul>
            </li>
<!--            <div class="divider"></div>
            <li class="group-cetak">
                <ul class="collapsible collapsible-accordion">
                    <li>
                        <a class="collapsible-header  waves-effect waves-teal"><i class="material-icons">print</i><span>Cetak Laporan</span></a>
                        <div class="collapsible-body">
                            <ul>
                                <li class="menu"><a href="#" class="link-cetak-laporan-realisasi"><i class="material-icons">note_add</i> <span>Penyerapan</span></a></li>
                            </ul>
                        </div>
                    </li>                    
                </ul>
            
            </li>-->
            <div class="divider"></div>
            <li class="menu"><a href="#" class="link-log-out"><i class="material-icons">power_settings_new</i> <span>Log Out</span></a></li>
            <div class="divider"></div>
        </ul>
    </header>
    
    <main>
        <div class="row">
            <div class="col s12 m12 l12">
                <h4>Laporan DAK Non Fisik Terkini</h4>
                <table id="dashboardstalap" class="display responsive " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Pemda</th>
                            <th>Akun</th>
                            <th>Tanggal</th> 
                            <th>Status Laporan  </th>                             
                        </tr>
                    </thead>
                    <tbody>                

                    </tbody>
                </table>
                    
            </div>
        </div>
        <div class="row">            
            <div class="col s12 m6 l6"><div id="container1"></div></div>
            <div class="col s12 m6 l6"><div id="container2"></div></div>
            <div class="col s12 m6 l6"><div id="container3"></div></div>
            <div class="col s12 m6 l6"><div id="container4"></div></div>
        </div>
                
    </main>
    <div id="loading" class="z-depth-1 circle">
        <img src="image/loader.gif"/>
    </div>

    <!--  Scripts-->
    <script th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script th:src="@{/js/materialize.min.js}" src="js/materialize.min.js"></script>
    <script th:src="@{/js/moment.min.js}" src="js/moment.min.js"></script>
    <script th:src="@{/js/jquery.autocomplete.min.js}" src="js/jquery.autocomplete.min.js"></script>
    <script th:src="@{/js/xscroll.js}" src="js/xscroll.js"></script>
    <!--<script src="js/daftar_anggota.js"></script>-->
    <!--<script src="js/daftar_pengumuman.js"></script>-->
     
    <script th:src="@{/js/init.js}" src="js/init.js"></script>
     <script th:src="@{/js/jquery.dataTables.min.js}" src="js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}" src="js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/sweetalert2.min.js}" src="js/sweetalert2.min.js"></script>
    <script th:src="@{/js/select2.min.js}" src="js/sweetalert2.min.js"></script>
    <script th:src="@{/js/jquery.numeric.min.js}" src="js/jquery.numeric.min.js"></script>
    <script th:src="@{/js/pdfmake.min.js}" src="js/jquery.numeric.min.js"></script>
    <script th:src="@{/js/vfs_fonts.js}" src="js/jquery.numeric.min.js"></script>
    <script th:src="@{/js/jquery.maskMoney.js}" src="js/jquery.numeric.min.js"></script>
    <script th:src="@{/code/highcharts.js}" src="js/jquery.numeric.min.js"></script>
    <script th:src="@{/code/highcharts-3d.js}" src="js/jquery.numeric.min.js"></script>
    <script th:src="@{/code/modules/exporting.js}" src="js/jquery.numeric.min.js"></script>
    
    <script>
        $('.link-log-out').on('click',function(){
            localStorage.clear();
            location.reload(); 
        });   
        
        
    </script>
    
     <script >
      // <![CDATA[
    $(document).ready(function(){
        var keyStr = "ABCDEFGHIJKLMNOP" +
               "QRSTUVWXYZabcdef" +
               "ghijklmnopqrstuv" +
               "wxyz0123456789+/" +
               "=";
function encode64(input) {
     input = escape(input);
     var output = "";
     var chr1, chr2, chr3 = "";
     var enc1, enc2, enc3, enc4 = "";
     var i = 0;

     do {
        chr1 = input.charCodeAt(i++);
        chr2 = input.charCodeAt(i++);
        chr3 = input.charCodeAt(i++);

        enc1 = chr1 >> 2;
        enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
        enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
        enc4 = chr3 & 63;

        if (isNaN(chr2)) {
           enc3 = enc4 = 64;
        } else if (isNaN(chr3)) {
           enc4 = 64;
        }

        output = output +
           keyStr.charAt(enc1) +
           keyStr.charAt(enc2) +
           keyStr.charAt(enc3) +
           keyStr.charAt(enc4);
        chr1 = chr2 = chr3 = "";
        enc1 = enc2 = enc3 = enc4 = "";
     } while (i < input.length);

     return output;
  }

  function decode64(input) {
     var output = "";
     var chr1, chr2, chr3 = "";
     var enc1, enc2, enc3, enc4 = "";
     var i = 0;

     // remove all characters that are not A-Z, a-z, 0-9, +, /, or =
     var base64test = /[^A-Za-z0-9\+\/\=]/g;
     if (base64test.exec(input)) {
        alert("There were invalid base64 characters in the input text.\n" +
              "Valid base64 characters are A-Z, a-z, 0-9, '+', '/',and '='\n" +
              "Expect errors in decoding.");
     }
     input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");

     do {
        enc1 = keyStr.indexOf(input.charAt(i++));
        enc2 = keyStr.indexOf(input.charAt(i++));
        enc3 = keyStr.indexOf(input.charAt(i++));
        enc4 = keyStr.indexOf(input.charAt(i++));

        chr1 = (enc1 << 2) | (enc2 >> 4);
        chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
        chr3 = ((enc3 & 3) << 6) | enc4;

        output = output + String.fromCharCode(chr1);

        if (enc3 != 64) {
           output = output + String.fromCharCode(chr2);
        }
        if (enc4 != 64) {
           output = output + String.fromCharCode(chr3);
        }

        chr1 = chr2 = chr3 = "";
        enc1 = enc2 = enc3 = enc4 = "";

     } while (i < input.length);

     return unescape(output);
  }

        var userData = JSON.parse(localStorage.userData);
                    var url =  localStorage.base_url+"/login";
                   var data        = JSON.stringify({'nmuser':userData.dataUser[0].nmuser,'pass':decode64(userData.dataUser[0].pass)});  
                                 $.ajax({
                    type: "POST",
                    url: url,
                    headers:{'Accept':'application/json','Content-Type':'application/json'},
                    data: data,
                    success: function(result) {
                      if(result.count == 1)
                      {
                         var data = JSON.stringify({'dataUser':result.dataUser});
                         localStorage.userData  = data;
                         var tahun = new Date();
                         var tahun = tahun.getFullYear();
                         localStorage.thang     = tahun;
                         var data = JSON.parse(data);
//                         console.log(data.dataUser[0].kdsatker);
                          function returnTpemda(selected) {
                                                return $.ajax({
                                                   url : localStorage.base_url+'/getpemdabykdsatker/'+data.dataUser[0].kdsatker,
                                                   data: {
                                                           issession: 1,
                                                           selector: selector
                                                       },
                                                   // dataType: "json",
                                                       async: false,
                                                       error: function() {
                                                           alert("Error occured")
                                                       }
                                                 });

                                             }

                            var selector    = !0;
                            var ajaxObj     = returnTpemda(selector);
                            var tPemda      = JSON.parse(ajaxObj.responseText); 
                            
                            function returnLevel(selected) {
                                                return $.ajax({
                                                   url : localStorage.base_url+'/getleveluser/'+data.dataUser[0].idlevel,
                                                   data: {
                                                           issession: 1,
                                                           selector: selector
                                                       },
                                                   // dataType: "json",
                                                       async: false,
                                                       error: function() {
                                                           alert("Error occured")
                                                       }
                                                 });

                                             }

                            var selector    = !0;
                            var ajaxObj     = returnLevel(selector);
                            var tLevel      = JSON.parse(ajaxObj.responseText); 
                          localStorage.levelUser = JSON.stringify(tLevel);
                          localStorage.pemda = JSON.stringify(tPemda);
//                          $("#login_button").html('Login');  
//                          $("#login_button").on('click');
//                           window.location = localStorage.base_url+'/home';
                         
                      }
                      else 
                      {
                          localStorage.clear();
                           window.location = window.location.origin+"/daknf/";
                      }
                    }
                });
       $('.browser-default').select2();
        $('.select2-container').css('padding-top','20px');
        $('.select2-selection__arrow').css('padding-top','66px');        
       $('select').material_select('destroy');
       
         $('#thang-setting').val(localStorage.thang).trigger("change");
        });
        
        $('#thang-setting').on('change',function(){
            localStorage.thang =  $('#thang-setting option:selected').val();     
//            location.reload();
        });
        
        
        
                  
            Highcharts.chart('container1', {
    chart: {
        type: 'column'
    },
    credits: {
    enabled: false
  },
    title: {
        text: 'Monthly Average Rainfall'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: [
            'Jan',
            'Feb',
            'Mar',
            'Apr',
            'May',
            'Jun',
            'Jul',
            'Aug',
            'Sep',
            'Oct',
            'Nov',
            'Dec'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Rainfall (mm)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Tokyo',
        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

    }, {
        name: 'New York',
        data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

    }, {
        name: 'London',
        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

    }, {
        name: 'Berlin',
        data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

    }]
});
        
        Highcharts.chart('container2', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
        }
    },
    credits: {
    enabled: false
  },
    title: {
        text: 'Browser market shares at a specific website, 2014'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }
    },
    series: [{
        type: 'pie',
        name: 'Browser share',
        data: [
            ['Firefox', 45.0],
            ['IE', 26.8],
            {
                name: 'Chrome',
                y: 12.8,
                sliced: true,
                selected: true
            },
            ['Safari', 8.5],
            ['Opera', 6.2],
            ['Others', 0.7]
        ]
    }]
});


        Highcharts.chart('container3', {
    chart: {
        zoomType: 'xy'
    },
    credits: {
    enabled: false
  },
    title: {
        text: 'Average Monthly Weather Data for Tokyo'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: [{
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        crosshair: true
    }],
    yAxis: [{ // Primary yAxis
        labels: {
            format: '{value}°C',
            style: {
                color: Highcharts.getOptions().colors[2]
            }
        },
        title: {
            text: 'Temperature',
            style: {
                color: Highcharts.getOptions().colors[2]
            }
        },
        opposite: true

    }, { // Secondary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Rainfall',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        labels: {
            format: '{value} mm',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        }

    }, { // Tertiary yAxis
        gridLineWidth: 0,
        title: {
            text: 'Sea-Level Pressure',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        labels: {
            format: '{value} mb',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        opposite: true
    }],
    tooltip: {
        shared: true
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        x: 80,
        verticalAlign: 'top',
        y: 55,
        floating: true,
        backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
    },
    series: [{
        name: 'Rainfall',
        type: 'column',
        yAxis: 1,
        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
        tooltip: {
            valueSuffix: ' mm'
        }

    }, {
        name: 'Sea-Level Pressure',
        type: 'spline',
        yAxis: 2,
        data: [1016, 1016, 1015.9, 1015.5, 1012.3, 1009.5, 1009.6, 1010.2, 1013.1, 1016.9, 1018.2, 1016.7],
        marker: {
            enabled: false
        },
        dashStyle: 'shortdot',
        tooltip: {
            valueSuffix: ' mb'
        }

    }, {
        name: 'Temperature',
        type: 'spline',
        data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
        tooltip: {
            valueSuffix: ' °C'
        }
    }]
});



Highcharts.chart('container4', {
    chart: {
        type: 'spline',
        inverted: true
    },
    credits: {
    enabled: false
  },
    title: {
        text: 'Atmosphere Temperature by Altitude'
    },
    subtitle: {
        text: 'According to the Standard Atmosphere Model'
    },
    xAxis: {
        reversed: false,
        title: {
            enabled: true,
            text: 'Altitude'
        },
        labels: {
            formatter: function () {
                return this.value + 'km';
            }
        },
        maxPadding: 0.05,
        showLastLabel: true
    },
    yAxis: {
        title: {
            text: 'Temperature'
        },
        labels: {
            formatter: function () {
                return this.value + '°';
            }
        },
        lineWidth: 2
    },
    legend: {
        enabled: false
    },
    tooltip: {
        headerFormat: '<b>{series.name}</b><br/>',
        pointFormat: '{point.x} km: {point.y}°C'
    },
    plotOptions: {
        spline: {
            marker: {
                enable: false
            }
        }
    },
    series: [{
        name: 'Temperature',
        data: [[0, 15], [10, -50], [20, -56.5], [30, -46.5], [40, -22.1],
            [50, -2.5], [60, -27.7], [70, -55.7], [80, -76.5]]
    }]
});

var table = $('#dashboardstalap').DataTable({
                        responsive: true,
                        "ordering": false,
                         "info":     false,
                        "bLengthChange": false,
                        bFilter: false, 
                        bInfo: false,
                         paging: false,
                        "autoWidth": true,
            //                    "bFilter":false,
                        "ajax": {
                            "url": localStorage.base_url + '/grid-dashboard-stalap/',
                            dataSrc: 'gridStalapDashboard',
                            "error":function(){
//                              alert('error bro');  
                            },

                        },
                        "columns": [
                            {"data": function (row, data, index, display) {
                                    return row[0]
                                }},
                            {"data": function (row, data, index, display) {
                                    return row[1]
                                }},
                            {"data": function (row, data, index, display) {
                                    return row[2]
                                }},
                            {"data": function (row, data, index, display) {
                                    return row[3]
                                }}
                        ],

                        "columnDefs": [
            //                            { "width": "10%", "targets": 0 },
            //                            {
            //                                        "targets": [0],
            //                                        "visible": false,
            //                                        "searchable": false
            //                            }

                        ],
                        select: true,

                    });
  


 setInterval(function(){ 
  var cek = $('body #dashboardstalap').length;
         
        if(cek==1){
            table.ajax.url(localStorage.base_url + '/grid-dashboard-stalap/').load();  
        }
    }, 50000);

      
        // ]]>
       </script>
    
</body>
</html>