<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>ALADIN BETA</title>
    <link th:href="@{/css/material_icons.css}" href="css/material-icons.css" rel="stylesheet"/>
    <link th:href="@{/css/materialize.min.css}" href="css/materialize.min.css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" href="css/style.css" rel="stylesheet"/>
</head>

<body>
    <div id="login">
        <div class="login_logo"><img width="120" th:src="@{/image/logo_splash.png}" src="image/logo_splash.png"/></div>
        <div class="login_name"><center><strong>APLIKASI PELAPORAN DAK NONFISIK</strong></center></div>
        <form class="login_form">
            <div class="input-field">
                <input type="text" id="username" placeholder=""/>
                <label class="action" style="font-size:1.3rem" >Username</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" placeholder=""/>
                <label class="action" style="font-size:1.3rem">Password</label>
            </div>
            <!--/* <div class="input-field">
               <select id="thang" class="browser-default" style="margin-bottom:20px ">
                   <option value="">--Pilih--</option>
                   <option th:each="p:  ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}" ></option>
               </select>
            </div> */-->
            
            <button id="login_button" class="btn waves-effect waves-light" type="button" style="width:100%">Login</button>
        </form>
    </div>
    <div id="loading" class="z-depth-1 circle">
        <img th:src="@{/image/loader.gif}" src="image/loader.gif"/>
    </div>

    <!--  Scripts-->
    <script th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script th:src="@{/js/materialize.min.js}" src="js/materialize.min.js"></script>
    <script th:src="@{/js/login.js}" src="js/login.js"></script>
    
</body>

</html>
