<div class="container">
    <h3 style="display:none" class="section-title">Tambah Laporan Realisasi</h3>
    <div class="section">
        <form id="form1" style="display:none">
            <div class="input-field hide" style="margin-bottom: 30px">
                <select id='thang' class="browser-default" style="margin-bottom:20px ">
                    <option value="0">--Pilih--</option>
                    <option th:each="p : ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}"></option>
                </select>
                <label for="thang" class="active">Tahun Anggaran</label>
                <div id="errorThang" class="error"></div>
            </div>
            <div class="input-field hide" style="margin-bottom: 30px">
                <select id='akun' class="browser-default" style="margin-bottom:20px ">
                    <option value="0">--Pilih--</option>   
                </select>
                <label for="akun" class="active">Akun</label>
                <div id="errorAkun" class="error"></div>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <select id='s-akun' class="browser-default" style="margin-bottom:20px ">
                    <option value="0">--Pilih--</option>
                </select>
                <label for="s-akun" class="active">Sub Akun</label>
                <div id="errorS-akun" class="error"></div>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <select id='periode' class="browser-default" style="margin-bottom:20px ">
                    <option value="0">--Pilih--</option>
                </select>
                <label for="s-akun" class="active">Periode</label>
                <div id="errorPeriode" class="error"></div>
            </div>
            <div class="input-field">
                <input id="nodaknf" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Nomor</label>
                <div id="errorNodaknf" class="error"></div>
            </div> 
            <div class="input-field">
                <input id="tgdaknf" type="date" class="datepicker" placeholder=""/>
                <label for="undang" class="active">Tanggal</label>
                <div id="errorTgdaknf" class="error"></div>
            </div>
            <div class="input-field">
                <input id="lokasi" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Lokasi</label>
                <div id="errorLokasi" class="error"></div>
            </div>
            <div class="input-field">
                <input id="jabpemda" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Jabatan Penanda Tangan</label>
                <div id="errorJabpemda" class="error"></div>
            </div>            
            <div class="input-field">
                <input id="nmpemda" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Nama Penanda Tangan</label>
                <div id="errorNmpemda" class="error"></div>
            </div> 
            <div class="input-field">
                <input id="nippemda" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">NIP Penanda Tangan</label>
                <div id="errorNippemda" class="error"></div>
            </div>            
            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Tambah</button>
            <div class=" col s12">
                <button id="update_form" class="btn waves-effect waves-light " style="width:100%;display:none"  type="button" >Perbaharui</button>
                <button id="cancel_form" class="btn waves-effect waves-light" style="width:100%;display:none"  type="button" >Batal</button>
            </div> 
        </form>        
    </div>
</div>
<div id="bordered" class="section scrollspy">
    <!--        <h2 class="header">Seluruh Laporan Realisasi</h2>-->
    <div class="row">
        <div class="col s12">
            <table id="myTableLaprealSkpd" class="display responsive " cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th >idLapreal</th>
                        <th class="min-phone-l min-tablet ">Tahun</th>
                        <th class="min-phone-l min-tablet ">Akun</th>
                        <th class="all">Sub Akun</th>
                        <th class="min-phone-l min-tablet ">Periode</th>
                        <th class="min-phone-l min-tablet ">Nomor</th>
                        <th class="min-phone-l min-tablet ">Tanggal</th> 
                        <th class="min-phone-l min-tablet ">Transfer</th>
                        <th class="min-phone-l min-tablet ">SP2D </th>
                        <th class="min-phone-l min-tablet ">Retur</th>
                        <th class="min-phone-l min-tablet ">Status</th>
                        <th class="min-phone-l min-tablet ">Aksi</th>
                    </tr>
                </thead>
                <tbody class='tbSp2d tbTran tbRetur tbCetak tbGukeg'>                

                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>-->
<style>
    .modal { width:100%!important }
/*    .modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow-x: auto; 
    overflow-y: scroll; 
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
.modal-content{
min-width: 300px;  adjust as necessary 
}*/
</style>
<!--<button  class="btn add_sp2d">Modal</button>-->
<div id="modalGukegPk2ukm" class="modal modal-fixed-footer">
    <div class=" modal-header">
         <!--<div class="fixed-action-btn top">-->
         <div class="section-title col s12">
             <div class="col s2 offset-s6">
                 <a class="btn-floating red modal-action modal-close " data-position="top" data-delay="50" data-tooltip="Keluar"><i class="fa fa-close"></i></a>
             </div>
             
         </div>
            
        <!--</div>-->
    </div>
    <div class="modal-content content_pk2ukm">
        <h4 class="section-title"> Tambah Penanda Tanggan</h4>    
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m3">
                        <input  id="jabskpd" type="text" class="validate"/>
                        <label class="active" for="nosp2d">Jabatan SKPD</label>
                        <div id="errorJabSKPD" class="error"></div>
                    </div>
                     <div class="input-field col s12 m3">
                        <input  id="nipskpd" type="text" class="validate"/>
                        <label class="active" for="nosp2d">NIP</label>
                        <div id="errorNipSKPD" class="error"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input  id="nmskpd" type="text" class="validate"/>
                        <label class="active" for="nosp2d">Nama</label>
                        <div id="errorNmSKPD" class="error"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input  class="datepicker"  id="tgskpd" type="text"/>
                        <label class="active" for="tgsp2d">Tanggal</label>
                        <div id="errorTgSKPD" class="error"></div>
                    </div>
                    
                </div>
            </form>
        </div>
        <h4 class="section-title"> Tambah Data Penggunaan Dana</h4>
        <div class="row">
            <form class="col s12" id='form'>
                <div class="row">
                    <div class="input-field col s12 m3">
                        <input id="keg" type="text"/>
                        <label class="active" for="ketSp2d">Jenis Kegiatan</label>
                        <div id="errorKeg" class="error"></div>
                    </div>
                    <div class="input-field col s12 m1">
                        <input id="latih" type="number"/>
                        <label class="active" for="latih">Pelatihan</label>
                        <div id="errorLatih" class="error"></div>
                    </div>
                    <div class="input-field col s12 m1">
                        <input id="damping" type="number"/>
                        <label class="active" for="damping">Pendampingan</label>
                        <div id="errorDamping" class="error"></div>
                    </div>
                     <div class="input-field col s12 m3">
                        <input  id="realisasi" type="text" class="validate"/>
                        <label class="active" for="realisasi">Realisasi Anggaran</label>
                        <div id="errorRealisasi" class="error"></div>
                    </div>
                </div>
            </form>            
            <div class="col s12">
                <button style='display:none' class="waves-effect waves-light btn-small   deep-purple darken-1  resset" type="button" >Batal</button>
                <button class="waves-effect waves-light btn-small  blue darken-1  saveGunaKeg" type="button" > Tambah</button>
                <button style='display:none'  class="waves-effect waves-light btn-small blue-grey  updateGunaKeg" type="button" >Edit</button>
                <button class="waves-effect waves-light btn-small  brown lighten-1 print_lagpu">Cetak Laporan Penggunaan</button>

            </div>
        </div>
        <!--<div id="bordered2" class="section scrollspy">-->
    <!--        <h2 class="header">Seluruh Laporan Realisasi</h2>-->
    <div id="bordered" class="section scrollspy">
   <div class="row">
           <table id="TableGukegPk2ukm" class="display">
              <thead>
                <tr>
                    <th>Jenis Kegiatan</th>
                    <th>Pelatihan</th>
                    <th>Pendampingan</th>
                    <th>Realisasi Anggaran</th>
                    <th>Aksi</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
        </div>
</div>
    </div>
    <div class="modal-footer">
        <div class="fixed-action-btn click-to-toggle">
<!--            <button class="btn-floating  orange darken-1 tooltipped saveGunaKegPk2ukm" type="button" data-position="bottom" data-delay="50" data-tooltip="Simpan"><i class="fa fa-save"></i>Simpan</button>   
            <button class="btn-floating   light-green accent-3  tooltipped print_gunakeg_pk2ukm" type="button" data-position="bottom" data-delay="50" data-tooltip="Cetak"><i class="fa fa-print"></i>Cetak</button>  -->
        </div>
        
        <!--<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>-->
        <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
    </div>
</div>
<script th:inline="javascript" >
    // <![CDATA[

    $(document).ready(function (param) {
        
        var Masalah = [[${Masalah}]];
        var userData = JSON.parse(localStorage.userData);
        $('.browser-default').select2();
        $('.select2-container').css('padding-top', '20px');
        $('.select2-selection__arrow').css('padding-top', '66px');
        $('select').material_select('destroy');
        $('.datepicker').pickadate({
//            onSet: function () {
//                this.close();
//            },
            clear: false,
            close: "Pilih",
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            format: 'yyyy-mm-dd',

        });
        var table = $('#myTableLaprealSkpd').DataTable({
            responsive: true,
            "bLengthChange": false,
            "cache": false,
            "autoWidth": true,
            "ajax": {
                "url": localStorage.base_url + '/grid-lapreal/' + userData.dataUser[0].kdsatker + '/' + localStorage.thang + '/' + localStorage.laprealIdAkun,
                dataSrc: 'content',

            },
            "columns": [
                {"title": "idlapreal"},
                {"data": function (row, data, index, display) {
                        return row[3]
                    }},
                {"data": function (row, data, index, display) {
                        return row[24]
                    }},
                {"data": function (row, data, index, display) {
                        return row[24]
                    }},
                {"data": function (row, data, index, display) {
                        return row[5]
                    }},
                {"data": function (row, data, index, display) {
                        return row[6]
                    }},
                {"data": function (row, data, index, display) {
                        return row[7]
                    }},
                {"data": function (row, data, index, display) {
                       var button = '';
                        var idlapreal = row[0];
                        var kdsatker = row[8];
                        var thang   = row[3];
                        var kdakun   = row[2];
                        var period   = row[4];
                        var kdprov   = row[9];
                        var kdpemda  = row[11];
                        var urprov  = row[10];
                        var urpemda  = row[12];
                        var data = idlapreal + ',' + kdsatker + ',' + thang + ',' + kdakun+','+period+','+kdprov+','+kdpemda+','+urprov+','+urpemda;
                        if (row[28] == 0)
                        {

                            button = '<button data-id ="' + data + '" class="btn-floating red modal_tran"><i class="material-icons">add</i></button>'

                        } else
                        {
                            button = '<button  data-id ="' + data + '"  class="btn-floating blue modal_tran"><i class="material-icons">mode_edit</i></button>'

                        }
                        return button;
                    }},
                {"data": function (row, data, index, display) {
                        var button = '';
                        var idlapreal = row[0];
                        var kdsatker = row[8];
                        var kdprov = row[9];
                        var kdpemda = row[11];
                        var data = idlapreal + ',' + kdsatker + ',' + kdprov + ',' + kdpemda;
                        if (row[25] == 0)
                        {

                            button = '<button data-id ="' + data + '" class="btn-floating red modal_spd2d"><i class="material-icons">add</i></button>'

                        } else
                        {
                            button = '<button  data-id ="' + data + '"  class="btn-floating blue modal_spd2d"><i class="material-icons">mode_edit</i></button>'

                        }
                        return button;
                    }},
                {"data": function (row, data, index, display) {
                        var button = '';
                        var idlapreal = row[0];
                        var kdsatker = row[8];
                        var kdprov = row[9];
                        var kdpemda = row[11];
                        var data = idlapreal + ',' + kdsatker + ',' + kdprov + ',' + kdpemda;
                        if (row[27] == 0)
                        {

                            button = '<button data-id ="' + data + '" class="btn-floating red modal_retur"><i class="material-icons">add</i></button>'

                        } else
                        {
                            button = '<button  data-id ="' + data + '"  class="btn-floating blue modal_retur"><i class="material-icons">mode_edit</i></button>'

                        }
                        return button;
                    }},
                {"data": function (row, data, index, display) {
                        return '<button data-id="' + row + '" class="waves-effect waves-light btn-small blue-grey update">Edit</button> <button data-id="' + row[0] + '" class="waves-effect waves-light btn-small red delete">Hapus</button><button data-id="' + row + '" class="waves-effect waves-light btn-small  brown lighten-1 cetak-lapreal">Cetak</button> ';
                    }},
                {"data": function (row, data, index, display) {
                       var button = '';
                        var idlapreal = row[0];
                        var idsakun = row[1];
                        var kdsatker = row[8];
                        var thang   = row[3];
                        var kdakun   = row[2];
                        var period   = row[4];
                        var kdprov   = row[9];
                        var satperiod = row[5];
                        var kdpemda  = row[11];
                        var jabskpd  = (row[19]==null)?"":row[19];
                        var nipskpd  = (row[20]==null)?"":row[20];
                        var nmskpd  =  (row[21]==null)?"": row[21];
                        var tgskpd  = (row[22]==null)?"": row[22];
                        var lokasi  = row[13];
                        var urprov  = row[10];
                        var urpemda  = row[12];
                        var data = idlapreal + ',' + kdsatker + ',' + thang + ',' + kdakun+','+period+','+kdprov+','+kdpemda+','+jabskpd+','+nipskpd+','+nmskpd+','+tgskpd+','+lokasi+','+satperiod+','+urprov+','+urpemda+','+idsakun;
                        if(row[33]<3)
                        {
                            if (row[31] == 0)
                            {

                                button = '<button data-id ="' + data + '" class="btn-floating red modal_gukeg"><i class="material-icons">add</i></button>'

                            } else
                            {
                                button = '<button  data-id ="' + data + '"  class="btn-floating blue modal_gukeg"><i class="material-icons">mode_edit</i></button>'

                            }
                        }
                        return button;
                    }}

            ],
            "columnDefs": [
//                            { "width": "10%", "targets": 0 },
                {
                    "targets": [0, 1, 2,3,7,8,9,10],
                    "visible": false,
                    "searchable": false
                }
            ],
            select: true
        });





        $('#cancel_form,.resset').off().on('click', function () {
            resetButton();
        });


        function grid()
        {
            table.ajax.url(localStorage.base_url + '/grid-lapreal/' + userData.dataUser[0].kdsatker + '/' + localStorage.thang + '/' + localStorage.laprealIdAkun).load();
            resetButton();
        }
        function searchProv(id)
        {
            var value = '';
            $.each(JSON.parse(localStorage.rProv), function (i, x) {
                if (x.kdprov == id)
                {
                    value = x.urprov;
                }
            });
            return value;

        }
//      $('#provinsi').on('change',function(){
//         $.each(JSON.parse(localStorage.rProv),function(i,x){
//             console.log(x.urprov);
//         }); 
//      });
        function resetButton()
        {
            
            $('.updateGunaKeg').hide();
            $('.print_lagpu').show();
            $('.saveGunaKeg').show();
            $('.resset').hide();
            document.getElementById("form").reset();
            $('.error').removeAttr('style').html("");

        }
       


        $('.content_pk2ukm').off().on('click', '.updateLapguPk2ukm', function () {
            $('.error').removeAttr('style').html("");
            $('.saveGunaKeg').hide();
            $('.resset').show();
            $('.updateGunaKeg').show();
            var data = $(this).attr('data-id').split(',');

            var id          = data[0];
            var idlapreal   = data[1];
            var keg         = data[3]; 
            var latih       = data[4];
            var damping     = data[5];
            var realisasi   = data[6];
            
            $("html, .content_pk2ukm").animate({scrollTop: 0}, 1000);

           
            localStorage.idlapgu  = id ;
            $('#keg').val(keg);
            $('#latih').val(latih);   
            $('#damping').val(damping);
            $('#realisasi').val(parseFloat(realisasi).toFixed(2));
        });
        
        
        
        
        
        
        
        
        
        //Lapgu
               function gridGukeg()
                    {            
                       var idLapreal = localStorage.refGukegLapgu.split(',');
                       
                        tableGukegPk2ukm.ajax.url(localStorage.base_url+'/getjsonpagukegpk2ukm/'+userData.dataUser[0].kdsatker+'/'+idLapreal[15]+'/'+idLapreal[0]).load();
                        
                        function getNilaiGukeg(selected) {
                                return $.ajax({
                                    url: localStorage.base_url + '/grid-lapreal/' + userData.dataUser[0].kdsatker + '/' + localStorage.thang + '/' + localStorage.laprealIdAkun,
                                    data: {
                                        issession: 1,
                                        selector: selector
                                    },
                                    // dataType: "json",
                                    async: false,
                                    error: function () {
                                        alert("Error occured");
                                    }
                                });
                            }
                        var selector = !0;
                        var ajaxObj = getNilaiGukeg(selector);
                        var resultGukeg = JSON.parse(ajaxObj.responseText);
                        
                        $.each(resultGukeg.content,function(i,row){
//                              console.log(row[0]+"===>"+idLapreal);
                            if(row[0]==idLapreal[0]){
                              
                                    var idlapreal = row[0];
                                        var idsakun = row[1];
                                        var kdsatker = row[8];
                                        var thang   = row[3];
                                        var kdakun   = row[2];
                                        var period   = row[4];
                                        var kdprov   = row[9];
                                        var satperiod = row[5];
                                        var kdpemda  = row[11];
                                        var jabskpd  = (row[19]==null)?"":row[19];
                                        var nipskpd  = (row[20]==null)?"":row[20];
                                        var nmskpd  =  (row[21]==null)?"": row[21];
                                        var tgskpd  = (row[22]==null)?"": row[22];
                                        var lokasi  = row[13];
                                        var urprov  = row[10];
                                        var urpemda  = row[12];
                                        var data = idlapreal + ',' + kdsatker + ',' + thang + ',' + kdakun+','+period+','+kdprov+','+kdpemda+','+jabskpd+','+nipskpd+','+nmskpd+','+tgskpd+','+lokasi+','+satperiod+','+urprov+','+urpemda+','+idsakun;
                                        localStorage.refGukegLapgu = data;  
                            }
                        })
                       
                    }
              var onModalHideGukeg = function (table) {
                            localStorage.removeItem('refGukegLapgu');
                            grid();
                        }
               $("tbody.tbGukeg").on('click', 'button.modal_gukeg', function () {
                   $('.errorGukeg').removeAttr('style').html("");
                   var data = $(this).attr('data-id');
                   var idLapreal = data.split(',');
                   $('#jabskpd').val(idLapreal[7]);
                   $('#nipskpd').val(idLapreal[8]);
                   $('#nmskpd').val(idLapreal[9]);
                   $('#tgskpd').val(idLapreal[10]);
                   
                   
                   localStorage.refGukegLapgu = data;  
                   tableGukegPk2ukm.ajax.url(localStorage.base_url+'/getjsonpagukegpk2ukm/'+userData.dataUser[0].kdsatker+'/'+idLapreal[15]+'/'+idLapreal[0]).load();
//                   tableSp2d.ajax.url(localStorage.base_url + '/grid-lapreal-sp2d/'+idLapreal[0]).load();
                   $('#modalGukegPk2ukm').openModal({
                       complete: onModalHideGukeg,
                       dismissible:false
                   });
               });
               
                var tableGukegPk2ukm =  $('#TableGukegPk2ukm').DataTable( {
                    responsive: true,
                    "bLengthChange": false,                    
//                    "autoWidth": true,
                    "bFilter":false,
                    "ajax": {
                         "url": localStorage.base_url+'/getjsonpagukegpk2ukm/'+userData.dataUser[0].kdsatker+'/'+0+"/"+0,
                        dataSrc: 'content',
                        
                    },
                    "columns": [ 
                      
                        { "data"    :  function( row, data, index,display){return row[2] }},
                        { "data"    :  function( row, data, index,display){return row[3] }},
                        { "data"    :  function( row, data, index,display){return row[4] }},
                        { "data"    :  function( row, data, index,display){return toRp2(row[5]) }},
                        { "data"    :  function( row, data, index,display){
                                        return '<button data-id="' + row + '" class="waves-effect waves-light btn-small blue-grey updateLapguPk2ukm">Edit</button> <button data-id="' + row[0] + '" class="waves-effect waves-light btn-small red deleteLapguPk2ukm">Hapus</button> ';
                         }},
                    
                    ],
                    "columnDefs": [
//                            { "width": "10%", "targets": 0 },
//                            {
//                                        "targets": [0],
//                                        "visible": false,
//                                        "searchable": false
//                            }
                          ],
                    select: true,
//                    "fnInitComplete": function(oSettings, json) {
//                                           $('.nilai').maskMoney({ thousands:'.', decimal:',', affixesStay: true});
//                                          }
                } );
    
        $('.saveGunaKeg').off().on('click', function () {
                $('.error').removeAttr('style').html("");    
                var idLapreal = localStorage.refGukegLapgu.split(',');
                var jabskpd   = $('#jabskpd').val();
                if(jabskpd=='')
                {
                    jabskpd = 'jabskpd';
                }
                var nipskpd   = $('#nipskpd').val();
                if(nipskpd=='')
                {
                    nipskpd = 'nipskpd';
                }
                var nmskpd   = $('#nmskpd').val();
                if(nmskpd=='')
                {
                    nmskpd = 'nmspkd';
                }
                 var tgskpd   = $('#tgskpd').val();
                if(tgskpd=='')
                {
                    tgskpd = "1970-00-00";
                }
               
             
                
                var keg = $('#keg').val();
                if(keg=='')
                {
                    $('#errorKeg').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Jenis Kegiatan Harus Terisi</span>");
                     status += 1;
                }
                
                var status = 0;
                var latih = $('#latih').val();
                if(latih=='')
                {
                    $('#errorLatih').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pelatihan Harus Terisi</span>");
                     status += 1;
                }
                var damping = $('#damping').val();
                if(damping=='')
                {
                    $('#errorDamping').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pendampingan Harus Terisi</span>");
                     status += 1;
                }
                 var realisasi = $('#realisasi').val();
                if(realisasi=='')
                {
                    $('#errorRealisasi').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Realisasi Harus Terisi</span>");
                     status += 1;
                }

                var realisasi1 = realisasi.replace(/\,/g,'');
                var realisasi2 = realisasi1.replace(/\./g,'_'); 

                idLapreal = idLapreal[0];
                
                 var skpd = JSON.stringify({'jabskpd'           : jabskpd
                                                ,'nipskpd'      : nipskpd
                                                ,'nmskpd'       : nmskpd
                                                ,'tgskpd'       : tgskpd
                                                ,'keg'          : keg
                                                ,'latih'        : latih
                                                ,'damping'      : damping
                                                ,'realisasi'    : realisasi2
                                            });
                                 // console.log(status);
                      if(status==0)
                     {   
                         $.ajax({
                            type    :"PUT",
                            url     :localStorage.base_url+'/save-lapgu-lapreal-pk2ukm/'+idLapreal,
                            headers:{'Accept':'application/json','Content-Type':'application/json'},
                            data    : skpd,
                            success :function(result){
                               $("html, .modal-content").animate({ scrollTop: $(document).height() }, 1000);
                               gridGukeg();
                               Materialize.toast('Upadate Sukses', 1000);
                               resetButton();
                            },
                            error : function(result){
                               
                            }              
                         });
                     }else{
                        $("html,.modal-content").animate({ scrollTop: 0}, 1000);
                     }
           
            });

        $('#TableGukegPk2ukm').off().on('click', '.deleteLapguPk2ukm', function () {
            var id = $(this).attr('data-id');
            swal({
                title: 'Anda Yakin?',
                text: "Menghapus Data ini!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Ya',
                cancelButtonText: 'Batal',
            }).then(function () {
                $.ajax({
                    type: "DELETE",
                    url: localStorage.base_url + '/delete-lapgu-pk2ukm/' + id,
                    headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                    success: function (data) {
                        //console.log(data);
                        gridGukeg();
                    }
                });
                swal(
                        'Hapus',
                        'Data berhasil dihapus',
                        'success'
                        )
            }, function (dismiss) {
                // dismiss can be 'cancel', 'overlay',
                // 'close', and 'timer'
                if (dismiss === 'cancel') {
                    //    swal(
                    //      'Cancelled',
                    //      'Your imaginary file is safe :)',
                    //      'error'
                    //    )
                }
            })

        });


        $('.updateGunaKeg').off().on('click', function () {
                $('.error').removeAttr('style').html("");    
                var idLapreal = localStorage.refGukegLapgu.split(',');
                var jabskpd   = $('#jabskpd').val();
                if(jabskpd=='')
                {
                    jabskpd = 'jabskpd';
                }
                var nipskpd   = $('#nipskpd').val();
                if(nipskpd=='')
                {
                    nipskpd = 'nipskpd';
                }
                var nmskpd   = $('#nmskpd').val();
                if(nmskpd=='')
                {
                    nmskpd = 'nmspkd';
                }
                 var tgskpd   = $('#tgskpd').val();
                if(tgskpd=='')
                {
                    tgskpd = "1970-00-00";
                }
               
              
                
                var keg = $('#keg').val();
                if(keg=='')
                {
                    $('#errorKeg').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Jenis Kegiatan Harus Terisi</span>");
                     status += 1;
                }
                
                var status = 0;
                var latih = $('#latih').val();
                if(latih=='')
                {
                    $('#errorLatih').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pelatihan Harus Terisi</span>");
                     status += 1;
                }
                var damping = $('#damping').val();
                if(damping=='')
                {
                    $('#errorDamping').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pendampingan Harus Terisi</span>");
                     status += 1;
                }
                 var realisasi = $('#realisasi').val();
                if(realisasi=='')
                {
                    $('#errorRealisasi').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Realisasi Harus Terisi</span>");
                     status += 1;
                }
                

                var realisasi1 = realisasi.replace(/\,/g,'');

                idLapreal = idLapreal[0];
                
                 var skpd = JSON.stringify({'jabskpd'           : jabskpd
                                                ,'nipskpd'      : nipskpd
                                                ,'nmskpd'       : nmskpd
                                                ,'tgskpd'       : tgskpd
                                                ,'keg'          : keg
                                                ,'latih'        : latih
                                                ,'damping'      : damping
                                                ,'realisasi'    : realisasi1
                                                ,'idlapreal'    : idLapreal
                                            });
                if(typeof (localStorage.idlapgu) != 'undefined') 
                {
                   if (status == 0 ) {                                  
                                $.ajax({
                                    type: "PUT",
                                    url: localStorage.base_url + '/update-lapgu-lapreal-pk2ukm/'+localStorage.idlapgu,
                                    headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                                    data: skpd,
                                    success: function (result) {
                                        $("html, .modal-content").animate({ scrollTop: $(document).height() }, 1000);
                                        gridGukeg();
                                        Materialize.toast('Upadate Sukses', 1000);
                                        resetButton();
                                    },
                                    error: function (result) {

                                    }
                                });
                                


                    } else{
                        $("html, .modal-content").animate({scrollTop: 0}, 1000);
                    } 
                }
                
        });
       $('#realisasi').maskMoney({ thousands:',', decimal:'.', affixesStay: true});
    });



    function toRp(a, b, c, d, e) {
        e = function (f) {
            return f.split('').reverse().join('')
        };
        b = e(parseInt(a, 10).toString());
        for (c = 0, d = ''; c < b.length; c++) {
            d += b[c];
            if ((c + 1) % 3 === 0 && c !== (b.length - 1)) {
                d += '.';
            }
        }
        return'Rp.\t' + e(d)
    }
    function toRp2(a, b, c, d, e) {
        e = function (f) {
            return f.split('').reverse().join('')
        };
        b = e(parseInt(a, 10).toString());
        for (c = 0, d = ''; c < b.length; c++) {
            d += b[c];
            if ((c + 1) % 3 === 0 && c !== (b.length - 1)) {
                d += '.';
            }
        }
        return  e(d)
    }
    function toAngka(rp){return parseInt(rp.replace(/,.*|\D/g,''),10)}
    // ]]>
</script>



<script>
     // <![CDATA[
        $(document).ready(function(){
                $(".print_lagpu").on("click",function(){
                    var dataCetak = localStorage.refGukegLapgu.split(',');
                    // console.log(dataCetak);
                    var idlapreal  = dataCetak[0];
                     var kdsatker  = dataCetak[1];
                    var urprov  = dataCetak[13];
                    var urpemda   = dataCetak[14];
                     var idsakun   = dataCetak[15];
//                    var kdsatker  = dataCetak[8];
//                    var kdakun    = dataCetak[2];
//                    var period    = dataCetak[4];
                    var nmpemda = dataCetak[9];
                    var tgdaknf   = getFormattedDate(dataCetak[10]);
                    var thang     = dataCetak[2];
//                    var urperiod  = dataCetak[5];
//                    var satperiod = dataCetak[29]
                    var satperiod  = dataCetak[12];
                    var jabpemda  = dataCetak[7];
                    var nippemda  = dataCetak[8];
                    var lokasi    = dataCetak[11];
//                    console.log(sakun);
                    function getJsonPrintGukegPk2ukm(selected, thang) {
                        return $.ajax({
                            url: localStorage.base_url + '/getjsonprintlapgupk2ukm/'+idlapreal,
                            data: {
                                issession: 1,
                                selector: selector
                            },
                            // dataType: "json",
                            async: false,
                            error: function () {
                                alert("Error occured")
                            }
                        });

                    }
                     var selector = !0;
                     var ajaxObj = getJsonPrintGukegPk2ukm(selector, $(this).val());
                     var data = JSON.parse(ajaxObj.responseText);
 //                    var count = data.content.length;
                     
                    
function buildTablePk2ukm(data, columns) {
               var body = [];
               var i = 0;               
               var latih = 0;
               var damping = 0;
               var total = 0;
               var rowspan = data.length;
               var pagu =0;
               console.log(data);
               data.forEach(function(row) {
                   var dataRow = [];

                   // columns.forEach(function(column) {
                   //     dataRow.push({'text':row[column].toString(),'aligement':'tester '});
                   // })
                 
                 
                 latih      += row[3];
                 damping    += row[4];
                 total      += row[5];
                 pagu = row[8];
                   dataRow.push({text: ++i, style: 'subheader',alignment:'center'});
                   // if(i==1)
                   // {
                   //  dataRow.push({text:'',rowSpan: rowspan,style:'tableExample'});
                   // }
                   // else
                   // {
                   // if(i==1){
                        dataRow.push({text:'',border:[false, false, false, false]}); 
                    //}
                   
                   // }
                   
                   dataRow.push({text: row[2], style: 'subheader',alignment:'left'});
                   dataRow.push({text: row[3], style: 'subheader',alignment:'center'});
                   dataRow.push({text: row[4], style: 'subheader',alignment:'center'});
                   dataRow.push({text: toRp2(row[5]), style: 'subheader',alignment:'right'});
//                   [
//                    {text: 'Nomor', style: 'subheader',alignment:'center'},
//                    {text: 'Nomor', style: 'subheader',alignment:'center'},
//                    {text: 'Nomor', style: 'subheader',alignment:'center'},
//                    {text: 'Nomor', style: 'subheader',alignment:'center'},
//                    {text: 'Nomor', style: 'subheader',alignment:'center'},
//
//                    ],
//                    [
//                      {text: '', style: 'subheader',alignment:'center'},
//                      {text: 'Jumlah',colSpan: 2 ,style:'subheader2',alignment:'center'},
//                      {},
//                      {text: '', style: 'subheader',alignment:'center'},
//                     {text: '', style: 'subheader',alignment:'center'},
//
//                    ]
                   body.push(dataRow);
               });
               
               var dataJml = [];               
                dataJml.push({text: toRp(pagu), style: 'subheader',colSpan:2, alignment:'right'});
                dataJml.push({text: '', style: 'subheader', alignment:'center'});
                dataJml.push({text: 'Total',style:'subheader2',alignment:'center'});               
                dataJml.push({text: damping, style: 'subheader',alignment:'center'});
                dataJml.push({text: latih, style: 'subheader',alignment:'center'});
                dataJml.push({text: toRp(total), style: 'subheader',alignment:'right'});
                body.push(dataJml);
               return body;
           }


           var result = buildTablePk2ukm(data.content);
           // console.log(data.content);
           var insert = {"body":[
                                  [
                                     {text: '\nNo', rowSpan:2, style: 'tableHeader',alignment:'center'},
                                     {text: '\nPAGU', rowSpan:2, style: 'tableHeader',alignment:'center'},
                                     {text: '\nJENIS KEGIATAN', rowSpan:2, style: 'tableHeader',alignment:'center'},
                                     {text: 'SASARAN (Jumlah)',colSpan: 2 ,style: 'tableHeader',alignment:'center'},
                                     {},
                                     {text: '\nREALISASI\nANGGARAN', rowSpan:2, style: 'tableHeader',alignment:'center'},
                                     // {text: 'Ket.',rowSpan:2, style: 'tableHeader',alignment:'center'},
                                   ],
                                   [
                                     {},
                                     {},
                                     {},
                                     {text: 'PELATIHAN\n(ORANG)', style: 'subheader2',alignment:'center'},
                                     {text: 'PENDAMPINGAN\n(ORANG)',style: 'subheader2',alignment:'center'},
                                     {},
                                     // {},

                                 ],  
//
//                                 ]
                               ]                      
                         };
            var insert1 = {"body":[
                                           [ 
                                               {text: 'Demikian laporan ini dibuat dengan sebenarnya.', style: 'subheader', colSpan:4, alignment: 'left'}, 
                                               {}, 
                                               {}, 
                                               {}, 
                                           ],
                                         ]

                                 };

                   var insert2 = {"body":[
                                           [ 
                                             '', 
                                               {text: lokasi+', '+tgdaknf+'\n'+jabpemda+'\n\n\n\n\n'+nmpemda+'\nNIP '+nippemda, style: 'subheader',  alignment: 'left'}, 
                                           ],
                                         ]
                                 };

           for(var loop =0 ; loop<= (result.length-1) ;loop++)
            { 
              insert.body.push(result[loop]);
            }

               function tableSample(data, columns) {
               return {
                   table: {
                     headerRows: 2,
                     dontBreakRows: true,
                     widths:[20,105,105,75,75,110],
                     keepWithHeaderRows: 1,
                     body: insert.body,

                   },
                   //layout: 'noBorders'
               };
           }
           function tableSample1(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[10,350,20,120],
                             keepWithHeaderRows: 1,
                             body: insert1.body,

                           },
                           layout: 'noBorders'
                       };
                   }


                   function tableSample2(data, columns) {
                       return {
                           table: {
                             headerRows: 1,
                             dontBreakRows: true,
                             widths:[350,220],
                             keepWithHeaderRows: 1,
                             body: insert2.body,

                           },
                           layout: 'noBorders'
                       };
                   }
                     
               var docDefinition = {
               //pageMargins: [ 10, 70, 10, 20 ],
               pageSize: 'A4',
               // pageOrientation: 'landscape',
               content: [
                 {
                                   alignment: 'center',
                                   columns: [
                                           {
                                                   text: 'LAPORAN REALISASI PENGGUNAAN\n'
                                                        +'DANA PENINGKATAN KAPASITAS KOPERASI, USAHA KECIL\n'
                                                        +'DAN MENENGAH'+localStorage.nmakunSk2.toUpperCase()+'\n'
                                                        +urprov.toUpperCase()+' TAHUN ANGGARAN '+thang+' '+satperiod.toUpperCase()+'\n\n'
                                           }
                                   ],

                           },
               '\n',       
               '\n',  
               '\n',          
                tableSample(),
                '\n',  
                tableSample1(),
                 '\n',  
                tableSample2(),
               ],
               styles: {
                 header1: {
                   fontSize: 14,
                   bold: true,
                   margin: [0, 0, 0, 10]
                 },
                 header2: {
                   fontSize: 18,
                   bold: true,
                   margin: [0, 0, 0, 10]
                 },
                 subheader: {
                   fontSize: 10,
                   //bold: true,
                   //margin: [0, 10, 0, 5]
                 },
                 subheader2: {
                   fontSize: 10,
                   bold: true,
                   //margin: [0, 10, 0, 5]
                 },
                 title: {
                   fontSize: 11,
                   bold: true,

                 },
                 content: {
                   fontSize: 11,
                 },
                 tableExample: {
                   margin: [0, 0, 0, 0]
                 },
                 tableHeader: {
                   bold: true,
                   fontSize: 12,
                   margin: [0, 0, 0, 0],
                   color: 'black'
                 },
                 tableHeader2: {
                   bold: true,
                   fontSize: 12,
                   margin: [0, 20, 0, 0],
                   color: 'black'
                 },
                 tableHeader3: {
                   bold: true,
                   fontSize: 12,
                   margin: [0, 5, 0, 0],
                   color: 'black'
                 }
               },
               defaultStyle: {
                 // alignment: 'justify'
               }

               };

            pdfMake.createPdf(docDefinition).open();
                });
   });
   function getFormattedDate(input) {
    var m_names = new Array("Januari", "Pebruari", "Maret", 
        "April", "Mei", "Juni", "Juli", "Agustus", "September", 
        "Oktober", "Nopember", "Desember");

        var d = new Date(input);
        var curr_date = d.getDate();
        var curr_month = d.getMonth();
        var curr_year = d.getFullYear();
        var result = curr_date + " " + m_names[curr_month] 
        + " " + curr_year;

    return result;
    }
   // ]]>   
</script>