<div class="container">
    <h3 style="display:none" class="section-title">Tambah Laporan Realisasi</h3>
    <div class="section">
        <form id="form" style="display:none">
            <div class="input-field hide" style="margin-bottom: 30px">
                <select id='thang' class="browser-default" style="margin-bottom:20px ">
                    <option value="0">--Pilih--</option>
                    <option th:each="p : ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}"></option>
                </select>
                <label for="thang" class="active">Tahun Anggaran</label>
                <div id="errorThang" class="error"></div>
            </div>
            <div class="input-field hide" style="margin-bottom: 30px">
                <select id='akun' class="browser-default" style="margin-bottom:20px ">
                    <option value="0">--Pilih--</option>   
                </select>
                <label for="akun" class="active">Akun</label>
                <div id="errorAkun" class="error"></div>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <select id='s-akun' class="browser-default" style="margin-bottom:20px ">
                    <option value="0">--Pilih--</option>
                </select>
                <label for="s-akun" class="active">Sub Akun</label>
                <div id="errorS-akun" class="error"></div>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <select id='periode' class="browser-default" style="margin-bottom:20px ">
                    <option value="0">--Pilih--</option>
                </select>
                <label for="s-akun" class="active">Periode</label>
                <div id="errorPeriode" class="error"></div>
            </div>
            <div class="input-field">
                <input id="nodaknf" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Nomor</label>
                <div id="errorNodaknf" class="error"></div>
            </div> 
            <div class="input-field">
                <input id="tgdaknf" type="date" class="datepicker" placeholder=""/>
                <label for="undang" class="active">Tanggal</label>
                <div id="errorTgdaknf" class="error"></div>
            </div>
            <div class="input-field">
                <input id="lokasi" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Lokasi</label>
                <div id="errorLokasi" class="error"></div>
            </div>
            <div class="input-field">
                <input id="jabpemda" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Jabatan Penanda Tangan</label>
                <div id="errorJabpemda" class="error"></div>
            </div>            
            <div class="input-field">
                <input id="nmpemda" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Nama Penanda Tangan</label>
                <div id="errorNmpemda" class="error"></div>
            </div> 
            <div class="input-field">
                <input id="nippemda" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">NIP Penanda Tangan</label>
                <div id="errorNippemda" class="error"></div>
            </div>            
            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Tambah</button>
            <div class=" col s12">
                <button id="update_form" class="btn waves-effect waves-light " style="width:100%;display:none"  type="button" >Perbaharui</button>
                <button id="cancel_form" class="btn waves-effect waves-light" style="width:100%;display:none"  type="button" >Batal</button>
            </div> 
        </form>        
    </div>
</div>
<div id="bordered" class="section scrollspy">
    <!--        <h2 class="header">Seluruh Laporan Realisasi</h2>-->
    <div class="row">
        <div class="col s12">
            <table id="myTableLaprealSkpd" class="display responsive " cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th >idLapreal</th>
                        <th class="min-phone-l min-tablet ">Tahun</th>
                        <th class="min-phone-l min-tablet ">Akun</th>
                        <th class="all">Sub Akun</th>
                        <th class="min-phone-l min-tablet ">Periode</th>
                        <th class="min-phone-l min-tablet ">Nomor</th>
                        <th class="min-phone-l min-tablet ">Tanggal</th> 
                        <th class="min-phone-l min-tablet ">Transfer</th>
                        <th class="min-phone-l min-tablet ">SP2D </th>
                        <th class="min-phone-l min-tablet ">Retur</th>
                        <th class="min-phone-l min-tablet ">Status</th>
                        <th class="min-phone-l min-tablet ">Aksi</th>
                    </tr>
                </thead>
                <tbody class='tbSp2d tbTran tbRetur tbCetak tbGukeg'>                

                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>-->
<style>
    .modal { width:100%!important }
/*    .modal {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow-x: auto; 
    overflow-y: scroll; 
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
.modal-content{
min-width: 300px;  adjust as necessary 
}*/
</style>
<!--<button  class="btn add_sp2d">Modal</button>-->
<div id="modalSp2d" class="modal modal-fixed-footer">
    <div class=" modal-header">
         <!--<div class="fixed-action-btn top">-->
         <div class="section-title col s12">
             <div class="col s2 offset-s6">
                 <a class="btn-floating red modal-action modal-close " data-position="top" data-delay="50" data-tooltip="Keluar"><i class="fa fa-close"></i></a>
             </div>
             
         </div>
            
        <!--</div>-->
    </div>
    <div class="modal-content content_sp2d">
        <h4 class="section-title"> Tambah Data SP2D</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m3">
                        <input  id="nosp2d" type="text" class="validate"/>
                        <label class="active" for="nosp2d">No SP2D</label>
                        <div id="errorNoSp2d" class="errorSp2d"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input  class="datepicker"  id="tgsp2d" type="text"/>
                        <label class="active" for="tgsp2d">Tanggal SP2D</label>
                        <div id="errorTgSp2d" class="errorSp2d"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input id="nilaiSp2d" type="text"/>
                        <label class="active" for="nilaiSp2d">Nilai</label>
                        <div id="errorNilaiSp2d" class="errorSp2d"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input id="ketSp2d" type="text"/>
                        <div id="errorKetSp2d" class="errorSp2d"></div>
                        <label class="active" for="ketSp2d">Keterangan</label>
                    </div>
                </div>
            </form>            
            <div class="col s12">
                <button style='display:none' class="btn-floating  deep-purple darken-1 tooltipped resset" type="button" data-position="bottom" data-delay="50" data-tooltip="Batal"><i class="material-icons">restore</i>Resset</button>
                <button class="btn-floating  orange darken-1 tooltipped saveSp2d" type="button" data-position="bottom" data-delay="50" data-tooltip="Simpan"><i class="fa fa-save" aria-hidden="true"></i> Tambah</button>
                <button style='display:none'  class="btn-floating  light-green accent-3 tooltipped updateFormSp2d" type="button" data-position="bottom" data-delay="50" data-tooltip="Perbaharui"><i class="fa fa-save" aria-hidden="true"></i>Perbaharui</button>
                <a class="btn-floating green print_sp2d"><i class="material-icons">print</i></a>
            </div>
        </div>
        <!--<div id="bordered2" class="section scrollspy">-->
    <!--        <h2 class="header">Seluruh Laporan Realisasi</h2>-->
    <div class="row">
        <div class="col s12">
            <table id="myTableLaprealSkpdSp2d" class="display responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>No SP2D</th>
                        <th>No SP2D</th>
                        <th>No SP2D</th>
                        <th>Tanggal</th>
                        <th>Nilai</th>    
                        <th>Keterangan</th> 
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>                

                </tbody>
            </table>
        </div>
    </div>
<!--</div>-->
    </div>
    
    
    
    <div class="modal-footer">
<!--        <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large  orange darken-1">
                <i class="material-icons">menu</i>
            </a>
            <ul>
                <li><a class="btn-floating red modal-action modal-close " data-position="top" data-delay="50" data-tooltip="Keluar"><i class="material-icons">shuffle</i></a></li>    
                <li><button class="btn-floating  deep-purple darken-1 tooltipped resset" type="button" data-position="bottom" data-delay="50" data-tooltip="Resset"><i class="material-icons">restore</i>Resset</button></li>
                <li><button class="btn-floating  orange darken-1 tooltipped saveSp2d" type="button" data-position="bottom" data-delay="50" data-tooltip="Tambah"><i class="material-icons">playlist_add</i>Tambah</button></li>
                <li><button class="btn-floating  light-green accent-3 tooltipped updateFormSp2d" type="button" data-position="bottom" data-delay="50" data-tooltip="Perbaharui"><i class="material-icons">mode_edit</i>Perbaharui</button></li>
                <li><a class="btn-floating green print_sp2d"><i class="material-icons">print</i></a></li>
            </ul>
        </div>-->
        <!--<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>-->
        <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
    </div>
</div>


<div id="modalRetur" class="modal modal-fixed-footer">
    <div class=" modal-header">
         <!--<div class="fixed-action-btn top">-->
         <div class="section-title col s12">
             <div class="col s2 offset-s6">
                 <a class="btn-floating red modal-action modal-close " data-position="top" data-delay="50" data-tooltip="Keluar"><i class="fa fa-close"></i></a>
             </div>
             
         </div>
            
        <!--</div>-->
    </div>
    <div class="modal-content content_retur">
        <h4 class="section-title"> Tambah Data Retur</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m3">
                        <input  id="noretur" type="text" class="validate"/>
                        <label class="active" for="nosp2d">No Retur</label>
                        <div id="errorNoRetur" class="errorRetur"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input  class="datepicker"  id="tgretur" type="text"/>
                        <label class="active" for="tgsp2d">Tanggal Retur</label>
                        <div id="errorTgRetur" class="errorRetur"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input id="nilaiRetur" type="text"/>
                        <label class="active" for="nilaiSp2d">Nilai</label>
                        <div id="errorNilaiRetur" class="errorRetur"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input id="ketRetur" type="text"/>
                        <div id="errorKetRetur" class="errorRetur"></div>
                        <label class="active" for="ketSp2d">Keterangan</label>
                    </div>
                    
                </div>
            </form>
            <div class="col s12">
                <button style='display:none' class="btn-floating  deep-purple darken-1 tooltipped resset" type="button" data-position="bottom" data-delay="50" data-tooltip="Batal"><i class="material-icons">restore</i>Resset</button>
                <button class="btn-floating  orange darken-1 tooltipped saveRetur" type="button" data-position="bottom" data-delay="50" data-tooltip="Simpan"><i class="fa fa-save" aria-hidden="true"></i> Tambah</button>
                <button style='display:none'  class="btn-floating  light-green accent-3 tooltipped updateFormRetur" type="button" data-position="bottom" data-delay="50" data-tooltip="Perbaharui"><i class="fa fa-save" aria-hidden="true"></i>Perbaharui</button>
                <a class="btn-floating green print_retur"><i class="material-icons">print</i></a>
            </div>
        </div>
        <!--<div id="bordered2" class="section scrollspy">-->
    <!--        <h2 class="header">Seluruh Laporan Realisasi</h2>-->
    <div class="row">
        <div class="col s12">
            <table id="myTableLaprealSkpdRetur" class="display ">
                <thead>
                    <tr>
                        <th>No Retur</th>
                        <th>No Retur</th>
                        <th>No Retur</th>
                        <th>Tanggal</th>
                        <th>Nilai</th>    
                        <th>Keterangan</th> 
                        <th>Aksi</th>                       
                    </tr>
                </thead>
                <tbody>                

                </tbody>
            </table>
        </div>
    </div>
<!--</div>-->
    </div>
    
    
    
    <div class="modal-footer">
       
        <!--<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>-->
        <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
    </div>
</div>

<div id="modalTran" class="modal modal-fixed-footer">
    <div class=" modal-header">
         <!--<div class="fixed-action-btn top">-->
         <div class="section-title col s12">
             <div class="col s2 offset-s6">
                 <a class="btn-floating red modal-action modal-close " data-position="top" data-delay="50" data-tooltip="Keluar"><i class="fa fa-close"></i></a>
             </div>
             
         </div>
            
        <!--</div>-->
    </div>
    <div class="modal-content content_tran">
        <h4 class="section-title"> Tambah Data Transfer</h4>       
        <!--<div id="bordered2" class="section scrollspy">-->
    <!--        <h2 class="header">Seluruh Laporan Realisasi</h2>-->
   <div class="row">
            <form class="col s12 frmDtran">
                
            </form>
        </div>
<!--</div>-->
    </div>
    <div class="modal-footer">
        <div class="fixed-action-btn click-to-toggle">
            <button class="btn-floating  orange darken-1 tooltipped saveDtran" type="button" data-position="bottom" data-delay="50" data-tooltip="Import"><i class="fa fa-save"></i>Import</button>   
        </div>
        <!--<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>-->
        <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
    </div>
</div>
<div id="modalGukeg" class="modal modal-fixed-footer">
    <div class=" modal-header">
         <!--<div class="fixed-action-btn top">-->
         <div class="section-title col s12">
             <div class="col s2 offset-s6">
                 <a class="btn-floating red modal-action modal-close " data-position="top" data-delay="50" data-tooltip="Keluar"><i class="fa fa-close"></i></a>
             </div>
             
         </div>
            
        <!--</div>-->
    </div>
    <div class="modal-content content_tran">
        <h4 class="section-title"> Tambah Data Penggunaan Dana</h4>    
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m3">
                        <input  id="jabskpd" type="text" class="validate"/>
                        <label class="active" for="nosp2d">Jabatan SKPD</label>
                        <div id="errorJabSKPD" class="errorTTDSKPD"></div>
                    </div>
                     <div class="input-field col s12 m3">
                        <input  id="nipskpd" type="text" class="validate"/>
                        <label class="active" for="nosp2d">NIP</label>
                        <div id="errorNipSKPD" class="errorTTDSKPD"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input  id="nmskpd" type="text" class="validate"/>
                        <label class="active" for="nosp2d">Nama</label>
                        <div id="errorNmSKPD" class="errorTTDSKPD"></div>
                    </div>
                    <div class="input-field col s12 m3">
                        <input  class="datepicker"  id="tgskpd" type="text"/>
                        <label class="active" for="tgsp2d">Tanggal</label>
                        <div id="errorTgSKPD" class="errorTTDSKPD"></div>
                    </div>
                    
                </div>
            </form>
        </div>
        <!--<div id="bordered2" class="section scrollspy">-->
    <!--        <h2 class="header">Seluruh Laporan Realisasi</h2>-->
    <div id="bordered" class="section scrollspy">
   <div class="row">
           <table id="TableGukeg" class="display">
              <thead>
                <tr>
                    <th>No Kegiatan</th>
                    <th>Kegiatan</th>
                    <th>Jumlah Pagu</th>
                    <th>Satuan Pagu</th>
                    <th>Pagu APBNP</th>
                    <th>Jumlah </th>
                    <th>Realisasi</th>
                    <th>Kesesuaian DPA</th>
                    <th>Kodefikasi Masalah</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
        </div>
</div>
    </div>
    <div class="modal-footer">
        <div class="fixed-action-btn click-to-toggle">
            <button class="btn-floating  orange darken-1 tooltipped saveGunaKeg" type="button" data-position="bottom" data-delay="50" data-tooltip="Simpan"><i class="fa fa-save"></i>Simpan</button>   
            <button class="btn-floating   light-green accent-3  tooltipped print_gunakeg" type="button" data-position="bottom" data-delay="50" data-tooltip="Cetak"><i class="fa fa-print"></i>Cetak</button>  
        </div>
        
        <!--<a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>-->
        <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
    </div>
</div>
<script th:inline="javascript" >
    // <![CDATA[

    $(document).ready(function (param) {
        
        var Masalah = [[${Masalah}]];
        var userData = JSON.parse(localStorage.userData);
        $('.browser-default').select2();
        $('.select2-container').css('padding-top', '20px');
        $('.select2-selection__arrow').css('padding-top', '66px');
        $('select').material_select('destroy');
        $('.datepicker').pickadate({
//            onSet: function () {
//                this.close();
//            },
            clear: false,
            close: "Pilih",
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            format: 'yyyy-mm-dd',

        });
        var table = $('#myTableLaprealSkpd').DataTable({
            responsive: true,
            "bLengthChange": false,
            "cache": false,
            "autoWidth": true,
            "ajax": {
                "url": localStorage.base_url + '/grid-lapreal/' + userData.dataUser[0].kdsatker + '/' + localStorage.thang + '/' + localStorage.laprealIdAkun,
                dataSrc: 'content',

            },
            "columns": [
                {"title": "idlapreal"},
                {"data": function (row, data, index, display) {
                        return row[3]
                    }},
                {"data": function (row, data, index, display) {
                        return row[24]
                    }},
                {"data": function (row, data, index, display) {
                        return row[24]
                    }},
                {"data": function (row, data, index, display) {
                        return row[5]
                    }},
                {"data": function (row, data, index, display) {
                        return row[6]
                    }},
                {"data": function (row, data, index, display) {
                        return row[7]
                    }},
                {"data": function (row, data, index, display) {
                       var button = '';
                        var idlapreal = row[0];
                        var kdsatker = row[8];
                        var thang   = row[3];
                        var kdakun   = row[2];
                        var period   = row[4];
                        var kdprov   = row[9];
                        var kdpemda  = row[11];
                        var urprov  = row[10];
                        var urpemda  = row[12];
                        var data = idlapreal + ',' + kdsatker + ',' + thang + ',' + kdakun+','+period+','+kdprov+','+kdpemda+','+urprov+','+urpemda;
                        if (row[28] == 0)
                        {

                            button = '<button data-id ="' + data + '" class="btn-floating red modal_tran"><i class="material-icons">add</i></button>'

                        } else
                        {
                            button = '<button  data-id ="' + data + '"  class="btn-floating blue modal_tran"><i class="material-icons">mode_edit</i></button>'

                        }
                        return button;
                    }},
                {"data": function (row, data, index, display) {
                        var button = '';
                        var idlapreal = row[0];
                        var kdsatker = row[8];
                        var kdprov = row[9];
                        var kdpemda = row[11];
                        var data = idlapreal + ',' + kdsatker + ',' + kdprov + ',' + kdpemda;
                        if (row[25] == 0)
                        {

                            button = '<button data-id ="' + data + '" class="btn-floating red modal_spd2d"><i class="material-icons">add</i></button>'

                        } else
                        {
                            button = '<button  data-id ="' + data + '"  class="btn-floating blue modal_spd2d"><i class="material-icons">mode_edit</i></button>'

                        }
                        return button;
                    }},
                {"data": function (row, data, index, display) {
                        var button = '';
                        var idlapreal = row[0];
                        var kdsatker = row[8];
                        var kdprov = row[9];
                        var kdpemda = row[11];
                        var data = idlapreal + ',' + kdsatker + ',' + kdprov + ',' + kdpemda;
                        if (row[27] == 0)
                        {

                            button = '<button data-id ="' + data + '" class="btn-floating red modal_retur"><i class="material-icons">add</i></button>'

                        } else
                        {
                            button = '<button  data-id ="' + data + '"  class="btn-floating blue modal_retur"><i class="material-icons">mode_edit</i></button>'

                        }
                        return button;
                    }},
                {"data": function (row, data, index, display) {
                        return '<button data-id="' + row + '" class="waves-effect waves-light btn-small blue-grey update">Edit</button> <button data-id="' + row[0] + '" class="waves-effect waves-light btn-small red delete">Hapus</button><button data-id="' + row + '" class="waves-effect waves-light btn-small  brown lighten-1 cetak-lapreal">Cetak</button> ';
                    }},
                {"data": function (row, data, index, display) {
                       var button = '';
                        var idlapreal = row[0];
                        var idsakun = row[1];
                        var kdsatker = row[8];
                        var thang   = row[3];
                        var kdakun   = row[2];
                        var period   = row[4];
                        var kdprov   = row[9];
                        var satperiod = row[5];
                        var kdpemda  = row[11];
                        var jabskpd  = (row[19]==null)?"":row[19];
                        var nipskpd  = (row[20]==null)?"":row[20];
                        var nmskpd  =  (row[21]==null)?"": row[21];
                        var tgskpd  = (row[22]==null)?"": row[22];
                        var lokasi  = row[13];
                        var urprov  = row[10];
                        var urpemda  = row[12];
                        var data = idlapreal + ',' + kdsatker + ',' + thang + ',' + kdakun+','+period+','+kdprov+','+kdpemda+','+jabskpd+','+nipskpd+','+nmskpd+','+tgskpd+','+lokasi+','+satperiod+','+urprov+','+urpemda+','+idsakun;
                        if(row[33]<3)
                        {
                            if (row[31] == 0)
                            {

                                button = '<button data-id ="' + data + '" class="btn-floating red modal_gukeg"><i class="material-icons">add</i></button>'

                            } else
                            {
                                button = '<button  data-id ="' + data + '"  class="btn-floating blue modal_gukeg"><i class="material-icons">mode_edit</i></button>'

                            }
                        }
                        return button;
                    }}

            ],
            "columnDefs": [
//                            { "width": "10%", "targets": 0 },
                {
                    "targets": [0, 1, 2,7,8,9,10],
                    "visible": false,
                    "searchable": false
                }
            ],
            select: true
        });





        $('#cancel_form,.resset').off().on('click', function () {
            resetButton();
        });


        function grid()
        {
            table.ajax.url(localStorage.base_url + '/grid-lapreal/' + userData.dataUser[0].kdsatker + '/' + localStorage.thang + '/' + localStorage.laprealIdAkun).load();
            resetButton();
        }
        function searchProv(id)
        {
            var value = '';
            $.each(JSON.parse(localStorage.rProv), function (i, x) {
                if (x.kdprov == id)
                {
                    value = x.urprov;
                }
            });
            return value;

        }
//      $('#provinsi').on('change',function(){
//         $.each(JSON.parse(localStorage.rProv),function(i,x){
//             console.log(x.urprov);
//         }); 
//      });
        function resetButton()
        {
            $('#submit_form').show();
            $('#update_form').hide();
            $('#cancel_form').hide();
            $('.saveRetur').show();
            $('.updateFormRetur').hide();
            $('.saveSp2d').show();
            $('.updateFormSp2d').hide();
            $('.resset').hide();
            $('#s-akun').removeAttr('disabled');
            document.getElementById("form").reset();
            $('#thang').val(localStorage.thang).trigger("change");
            $('#akun').val(localStorage.laprealIdAkun).trigger("change");
            $('#s-akun').select2("val", "0");
            $('#periode').select2("val", "0");
            $("input").val("");
            $('.error,.errorSp2d,.errorRetur').removeAttr('style').html("");
            localStorage.removeItem('idSp2d');
            localStorage.removeItem('idRetur');

        }
       


        
        
        
        
        
        
        
        
        
        
        //Lapgu
               function gridGukeg()
                    {            
                       var idLapreal = localStorage.refGukegLapgu.split(',');
                       
                        tableGukeg.ajax.url(localStorage.base_url+'/getjsonpagukeg/'+userData.dataUser[0].kdsatker+'/'+idLapreal[15]+'/'+idLapreal[0]).load();
                        
                        function getNilaiGukeg(selected) {
                                return $.ajax({
                                    url: localStorage.base_url + '/grid-lapreal/' + userData.dataUser[0].kdsatker + '/' + localStorage.thang + '/' + localStorage.laprealIdAkun,
                                    data: {
                                        issession: 1,
                                        selector: selector
                                    },
                                    // dataType: "json",
                                    async: false,
                                    error: function () {
                                        alert("Error occured");
                                    }
                                });
                            }
                        var selector = !0;
                        var ajaxObj = getNilaiGukeg(selector);
                        var resultGukeg = JSON.parse(ajaxObj.responseText);
                        
                        $.each(resultGukeg.content,function(i,row){
//                              console.log(row[0]+"===>"+idLapreal);
                            if(row[0]==idLapreal[0]){
                              
                                    var idlapreal = row[0];
                                        var idsakun = row[1];
                                        var kdsatker = row[8];
                                        var thang   = row[3];
                                        var kdakun   = row[2];
                                        var period   = row[4];
                                        var kdprov   = row[9];
                                        var satperiod = row[5];
                                        var kdpemda  = row[11];
                                        var jabskpd  = (row[19]==null)?"":row[19];
                                        var nipskpd  = (row[20]==null)?"":row[20];
                                        var nmskpd  =  (row[21]==null)?"": row[21];
                                        var tgskpd  = (row[22]==null)?"": row[22];
                                        var lokasi  = row[13];
                                        var urprov  = row[10];
                                        var urpemda  = row[12];
                                        var data = idlapreal + ',' + kdsatker + ',' + thang + ',' + kdakun+','+period+','+kdprov+','+kdpemda+','+jabskpd+','+nipskpd+','+nmskpd+','+tgskpd+','+lokasi+','+satperiod+','+urprov+','+urpemda+','+idsakun;
                                        localStorage.refGukegLapgu = data;  
                            }
                        })
                       
                    }
              var onModalHideGukeg = function (table) {
                            localStorage.removeItem('refGukegLapgu');
                            grid();
                        }
               $("tbody.tbGukeg").on('click', 'button.modal_gukeg', function () {
                   $('.errorGukeg').removeAttr('style').html("");
                   var data = $(this).attr('data-id');
                   var idLapreal = data.split(',');
                   $('#jabskpd').val(idLapreal[7]);
                   $('#nipskpd').val(idLapreal[8]);
                   $('#nmskpd').val(idLapreal[9]);
                   $('#tgskpd').val(idLapreal[10]);
                   
                   
                   localStorage.refGukegLapgu = data;  
                   tableGukeg.ajax.url(localStorage.base_url+'/getjsonpagukeg/'+userData.dataUser[0].kdsatker+'/'+idLapreal[15]+'/'+idLapreal[0]).load();
//                   tableSp2d.ajax.url(localStorage.base_url + '/grid-lapreal-sp2d/'+idLapreal[0]).load();
                   $('#modalGukeg').openModal({
                       complete: onModalHideGukeg,
                       dismissible:false
                   });
               });
               
                var tableGukeg =  $('#TableGukeg').DataTable( {
                    responsive: true,
                    "bLengthChange": false,                    
//                    "autoWidth": true,
                    "bFilter":false,
                    "ajax": {
                         "url": localStorage.base_url+'/getjsonpagukeg/'+userData.dataUser[0].kdsatker+'/'+0+"/"+0,
                        dataSrc: 'content',
                        
                    },
                    "columns": [ 
                        { "data"    :  function( row, data, index,display){return row[2] }},
                        { "data"    :  function( row, data, index,display){return row[3] }},
                        { "data"    :  function( row, data, index,display){return row[7] }},
                        { "data"    :  function( row, data, index,display){return row[8] }},
                        { "data"    :  function( row, data, index,display){return toRp2(row[9]) }},
                        { "data"    :  function( row, data, index,display){
                                                var jumlah  = row[12];
                                                if(jumlah == null)
                                                {
                                                    jumlah = '';
                                                }
                                               
                                                return  '<input onkeyup="if(this.value>'+row[7]+'){Materialize.toast(\'Input Tidak Boleh Lebih Besar Dari Jumlah Pagu \', 3000);this.value=\'\';}" type="number" value="'+jumlah+'" class="jumlah"/>';
                            }},
                        { "data"    :  function( row, data, index,display){
                                                var nilai  = row[13];
                                                if(nilai == null)
                                                {
                                                    nilai = '';
                                                }
                                                else
                                                {
                                                    nilai = parseFloat(nilai).toFixed(2);
                                                }
                                               
                                                return  '<input  onkeyup="var a =  this.value.replace(/,/g,\'\'); console.log(a);if(a>'+row[9]+') {Materialize.toast(\'Input Tidak Boleh Lebih Besar Dari Jumlah Pagu APBN \', 3000);this.value=\'\';}else{$(\'.nilai\').maskMoney({ thousands:\',\', decimal:\'.\', affixesStay: true})}" name="[saldo][nilai][]" type="text" value="'+nilai+'" class="nilai"/>';
                                    
                                    }},
                        { "data"    :  function( row, data, index,display){
                                
                                                var dpaok  = row[14];
                                                //console.log(dpaok);
                                                if(dpaok == null||dpaok==0)
                                                {
                                                    dpaok = '';
                                                    var checkbox = '<div class="switch"><label><input class="dpaok" value="1"  type="checkbox"><span class="lever"></span>Tidak</label></div>';
                                                }
                                                else
                                                {
                                                    var checkbox = '<div class="switch"><label><input class="dpaok" value="1" checked="checked" type="checkbox"><span class="lever"></span>Ya</label></div>';
                                                }
                                               
                                                return  checkbox;
                                
        }},
                        { "data"    :  function( row, data, index,display){
                                
                                        var problem  = row[15];
                                        var idguna   = row[16];
                                        var idpagukeg = row[0];
                                                if(problem == null)
                                                {
                                                    problem = '';
                                                }
                                                
                                                 if(idguna == null)
                                                {
                                                    idguna = '';
                                                }
                                        var option_problem = '<option value="">--Pilih--</option>';
                                        $.each(Masalah,function(i,x)
                                        {
                                            var checked = (x.kode==problem)?'selected="selected"':'';
                                            option_problem +='<option '+checked+' value="'+x.kode+'">'+x.uraian+'</option>';
                                        });
                                        var dropdownlist = '<select class="browser-default problem" style="margin-bottom:20px " >'+option_problem+'</select>';
                                        return  '<input   type="hidden" value="'+idguna+'" class="idguna"/>'+
                                                dropdownlist+
                                                '<input   type="hidden" value="'+idpagukeg+'" class="idpagukeg"/>';
                                    
                                        }}
//                        { "data"    : function( row, data, index,display){
//                                                var nilai = row[5];
//                                                var idsaldo = row[6];
//                                                if(nilai == null)
//                                                {
//                                                    nilai = '';
//                                                }
//                                               
//                                                return  '<input onmouseover="$(\'.nilai\').maskMoney({ thousands:\',\', decimal:\'.\', affixesStay: true})" name="[saldo][nilai][]" type="text" value="'+nilai+'" class="nilai"/>'+
//                                                        '<input name="[saldo][idsaldo][]" type="hidden" value="'+idsaldo+'" class="idsaldo"/>'+
//                                                        '<input name="[saldo][idakun][]" type="hidden" value="'+row[0]+'" class="idakun"/>';
//                                                
//                                            }},
                    
                    ],
                    "columnDefs": [
//                            { "width": "10%", "targets": 0 },
//                            {
//                                        "targets": [0],
//                                        "visible": false,
//                                        "searchable": false
//                            }
                          ],
                    select: true,
//                    "fnInitComplete": function(oSettings, json) {
//                                           $('.nilai').maskMoney({ thousands:'.', decimal:',', affixesStay: true});
//                                          }
                } );
    
        $('.saveGunaKeg').off().on('click',function(){
        var dataNilai = $('.nilai');
//        console.log(dataNilai);
        var nilai = '';
        dataNilai.each(function(i,x){
            if($(x).val()=='')
            {
               nilai += 'null,';  
            }
            else
            {
                var edit = $(x).val();
                var result = edit.replace(/\,/g,'');
                var finalResult = result.replace(/\./g,'_');
               nilai += finalResult+',';  
            }
        
        });
//        console.log(nilai);

    var dataJumlah = $('.jumlah');
    var jumlah = '';
        dataJumlah.each(function(i,x){
            if($(x).val()=='')
            {
               jumlah += 'null,';  
            }
            else
            {
               jumlah += $(x).val()+',';  
            }        
        });
//              console.log(jumlah);

  var dataDpaOk = $('.dpaok');
  var dpaok = '';
        dataDpaOk.each(function(i,x){
            if($(x).prop('checked'))
            {
                dpaok += $(x).val()+',';   
            }
            else
            {
              dpaok += '0,'; 
            }        
        });
//              console.log(dpaok);

var dataProblem = $('.problem');
  var problem = '';
        dataProblem.each(function(i,x){
           if($(x).val()=='')
            {
               problem += 'null,';  
            }
            else
            {
               problem += $(x).find("option:selected").val()+',';  
            }            
        });
//       console.log(problem);  
  var dataIdPaguKeg = $('.idpagukeg');
  var idpagukeg = '';
        dataIdPaguKeg.each(function(i,x){
           if($(x).val()=='')
            {
               idpagukeg += 'null,';  
            }
            else
            {
               idpagukeg += $(x).val()+',';  
            }            
        });
//        console.log(idpagukeg);

        var dataIdGunaKeg = $('.idguna');
        var idguna = '';
        dataIdGunaKeg.each(function(i,x){
           if($(x).val()=='')
            {
               idguna += 'null,';  
            }
            else
            {
               idguna += $(x).val()+',';  
            }            
        });
        
        var idLapreal = localStorage.refGukegLapgu.split(',');
        var jabskpd   = $('#jabskpd').val();
        if(jabskpd=='')
        {
            jabskpd = 'jabskpd';
        }
        var nipskpd   = $('#nipskpd').val();
        if(nipskpd=='')
        {
            nipskpd = 'nipskpd';
        }
        var nmskpd   = $('#nmskpd').val();
        if(nmskpd=='')
        {
            nmskpd = 'nmspkd';
        }
         var tgskpd   = $('#tgskpd').val();
        if(tgskpd=='')
        {
            tgskpd = "1970-00-00";
        }
        idLapreal = idLapreal[0];
        
         var skpd = JSON.stringify({'jabskpd'      : jabskpd
                                        ,'nipskpd'  : nipskpd
                                        ,'nmskpd'   : nmskpd
                                        ,'tgskpd'   : tgskpd
                                       
                                    });
//        console.log($('#TableGukeg tbody tr '));
       $.ajax({
                type    :"PUT",
                url     :localStorage.base_url+'/save-lapgu-lapreal/'+idLapreal+'/'+jumlah+'/'+nilai+'/'+dpaok+'/'+problem+'/'+idpagukeg+'/'+idguna,
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    : skpd,
                success :function(result){
                   $("html, .modal-content").animate({ scrollTop: $(document).height() }, 1000);
                   gridGukeg();
                   Materialize.toast('Upadate Sukses', 1000);
                },
                error : function(result){
                   
                }              
             });
      });
        
//        $('#modalGukeg input').on('click',function(){
//           alert('test'); 
//        });
        
        $('.tooltipped').tooltip({delay: 50});
        
        $('#nilaiSp2d').maskMoney({ thousands:',', decimal:'.', affixesStay: true});
        $('#nilaiRetur').maskMoney({ thousands:',', decimal:'.', affixesStay: true});
        
    });



    function toRp(a, b, c, d, e) {
        e = function (f) {
            return f.split('').reverse().join('')
        };
        b = e(parseInt(a, 10).toString());
        for (c = 0, d = ''; c < b.length; c++) {
            d += b[c];
            if ((c + 1) % 3 === 0 && c !== (b.length - 1)) {
                d += '.';
            }
        }
        return'Rp.\t' + e(d)
    }
    function toRp2(a, b, c, d, e) {
        e = function (f) {
            return f.split('').reverse().join('')
        };
        b = e(parseInt(a, 10).toString());
        for (c = 0, d = ''; c < b.length; c++) {
            d += b[c];
            if ((c + 1) % 3 === 0 && c !== (b.length - 1)) {
                d += '.';
            }
        }
        return  e(d)
    }
    function toAngka(rp){return parseInt(rp.replace(/,.*|\D/g,''),10)}
    // ]]>
</script>



<script>
     // <![CDATA[
        $(document).ready(function(){
                $(".print_gunakeg").on("click",function(){
                    var dataCetak = localStorage.refGukegLapgu.split(',');
                    var idlapreal  = dataCetak[0];
                     var kdsatker  = dataCetak[1];
                    var urprov  = dataCetak[13];
                    var urpemda   = dataCetak[14];
                     var idsakun   = dataCetak[15];
//                    var kdsatker  = dataCetak[8];
//                    var kdakun    = dataCetak[2];
//                    var period    = dataCetak[4];
                    var nmpemda = dataCetak[9];
                    var tgdaknf   = getFormattedDate(dataCetak[10]);
                    var thang     = dataCetak[2];
//                    var urperiod  = dataCetak[5];
//                    var satperiod = dataCetak[29]
                    var satperiod  = dataCetak[12];
                    var jabpemda  = dataCetak[7];
                    var nippemda  = dataCetak[8];
                    var lokasi    = dataCetak[11];
//                    console.log(sakun);
                    function getJsonPrintGukeg(selected, thang) {
                        return $.ajax({
                            url: localStorage.base_url + '/getjsonprintlapgu/'+kdsatker+'/'+idlapreal+'/'+idsakun,
                            data: {
                                issession: 1,
                                selector: selector
                            },
                            // dataType: "json",
                            async: false,
                            error: function () {
                                alert("Error occured")
                            }
                        });

                    }
                    var selector = !0;
                    var ajaxObj = getJsonPrintGukeg(selector, $(this).val());
                    var data = JSON.parse(ajaxObj.responseText);
//                    var count = data.content.length;
                    var result = buildTableSp2d(data.content);
                    
//                    console.log(result);
                      function buildTableSp2d(data, columns) {
                                var body = [];
                                var i = 0;
                                var totalJmPagu = 0;
                                var totalNlPagu = 0;
                                var totalJmReal = 0;
                                var totalNlReal = 0;
                                var totalpersen = 0;
                                data.forEach(function(row) {
                                    var dataRow = [];

                                    // columns.forEach(function(column) {
                                    //     dataRow.push({'text':row[column].toString(),'aligement':'tester '});
                                    // })

//                                  total   += row[10];
                                    var ya = (row[7]==1)?"V":"";
                                    var no = (row[7]==0)?"V":"";
                                    var realisasi = row[6];
                                    var pagu =  row[4];
                                    var persen;
                                    if(realisasi != null)
                                    {
                                       realisasi = toRp2(row[6])
                                       persen = ((row[6]/pagu)*100);
                                       totalpersen += persen;
                                       persen = parseFloat(persen).toFixed(2);
                                       
                                    }
                                    else
                                    {
                                        realisasi = "";
                                        persen = "";
                                    }
                                    dataRow.push({text: row[0], style: 'subheader',alignment:'center'});
                                    dataRow.push({text: row[1], style: 'subheader',alignment:'left'});
                                    dataRow.push({text: row[2] , style: 'subheader',alignment:'center'});
                                    dataRow.push({text: row[3], style: 'subheader',alignment:'left'});
                                    dataRow.push({text: toRp2(row[4]) , style: 'subheader',alignment:'right'});
                                    dataRow.push({text: row[5] , style: 'subheader',alignment:'center'});
                                    dataRow.push({text: row[3] , style: 'subheader',alignment:'left'});
                                    dataRow.push({text:  realisasi, style: 'subheader',alignment:'right'});
                                    dataRow.push({text: persen, style: 'subheader',alignment:'center'});
                                    dataRow.push({text: ya , style: 'subheader',alignment:'center'});
                                    dataRow.push({text: no , style: 'subheader',alignment:'center'});
                                    dataRow.push({text: row[8] , style: 'subheader',alignment:'center'});
                                    body.push(dataRow);
                                    totalJmPagu += row[2];
                                    totalNlPagu += row[4];
                                    totalJmReal += row[5];
                                    totalNlReal += row[6];
                                    
                                });
                                var dataJml = [];
                                dataJml.push({text: "", style: 'subheader',alignment:'center'});
                                dataJml.push({text: "Total", style: 'subheader',alignment:'left'});
                                dataJml.push({text:  totalJmPagu, style: 'subheader',alignment:'center'});
                                dataJml.push({text: {}, style: 'subheader',alignment:'left'});
                                dataJml.push({text: toRp2(totalNlPagu) , style: 'subheader',alignment:'right'});
                                dataJml.push({text: totalJmReal , style: 'subheader',alignment:'center'});
                                dataJml.push({text: {} , style: 'subheader',alignment:'left'});
                                dataJml.push({text:  toRp(totalNlReal), style: 'subheader',alignment:'right'});
                                dataJml.push({text: parseFloat(((totalNlReal/totalNlPagu)*100)).toFixed(2), style: 'subheader',alignment:'center'});
                                dataJml.push({text: "" , style: 'subheader',alignment:'center'});
                                dataJml.push({text: "" , style: 'subheader',alignment:'center'});
                                dataJml.push({text: "" , style: 'subheader',alignment:'center'});
                                 body.push(dataJml);
                                return body;
                            }
                     
                     var insert = {"body":[
                                            [ 
                                                {text: 'No.', style: 'tableHeader', rowSpan: 3, alignment: 'center'}, 
                                                {text: 'Jenis Kegiatan', style: 'tableHeader', rowSpan: 3, alignment: 'center'}, 
                                                // {text: 'NIP', style: 'tableHeader', rowSpan: 3, alignment: 'center'}, 
                                                // {text: 'STATUS \n KEPEG \n (PNS/CPNS)', style: 'tableHeader', rowSpan: 3, alignment: 'center'}, 
                                                // {text: 'JABATAN (TMT)', style: 'tableHeader', rowSpan: 3, alignment: 'center'}, 
                                                // {text: 'KELAS \n JABATAN', style: 'tableHeader', rowSpan: 3, alignment: 'center'}, 
                                                // {text: 'TUNJANGAN \n KINERJA', style: 'tableHeader', rowSpan: 3, alignment: 'center'}, 
                                                {text: 'Perencanaan Kegiatan', style: 'tableHeader2', colSpan: 3, alignment: 'center'}, 
                                                {}, 
                                                {},
                                                {text: 'Pelaksanaan Kegiatan', style: 'tableHeader2', colSpan: 6, alignment: 'center'}, 
                                                {}, 
                                                {},
                                                {},
                                                {},
                                                {},
                                                {text: 'Permasalahan', style: 'tableHeader2',  alignment: 'center'}, 
                                                // {},
                                                // {text: 'JUMLAH \n DIBAYARKAN', style: 'tableHeader', rowSpan: 3, alignment: 'center'},
                                                // {text: 'KET', style: 'tableHeader', rowSpan: 3, alignment: 'center'}
                                            ],
                                            [
                                              {},
                                              {},
                                              // {},
                                              // {},
                                              // {},
                                              // {},
                                              // {},
                                              {text: 'Jumlah Penerima\nManfaat', style: 'tableHeader3', colSpan: 2, alignment: 'center',margin: [0, 20, 0, 0]}, 
                                              {}, 
                                              {text: 'Pagu\nAPBN', style: 'tableHeader3', alignment: 'center',margin: [0, 20, 0, 0]},
                                              {text: 'Jumlah Penerima\nManfaat', style: 'tableHeader3', colSpan: 2, alignment: 'center',margin: [0, 20, 0, 0]}, 
                                              {}, 
                                              {text: 'Realisasi\nPenggunaan', style: 'tableHeader3', alignment: 'center',margin: [0, 20, 0, 0]},
                                              {text: 'Per\nsen\ntase\nOut\nput', style: 'tableHeader3', alignment: 'center'},
                                              {text: 'Kesesuaian Antara DPA SKPD\ndengan Petunjuk Teknis', style: 'tableHeader3', colSpan: 2, alignment: 'center'}, 
                                              {}, 
                                              {text: 'Kodefikasi\nMasalah', style: 'tableHeader3', rowSpan: 2, alignment: 'center',margin: [0, 20, 0, 0]},
                                              // {text:'JUMLAH POTONGAN',  alignment: 'center', style: 'tableHeader2',  rowSpan: 2,}
                                            ],
                                            [                    
                                              {},
                                              {},
                                              // {},
                                              // {},
                                              // {},
                                              // {},
                                              // {},
                                              {text:'Jumlah',alignment: 'center', style: 'tableHeader3'},
                                              {text:'Satuan',alignment: 'center', style: 'tableHeader3'},
                                              {text:'(Rp.)',alignment: 'center', style: 'tableHeader3'},
                                              {text:'Jumlah',alignment: 'center', style: 'tableHeader3'},
                                              {text:'Satuan',alignment: 'center', style: 'tableHeader3'},
                                              {text:'(Rp.)',alignment: 'center', style: 'tableHeader3'},
                                              {text:'%',alignment: 'center', style: 'tableHeader3'},
                                              {text:'Ya',alignment: 'center', style: 'tableHeader3'},
                                              {text:'Tidak',alignment: 'center', style: 'tableHeader3'},
                                              {}
                                              // {}
                                            ],
                                            [
                                              {text: '1', style: 'subheader', alignment: 'center'}, 
                                              {text: '2', style: 'subheader', alignment: 'center'},
                                              {text: '3', style: 'subheader', alignment: 'center'}, 
                                              {text: '4', style: 'subheader', alignment: 'center'}, 
                                              {text: '5', style: 'subheader', alignment: 'center'}, 
                                              {text: '6', style: 'subheader', alignment: 'center'}, 
                                              {text: '7', style: 'subheader', alignment: 'center'}, 
                                              {text: '8', style: 'subheader', alignment: 'center'}, 
                                              {text: '9=8/5', style: 'subheader', alignment: 'center'}, 
                                              {text: '10', style: 'subheader', alignment: 'center'}, 
                                              {text: '11', style: 'subheader', alignment: 'center'}, 
                                              {text: '12', style: 'subheader', alignment: 'center'},
                                            ],

                                          ]
                                  };
                     for(var loophasilGukeg =0 ; loophasilGukeg<= (result.length-1) ;loophasilGukeg++)
                    { 
                      insert.body.push(result[loophasilGukeg]);
                    }

                    // for(var loop =0 ; loop<= (hasil.length-1) ;loop++)
                    // { 
                    //   insert.body.push(hasil[loop]);
                    // }

                    // console.log(hasil);
                     var insert88 = {"body":[
                                   [ 
                                     '', 
                                       {text: lokasi+', '+tgdaknf+'\nMengetahui\n'+jabpemda+'\n\n\n\n\n'+nmpemda+'\nNIP '+nippemda, style: 'subheader',  alignment: 'left'}, 
                                   ],
                                 ]

                         };
                         
                         function tableSample88(data, columns) {
                                return {
                                    table: {
                                      headerRows: 1,
                                      dontBreakRows: true,
                                      widths:[750,220],
                                      keepWithHeaderRows: 1,
                                      body: insert88.body,

                                    },
                                    layout: 'noBorders'
                                };
                            }
                     function tableSample(data, columns) {
                        return {
                            table: {
                                headerRows: 4,
                              dontBreakRows: true,
                              widths: [30,180,80,80,80,80,80,80,30,30,30,50],
                              keepWithHeaderRows: 1,
                              body: insert.body
                            }
                        };
                    }
                            var docDefinition = {
                        //pageMargins: [ 10, 70, 10, 20 ],
                        pageSize: 'LEGAL',
                        pageOrientation: 'landscape',
                        content: [
                           {
                          alignment: 'center',
                          columns: [
                            {
                              text: 'LAPORAN REALISASI PENGGUNAAN\n'
                                    +localStorage.nmakunSk.toUpperCase()+'\n'
                                    +urpemda.trim().toUpperCase()+'\n'
                                    +'SAMPAI DENGAN '+satperiod.trim().toUpperCase()+' TAHUN ANGGARAN '+thang.trim().toUpperCase()+' \n\n'
                            }
                          ],

                        },
                          '\n',
                          tableSample(),
                          '\n',
                          tableSample88(),
                        ],
                        styles: {
                          header1: {
                            fontSize: 14,
                            bold: true,
                            margin: [0, 0, 0, 10]
                          },
                          header2: {
                            fontSize: 18,
                            bold: true,
                            margin: [0, 0, 0, 10]
                          },
                          subheader: {
                            fontSize: 8,
                            bold: true,
                            margin: [0, 0, 0, 0]
                          },
                          title: {
                            fontSize: 11,
                            bold: true,

                          },
                          content: {
                            fontSize: 11,
                          },
                          tableExample: {
                            margin: [0, 0, 0, 0]
                          },
                          tableHeader: {
                            // bold: true,
                            fontSize: 8,
                            margin: [0, 40, 0, 0],
                            color: 'black'
                          },
                          tableHeader2: {
                            // bold: true,
                            fontSize: 8,
                            margin: [0, 0, 0, 0],
                            color: 'black'
                          },
                          tableHeader3: {
                            // bold: true,
                            fontSize: 8,
                            margin: [0, 0, 0, 0],
                            color: 'black'
                          }
                        },
                        defaultStyle: {
                          // alignment: 'justify'
                        }

                        };

                     pdfMake.createPdf(docDefinition).open();
                });
   });
   function getFormattedDate(input) {
    var m_names = new Array("Januari", "Pebruari", "Maret", 
        "April", "Mei", "Juni", "Juli", "Agustus", "September", 
        "Oktober", "Nopember", "Desember");

        var d = new Date(input);
        var curr_date = d.getDate();
        var curr_month = d.getMonth();
        var curr_year = d.getFullYear();
        var result = curr_date + " " + m_names[curr_month] 
        + " " + curr_year;

    return result;
    }
   // ]]>   
</script>