
<div class="container">
    <h3 class="section-title">Pagu</h3>
    <div class="section">
        <form>
            <div class="input-field " style="margin-bottom: 30px">
                <select id="thang-pagu" class="browser-default" style="margin-bottom:20px ">
                    <option th:each="p:  ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}" ></option>
                </select>
                <label for="provinsi" class="active">Tahun Anggaran</label>
                <div id="errorThang" class="error"></div>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <select id="sakun" class="browser-default" style="margin-bottom:20px ">

                </select>
                <label for="provinsi" class="active">Akun</label>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <select id="periode" class="browser-default" style="margin-bottom:20px ">

                </select>
                <label for="provinsi" class="active">Akun</label>
            </div>
            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Tampilkan</button>
        </form>
    </div>
</div>

<div id="bordered" class="section scrollspy">

    <div class="row">
        <div class="col s12">
            <form id="form">
                <table id="PaguTable" class="display responsive " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Pemda</th>
                            <th>Status</th>                            
                        </tr>
                    </thead>
                    <tbody>                

                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script th:inline="javascript" >

    // <![CDATA[

    /*jshint browser:true */
    /*global XLSX */

   


    $(document).ready(function () {

        $('.browser-default').select2();
        $('.select2-container').css('padding-top', '20px');
        $('.select2-selection__arrow').css('padding-top', '66px');
        $('select').material_select('destroy');



        $('#thang-pagu').on('change', function () {
            var tahun = $('#thang-pagu option:selected').val();
            function returnSakun(selected) {
                return $.ajax({
                    url: localStorage.base_url + '/get-sakun-by-thang-for-monitoring-kepatuhan/' + tahun,
                    data: {
                        issession: 1,
                        selector: selector
                    },
                    // dataType: "json",
                    async: false,
                    error: function () {
                        alert("Error occured")
                    }
                });

            }

            var selector = !0;
            var ajaxObj = returnSakun(selector);
            var dataSakun = JSON.parse(ajaxObj.responseText);

            var option = ''
            $.each(dataSakun.sakunPagu, function (i, x) {
                //var split1    = x.split(',');
                var idsakun = x[0];
                var ursakun = x[1];
                var sakun = x[2];
                var html = "<option value=" + idsakun + ">" + ursakun + ", " + sakun + "</option>";
                option += html;
            });

            $('#sakun').html(option);

        });
       
        var FullThang = [[${Thang}]];
        var FullYear = FullThang.split('-');
        $('#thang-pagu').val(FullYear[0]).trigger("change");

        $("#sakun").on("change", function () {
                var id = $('#sakun option:selected').val();
            function returnPeriod(selected) {
                return $.ajax({
                    url: localStorage.base_url + '/get-period-by-idsakun-for-monitoring-kepatuhan/' + id,
                    data: {
                        issession: 1,
                        selector: selector
                    },
                    // dataType: "json",
                    async: false,
                    error: function () {
                        alert("Error occured")
                    }
                });

            }

            var selector = !0;
            var ajaxObj = returnPeriod(selector);
            var dataPeriod = JSON.parse(ajaxObj.responseText);

            var option = ''
            $.each(dataPeriod.period, function (i, x) {
                //var split1    = x.split(',');
                var idperiode = x[2];
                var period = x[2];
                var urperiod = x[3];
                var html = "<option value=" + idperiode + ">" + period + ", " + urperiod + "</option>";
                option += html;
            });

            $('#periode').html(option);
        });
        $('#sakun').val($("#sakun option:eq(0)").val()).trigger("change");
        
         $("#submit_form").on("click", function () {
            var sakun = $('#periode option:selected').val();
            table.ajax.url(localStorage.base_url + '/grid-monitoring-kepatuhan/' + $("#thang-pagu option:selected").val()+'/'+$("#sakun option:selected").val()+'/'+$("#periode option:selected").val()).load();
        });
        var table = $('#PaguTable').DataTable({
            responsive: true,
            "bLengthChange": false,
            "autoWidth": true,
//                    "bFilter":false,
            "ajax": {
                "url": localStorage.base_url + '/grid-monitoring-kepatuhan/' + $("#thang-pagu option:selected").val()+'/'+$("#sakun option:selected").val()+'/'+$("#periode option:selected").val(),
                dataSrc: 'gripagu',

            },
            "columns": [
                {"data": function (row, data, index, display) {
                        return row[0]+"-"+row[1]+"-"+row[2]+"-"+row[3];
                    }},
                {"data": function (row, data, index, display) {
                        return row[5]
                    }}
            ],
            
            "columnDefs": [
//                            { "width": "10%", "targets": 0 },
//                            {
//                                        "targets": [0],
//                                        "visible": false,
//                                        "searchable": false
//                            }

            ],
            select: true,

        });



    });


    // ]]>
</script>






