
<div class="container">
    <h3 class="section-title">Pagu</h3>
    <div class="section">
        <form>
            <div class="input-field " style="margin-bottom: 30px">
                <select id="thang-pagu" class="browser-default" style="margin-bottom:20px ">
                    <option th:each="p:  ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}" ></option>
                </select>
                <label for="provinsi" class="active">Tahun Anggaran</label>
                <div id="errorThang" class="error"></div>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <select id="sakun" class="browser-default" style="margin-bottom:20px ">

                </select>
                <label for="provinsi" class="active">Akun</label>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Pilih File Excel</span>
                        <input name="xlfile" id="xlf"  type="file"/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"/>
                    </div>
                </div>
            </div>
            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Upload Pagu</button>
        </form>
    </div>
</div>

<div id="bordered" class="section scrollspy">

    <div class="row">
        <div class="col s12">
            <form id="form">
                <table id="PaguTable" class="display responsive " cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Pemda</th>
                            <th>NO Kegiatan</th>
                            <th>Kegiatan</th>
                            <th>Jumlah</th>
                            <th>Satuan</th>
                            <th>Nilai</th>
                        </tr>
                    </thead>
                    <tbody>                

                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/cpexcel.js}" src="js/jquery.min.js"></script>
<script th:src="@{/js/shim.js}" src="js/jquery.min.js"></script>
<script th:src="@{/js/jszip.js}" src="js/jquery.min.js"></script>
<script th:src="@{/js/xlsx.js}" src="js/jquery.min.js"></script>
<script th:inline="javascript" >

    // <![CDATA[

    /*jshint browser:true */
    /*global XLSX */

    var data = [];
    var X = XLSX;
    var XW = {
        /* worker message */
        msg: 'xlsx',
        /* worker scripts */
        rABS: './xlsxworker2.js',
        norABS: './xlsxworker1.js',
        noxfer: './xlsxworker.js'
    };

    function hallo()
    {
        console.log(JSON.stringify(data[0]));
    }
    var rABS = typeof FileReader !== "undefined" && typeof FileReader.prototype !== "undefined" && typeof FileReader.prototype.readAsBinaryString !== "undefined";
    if (!rABS) {
        document.getElementsByName("userabs")[0].disabled = true;
        document.getElementsByName("userabs")[0].checked = false;
    }

    var use_worker = typeof Worker !== 'undefined';
    if (!use_worker) {
        document.getElementsByName("useworker")[0].disabled = true;
        document.getElementsByName("useworker")[0].checked = false;
    }

    var transferable = use_worker;
    if (!transferable) {
        document.getElementsByName("xferable")[0].disabled = true;
        document.getElementsByName("xferable")[0].checked = false;
    }

    var wtf_mode = false;

    function fixdata(data) {
        var o = "", l = 0, w = 10240;
        for (; l < data.byteLength / w; ++l)
            o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
        o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
        return o;
    }

    function ab2str(data) {
        var o = "", l = 0, w = 10240;
        for (; l < data.byteLength / w; ++l)
            o += String.fromCharCode.apply(null, new Uint16Array(data.slice(l * w, l * w + w)));
        o += String.fromCharCode.apply(null, new Uint16Array(data.slice(l * w)));
        return o;
    }

    function s2ab(s) {
        var b = new ArrayBuffer(s.length * 2), v = new Uint16Array(b);
        for (var i = 0; i != s.length; ++i)
            v[i] = s.charCodeAt(i);
        return [v, b];
    }

    function xw_noxfer(data, cb) {
        var worker = new Worker(XW.noxfer);
        worker.onmessage = function (e) {
            switch (e.data.t) {
                case 'ready':
                    break;
                case 'e':
                    console.error(e.data.d);
                    break;
                case XW.msg:
                    cb(JSON.parse(e.data.d));
                    break;
            }
        };
        var arr = rABS ? data : btoa(fixdata(data));
        worker.postMessage({d: arr, b: rABS});
    }

    function xw_xfer(data, cb) {
        var worker = new Worker(rABS ? XW.rABS : XW.norABS);
        worker.onmessage = function (e) {
            switch (e.data.t) {
                case 'ready':
                    break;
                case 'e':
                    console.error(e.data.d);
                    break;
                default:
                    xx = ab2str(e.data).replace(/\n/g, "\\n").replace(/\r/g, "\\r");
                    console.log("done");
                    cb(JSON.parse(xx));
                    break;
            }
        };
        if (rABS) {
            var val = s2ab(data);
            worker.postMessage(val[1], [val[1]]);
        } else {
            worker.postMessage(data, [data]);
        }
    }

    function xw(data, cb) {
        transferable = document.getElementsByName("xferable")[0].checked;
        if (transferable)
            xw_xfer(data, cb);
        else
            xw_noxfer(data, cb);
    }

    function get_radio_value(radioName) {
        var radios = document.getElementsByName(radioName);
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked || radios.length === 1) {
                return radios[i].value;
            }
        }
    }

    function to_json(workbook) {
        var result = {};
        workbook.SheetNames.forEach(function (sheetName) {
            var roa = X.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            if (roa.length > 0) {
                result[sheetName] = roa;
            }
        });
        return result;
    }

    function to_csv(workbook) {
        var result = [];
        workbook.SheetNames.forEach(function (sheetName) {
            var csv = X.utils.sheet_to_csv(workbook.Sheets[sheetName]);
            if (csv.length > 0) {
                result.push("SHEET: " + sheetName);
                result.push("");
                result.push(csv);
            }
        });
        return result.join("\n");
    }

    function to_formulae(workbook) {
        var result = [];
        workbook.SheetNames.forEach(function (sheetName) {
            var formulae = X.utils.get_formulae(workbook.Sheets[sheetName]);
            if (formulae.length > 0) {
                result.push("SHEET: " + sheetName);
                result.push("");
                result.push(formulae.join("\n"));
            }
        });
        return result.join("\n");
    }

    function to_html(workbook) {
        document.getElementById('htmlout').innerHTML = "";
        var result = [];
        workbook.SheetNames.forEach(function (sheetName) {
            var htmlstr = X.write(workbook, {sheet: sheetName, type: 'binary', bookType: 'html'});
            document.getElementById('htmlout').innerHTML += htmlstr;
        });
    }

    var tarea = document.getElementById('b64data');
    function b64it() {
        if (typeof console !== 'undefined')
            console.log("onload", new Date());
        var wb = X.read(tarea.value, {type: 'base64', WTF: wtf_mode});
        process_wb(wb);
    }

    var global_wb;

    function process_wb(wb) {
        global_wb = wb;
        output = JSON.stringify(to_json(wb), 2, 2);
        // var output = "";
        // switch(get_radio_value("format")) {
        // 	case "json":
        // 		output = JSON.stringify(to_json(wb), 2, 2);
        // 		break;
        // 	case "form":
        // 		output = to_formulae(wb);
        // 		break;
        // 	case "html": return to_html(wb);
        // 	default:
        // 		output = to_csv(wb);
        // }
        // if(out.innerText === undefined) out.textContent = output;
        // else out.innerText = output;
        // if(typeof console !== 'undefined') console.log("output", new Date());

        // localStorage.excelPagu =  output;
//	console.log(JSON.parse(output));
        if (data.length > 0)
        {
            data.shift();
            data.push(JSON.parse(output));
            console.log(JSON.parse(output));
        } else
        {
            data.push(JSON.parse(output));
            console.log(JSON.parse(output));
        }
//         $('#splashscreen').hide(); 
//        console.log(data);

        // localStorage.excelPagu = output;
    }

    function setfmt() {
        if (global_wb)
            process_wb(global_wb);
    }

//var drop = document.getElementById('drop');
//function handleDrop(e) {
//	e.stopPropagation();
//	e.preventDefault();
//	rABS = document.getElementsByName("userabs")[0].checked;
//	use_worker = document.getElementsByName("useworker")[0].checked;
//	var files = e.dataTransfer.files;
//	var f = files[0];
//	{
//		var reader = new FileReader();
//		var name = f.name;
//		reader.onload = function(e) {
//			if(typeof console !== 'undefined') console.log("onload", new Date(), rABS, use_worker);
//			var data = e.target.result;
//			if(use_worker) {
//				xw(data, process_wb);
//			} else {
//				var wb;
//				if(rABS) {
//					wb = X.read(data, {type: 'binary'});
//				} else {
//					var arr = fixdata(data);
//					wb = X.read(btoa(arr), {type: 'base64'});
//				}
//				process_wb(wb);
//			}
//		};
//		if(rABS) reader.readAsBinaryString(f);
//		else reader.readAsArrayBuffer(f);
//	}
//}
//
//function handleDragover(e) {
//	e.stopPropagation();
//	e.preventDefault();
//	e.dataTransfer.dropEffect = 'copy';
//}
//
//if(drop.addEventListener) {
//	drop.addEventListener('dragenter', handleDragover, false);
//	drop.addEventListener('dragover', handleDragover, false);
//	drop.addEventListener('drop', handleDrop, false);
//}


    var xlf = document.getElementById('xlf');

    function handleFile(e) {
        rABS = false;
        use_worker = false;
        var files = e.target.files;
        var f = files[0];
        {
//                 $('#splashscreen').show(); 
            var reader = new FileReader();
            var name = f.name;
            reader.onload = function (e) {
                if (typeof console !== 'undefined')
                    console.log("onload", new Date(), rABS, use_worker);
                var data = e.target.result;
                if (use_worker) {
                    xw(data, process_wb);
                } else {
                    var wb;
                    if (rABS) {
                        wb = X.read(data, {type: 'binary'});
                    } else {
                        var arr = fixdata(data);
                        wb = X.read(btoa(arr), {type: 'base64'});
                    }
                    process_wb(wb);
                }
            };
            if (rABS)
                reader.readAsBinaryString(f);
            else
                reader.readAsArrayBuffer(f);
        }
    }

    if (xlf.addEventListener)
        xlf.addEventListener('change', handleFile, false);


    $(document).ready(function () {

        $('.browser-default').select2();
        $('.select2-container').css('padding-top', '20px');
        $('.select2-selection__arrow').css('padding-top', '66px');
        $('select').material_select('destroy');



        $('#submit_form').on('click', function () {
            var thang = $('#thang-pagu option:selected').val()
            var sakun = $('#sakun option:selected').val()
            var urpagu = {'thang': thang, 'sakun': sakun};
            var pagu = JSON.stringify({'urpagu': urpagu, 'Sheet1': data[0]});

            $.ajax({
                type: "POST",
                url: localStorage.base_url + '/process-excell-pagu/',
                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                data: pagu,
                success: function (result) {
                    $('form')[0].reset();
                    $('#thang-pagu').val(FullYear[0]).trigger("change");
                },
                error: function (result) {
                    swal(
                            'Error',
                            'Format Excel tidak sesuai',
                            'error'
                            );

                    $("#splashscreen").hide();
                    $('form')[0].reset();
                    $('#thang-pagu').val(FullYear[0]).trigger("change");
                }
            });
        });

        $('#thang-pagu').on('change', function () {
            var tahun = $('#thang-pagu option:selected').val();
            function returnSakun(selected) {
                return $.ajax({
                    url: localStorage.base_url + '/get-sakun-by-thang-for-pagu/' + tahun,
                    data: {
                        issession: 1,
                        selector: selector
                    },
                    // dataType: "json",
                    async: false,
                    error: function () {
                        alert("Error occured")
                    }
                });

            }

            var selector = !0;
            var ajaxObj = returnSakun(selector);
            var dataSakun = JSON.parse(ajaxObj.responseText);

            var option = ''
            $.each(dataSakun.sakunPagu, function (i, x) {
                //var split1    = x.split(',');
                var idsakun = x[0];
                var ursakun = x[1];
                var sakun = x[2];
                var html = "<option value=" + idsakun + ">" + ursakun + ", " + sakun + "</option>";
                option += html;
            });

            $('#sakun').html(option);

        });

        var FullThang = [[${Thang}]];
        var FullYear = FullThang.split('-');
        $('#thang-pagu').val(FullYear[0]).trigger("change");

        $("#sakun").on("change", function () {
            var sakun = $('#sakun option:selected').val();
            table.ajax.url(localStorage.base_url + '/grid-pagu/' + sakun).load();
        });

        var table = $('#PaguTable').DataTable({
            responsive: true,
            "bLengthChange": false,
            "autoWidth": true,
//                    "bFilter":false,
            "ajax": {
                "url": localStorage.base_url + '/grid-pagu/' + $("#sakun option:selected").val(),
                dataSrc: 'gripagu',

            },
            "columns": [
                {"data": function (row, data, index, display) {
                        return row[2]
                    }},
                {"data": function (row, data, index, display) {
                        return row[3]
                    }},
                {"data": function (row, data, index, display) {
                        return row[4]
                    }},
                {"data": function (row, data, index, display) {
                        return row[5]
                    }},
                {"data": function (row, data, index, display) {
                        return row[6]
                    }},
                {"data": function (row, data, index, display) {
                        return row[7]
                    }},
            ],
            
            "columnDefs": [
//                            { "width": "10%", "targets": 0 },
//                            {
//                                        "targets": [0],
//                                        "visible": false,
//                                        "searchable": false
//                            }

            ],
            select: true,

        });



    });


    // ]]>
</script>






