<div class="container">
<h3 class="section-title">Tambah Pemda</h3>
    <div class="section">
        <form id="form">
             <div class="input-field">
                <input id="kdsatker" type="text" class="validate" placeholder=""/>
                <label for="kdsatker" class="active">KDSATKER</label>
            </div> 
            <div class="input-field " style="margin-bottom: 30px">
               <select id='provinsi' class="browser-default" style="margin-bottom:20px ">
                   <option value="0">--Pilih--</option>
                   <option th:each="p : ${ListProvinsi}" th:text="${p.urprov}" th:value="${p.kdprov}"></option>
               </select>
               <label for="provinsi" class="active">Provinsi</label>
           </div>
            <div class="input-field">
                <input id="kdpemda" type="text" class="validate" placeholder=""/>
                <label for="pemda" class="active">Kode Pemda</label>
            </div>
        <div class="input-field">
                <input id="pemda" type="text" class="validate" placeholder=""/>
                <label for="pemda" class="active">Pemda</label>
            </div>
            <div class="input-field">
                <input id="kdkappn" type="text" class="validate" placeholder=""/>
                <label for="kdkappn" class="active">Tahun Awal</label>
            </div>
           
            <div class="input-field">
                <input id="undang" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Tahun Akhir</label>
            </div> 
<!--            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Tambah</button>-->
            <div class=" col s12">
                <button id="update_form" class="btn waves-effect waves-light " style="width:100%;display:none"  type="button" >Perbaharui</button>
            <button id="cancel_form" class="btn waves-effect waves-light" style="width:100%;display:none"  type="button" >Batal</button>
             </div>  
        </form>
        
        
    </div>
</div>
<div id="bordered" class="section scrollspy">
        <h2 class="header">Seluruh Pemda</h2>
        <div class="row">
          <div class="col s12">
            <table id="myTable" class="display responsive " cellspacing="0" width="100%">
              <thead>
                <tr>
                    <th>Kode Satker     </th>
                    <th>Kode Prov</th>
                    <th>Kode Pemda</th>
                    <th>Pemda</th>
                    <th>Tahun Awal</th>
                    <th>Tahun Akhir</th>
                    <th>Aksi</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
<script >
    $(document).ready(function(){
      
       $('.browser-default').select2();
        $('.select2-container').css('padding-top','20px');
        $('.select2-selection__arrow').css('padding-top','66px');        
       $('select').material_select('destroy');
                var table =  $('#myTable').DataTable( {
                             responsive: true,
                             "bLengthChange": false,                    
                             "autoWidth": true,
                             "ajax": {
                                 "url": localStorage.base_url+'/getjsonpmd',
                                 dataSrc: 'content',

                             },
                             "columns": [
                                 { "data"    : "kdsatker" },
                                 { "data"    : "kdprov"   },
                                 { "data"    : "kdpemda" },
                                 { "data"    : "urpemda" },
                                 { "data"    : "tahunawal" },
                                 { "data"    : "tahunakhir" },
                                 { "data"    : function( row, data, index,display){return '<button data-id="'+row.kdpemda+'-'+row.kdprov+'-'+row.urpemda+'-'+row.kdsatker+'-'+row.tahunawal+'-'+row.tahunakhir+'" class="waves-effect waves-light btn-small blue-grey update">Edit</button> <button data-id="'+row.kdsatker+'" class="waves-effect waves-light btn-small red delete">Hapus</button> ';}    }

                             ],
                             "columnDefs": [
                                     { "width": "10%", "targets": 0 }
                                   ],
                             select: true
                         } );
      
      
      $('#submit_form').off().on('click',function(){
         var kdprov     = $('#provinsi option:selected').val();
         var kdkappn    = $('#kdkappn').val();
         var kdsatker   = $('#kdsatker').val();
         var undang     = $('#undang').val();
         var urpemda    = $('#pemda').val();
         
         if(kdprov !='')
         var status = 1;
         if(kdkappn !='')
         status    +=1;
         if(kdsatker!='')
         status +=1;
         if(undang!='')
         status +=1;
         if( urpemda!='')
         status +=1;
         if(status==5)
         {   
             var pemda = JSON.stringify({'urpemda'  : urpemda
                                        ,'undang'   : undang
                                        ,'kdsatker' : kdsatker
                                        ,'kdkappn'  : kdkappn
                                        ,'kdprov'   : kdprov});
             $.ajax({
                type    :"POST",
                url     :localStorage.base_url+'/restpemda',
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    :pemda,
                success :function(result){
                   $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                   grid();
                    Materialize.toast('Simpan Sukses', 1000);
                    resetButton();
                },
                error : function(result){
                   
                }              
             });
         }else{
             Materialize.toast('Semua Isian Tidak Boleh Kosong', 1000);
         }
      });
      $('#cancel_form').off().on('click',function(){
         resetButton();
      });
      
   
      function grid()
      {
           $('main').load('pemda');
      }
      function searchProv(id)
      {
          var value = '';
           $.each(JSON.parse(localStorage.rProv),function(i,x){
             if(x.kdprov==id)
             {
                 value = x.urprov;
             }
            }); 
            return value;
          
      }
//      $('#provinsi').on('change',function(){
//         $.each(JSON.parse(localStorage.rProv),function(i,x){
//             console.log(x.urprov);
//         }); 
//      });
      function resetButton()
      {
         $('#submit_form').show();
         $('#update_form').hide();
         $('#cancel_form').hide();
         $('#provinsi').select2("val", "0");
         $('#kdkappn').val('');
         $('#kdsatker').val('');
         $('#undang').val('');
         $('#pemda').val('');
         
      }
    $('table').off().on('click','.delete',function(){
         var id= $(this).attr('data-id');
          swal({
                 title: 'Anda Yakin?',
                 text: "Menghapus Data ini!",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Ya',
                 cancelButtonText: 'Batal',
               }).then(function () {
                    $.ajax({
                            type       :"DELETE",
                            url        :localStorage.base_url+'/restpmd/'+id,
                            headers    :{'Accept':'application/json','Content-Type':'application/json'},
                            success    : function(data){
                              console.log(data);
                              grid();
                            }           
                            });
                        swal(
                          'Hapus',
                          'Data berhasil dihapus',
                          'success'
                        )
                }, function (dismiss) {
                    // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    if (dismiss === 'cancel') {
                  //    swal(
                  //      'Cancelled',
                  //      'Your imaginary file is safe :)',
                  //      'error'
                  //    )
                    }
                })
           
      });
      
      $('body').off().on('click','.update',function(){
         var data= $(this).attr('data-id').split('-');
          
         var kdpemda    = data[0];
         var kdprov     = data[1];
         var urpemda    = data[2];
         var kdsatker   = data[3];
         var kdkappn    = data[4];
         var undang     = data[5];
         $('#submit_form').hide();
         $('#update_form').show();
         $('#cancel_form').show();
         $("html, body").animate({ scrollTop: 0}, 1000);
         $('#provinsi').val(kdprov).trigger("change");;
         $('#pemda').val(urpemda);
         $('#kdpemda').val(kdpemda);
         $('#pemda').attr('data-id',kdpemda);
         $('#kdkappn').val(kdkappn);
         $('#kdsatker').val(kdsatker);
         $('#undang').val(undang);
      });
      
      $('#update_form').off().on('click',function(){
          
         var kdprov     = $('#provinsi option:selected').val();
         console.log(kdprov);   
         var kdkappn    = $('#kdkappn').val();
         var kdsatker   = $('#kdsatker').val();
         var undang     = $('#undang').val();
         var urpemda    = $('#pemda').val();
         var kdpemda    = $('#pemda').attr('data-id');
         
         if(kdprov !='')
         var status = 1;
         if(kdkappn !='')
         status    +=1;
         if(kdsatker!='')
         status +=1;
         if(undang!='')
         status +=1;
         if( urpemda!='')
         status +=1;
         if(status==5)
         {   
             var pemda = JSON.stringify({'urpemda'  : urpemda
                                        ,'tahunakhir'   : undang
                                        ,'kdpemda' : kdpemda
                                        ,'tahunawal'  : kdkappn
                                        ,'kdprov'   : kdprov});
             $.ajax({
                type    :"PUT",
                url     :localStorage.base_url+'/restpmd/'+kdsatker,
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    : pemda,
                success :function(result){
                   $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                   grid();
                   Materialize.toast('Upadate Sukses', 1000);
                   resetButton();
                   $('#pemda').removeAttr('data-id');
                },
                error : function(result){
                   
                }              
             });
         }else{
             Materialize.toast('Tidak Boleh Kosong', 1000);
         }
      });

    });
</script>

