<div class="container">
<h3 class="section-title">Tambah Provinsi</h3>
    <div class="section">
        <form id="form">
<!--        <div class="input-field">
                <select class="input-field" id="zona">
                </select>
                <label for='zona'>Status User</label>
            </div>-->
        <div class="input-field">
                <input id="asal_sekolah" type="text" class="validate" placeholder=""/>
                <label for="asal_sekolah" class="active">Provinsi</label>
            </div>            
<!--<button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Tambah</button>-->
            <div class=" col s12">
                <button id="update_form" class="btn waves-effect waves-light " style="width:100%;display:none"  type="button" >Perbaharui</button>
            <button id="cancel_form" class="btn waves-effect waves-light" style="width:100%;display:none"  type="button" >Batal</button>
             </div>  
        </form>
        
    </div>

</div>
<div id="bordered" class="section scrollspy">
        <h2 class="header">Seluruh Provinsi</h2>
        <div class="row">
          <div class="col s12">
            <table id='myTable'  class="display" >
              <thead>
                <tr>
                    <th>Kode Provinsi</th>
                    <th>Provinsi</th>
                    <th>Aksi</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>

<script >
    $(document).ready(function(){
        
        var table =  $('#myTable').DataTable( {
                    responsive: true,
                    "bLengthChange": false,                    
                    "autoWidth": true,
                    "ajax": {
                        "url": localStorage.base_url+'/getjsonprov',
                        dataSrc: 'content',
                        
                    },
                    "columns": [
                        { "data"    : "kdprov" },
                        { "data"    : "urprov" },
                        { "data"    : function( row, data, index,display){return '<button data-id="'+row.kdprov+'-'+row.urprov+'" class="waves-effect waves-light btn-small blue-grey update">Edit</button> <button data-id="'+row.kdprov+'" class="waves-effect waves-light btn-small red delete">Hapus</button> ';}    }
                        
                    ],
                    "columnDefs": [
                            { "width": "10%", "targets": 0 }
                          ],
                    select: true
                } );
     
      $('#submit_form').off().on('click',function(){
         var a = $('#asal_sekolah').val();
         if(a!='')
         {   
             var provinsi = JSON.stringify({'urprov':a});
             $.ajax({
                type    :"POST",
                url     :localStorage.base_url+'/restprov',
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    :provinsi,
                success :function(result){
                   $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                   Materialize.toast('Simpan Sukses', 1000);
                   $('#asal_sekolah').val('');
                },
                error : function(result){
                   
                }              
             });
         }else{
             Materialize.toast('Tidak Boleh Kosong', 1000);
         }
      });
      function grid(){
          $('main').load('prov');
      }
      $('#update_form').off().on('click',function(){
         var a = $('#asal_sekolah').val();
         var b = $('#asal_sekolah').attr('data-id');
         if(a!='')
         {   
             var provinsi = JSON.stringify({'urprov':a});
             $.ajax({
                type    :"PUT",
                url     :localStorage.base_url+'/restprov/'+b,
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    :provinsi,
                success :function(result){
                   $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                   Materialize.toast('Upadate Sukses', 1000);
                   grid();
                   $('#asal_sekolah').val('');
                   resetButton();
                },
                error : function(result){
                   
                }              
             });
         }else{
             Materialize.toast('Tidak Boleh Kosong', 1000);
         }
      });      
      
      $('body').off().on('click','.delete',function(){
         var id= $(this).attr('data-id');
            swal({
                 title: 'Anda Yakin?',
                 text: "Menghapus Data ini!",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Ya',
                 cancelButtonText: 'Batal',
               }).then(function () {
                    $.ajax({
                            type       :"DELETE",
                            url        :localStorage.base_url+'/restprov/'+id,
                            headers    :{'Accept':'application/json','Content-Type':'application/json'},
                            success    : function(data){
                                grid();

                            }           
                        });
                        swal(
                          'Hapus',
                          'Data berhasil dihapus',
                          'success'
                        )
                }, function (dismiss) {
                    // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    if (dismiss === 'cancel') {
                  //    swal(
                  //      'Cancelled',
                  //      'Your imaginary file is safe :)',
                  //      'error'
                  //    )
                    }
                })
           
           
      });
      
      $('table').off().on('click','.update',function(){
         var data= $(this).attr('data-id').split('-');         
         var id = data[0];
         var ur = data[1];
         $('#submit_form').hide();
         $('#update_form').show();
         $('#cancel_form').show();
         $("html, body").animate({ scrollTop: 0}, 1000);
         $('#asal_sekolah').attr('data-id',id);
         $('#asal_sekolah').val(ur);
    
      });
      
      $('#cancel_form').off().on('click',function(){
         resetButton();
      });
      function resetButton()
      {
          $('#submit_form').show();
         $('#update_form').hide();
         $('#cancel_form').hide();
         $('#asal_sekolah').val('');
         $('#asal_sekolah').removeAttr('data-id');
      }
    });
</script>

