
<div class="container">
<h3 class="section-title">Tambah Sisa Dana di RKUD Tahun Sebelumnya</h3>
    <div class="section">
        
            <div class="input-field " style="margin-bottom: 30px">
               <select id="thang-saldo" class="browser-default" style="margin-bottom:20px ">
                   <option th:each="p:  ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}" ></option>
               </select>
               <label for="provinsi" class="active">Tahun Anggaran</label>
               <div id="errorThang" class="error"></div>
           </div>
            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Simpan</button>
            <div class=" col s12">
                <button id="update_form" class="btn waves-effect waves-light " style="width:100%;display:none"  type="button" >Perbaharui</button>
            <button id="cancel_form" class="btn waves-effect waves-light" style="width:100%;display:none"  type="button" >Batal</button>
             </div>  
        
    </div>
</div>
<div id="bordered" class="section scrollspy">
<!--        <h2 class="header">Seluruh Saldo</h2>-->
        <div class="row">
          <div class="col s12">
              <form id="form">
            <table id="myTableSaldo" class="display responsive " cellspacing="0" width="100%">
              <thead>
                <tr>
                    <th>Id Saldo</th>
                    <th>Nama</th>
                    <th>Nama SK</th>
                    <th>Sisa Dana di RKUD Tahun Sebelumnya</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
                   </form>
          </div>
        </div>
      </div>
<style>
 #myTableSaldo td:nth-child(3) { text-align : right;width:40% }
</style>
<script th:inline="javascript" >
    
      // <![CDATA[
    $(document).ready(function(){
//$(".nilai").maskMoney({ thousands:'.', decimal:',', affixesStay: true});
      var userData = JSON.parse(localStorage.userData);
       $('.browser-default').select2();
        $('.select2-container').css('padding-top','20px');
        $('.select2-selection__arrow').css('padding-top','66px');        
       $('select').material_select('destroy');

       var FullThang = [[${Thang}]];
       var FullYear = FullThang.split('-');
       $('#thang-saldo').val(FullYear[0]).trigger("change");
        var table =  $('#myTableSaldo').DataTable( {
                    responsive: true,
                    "bLengthChange": false,                    
                    "autoWidth": true,
                    "bFilter":false,
                    "ajax": {
                         "url": localStorage.base_url+'/getjsonsaldo/'+userData.dataUser[0].kdsatker+'/'+localStorage.thang,
                        dataSrc: 'content',
                        
                    },
                    "columns": [ 
                        { "title"    : "idlapreal" },
                        { "data"    :  function( row, data, index,display){return row[3] }},
                        { "data"    :  function( row, data, index,display){return row[4] }},
                        { "data"    : function( row, data, index,display){
                                                var nilai = row[5];
                                                var idsaldo = row[6];
                                                if(nilai == null)
                                                {
                                                     nilai = '';
                                                }
                                                else
                                                {
                                                  nilaidecimal = parseFloat(nilai).toFixed(2);
                                                  nilaidecimal = nilaidecimal.split(".");
                                                  nilai = toRp2(nilai)+"."+nilaidecimal[1];
                                                }
                                               
                                                return  '<input  onblur="$(this).maskMoney(\'destroy\')" onkeyup=" if(this.value==\'\'){this.value=\'\';}else{$(this).maskMoney({ thousands:\',\', decimal:\'.\',affixesStay: true,allowZero:true});}" name="[saldo][nilai][]" type="text" value="'+nilai+'" class="nilai"/>'+
                                                        '<input name="[saldo][idsaldo][]" type="hidden" value="'+idsaldo+'" class="idsaldo"/>'+
                                                        '<input name="[saldo][idakun][]" type="hidden" value="'+row[0]+'" class="idakun"/>';
                                                
                                            }},
                    
                    ],
                    "columnDefs": [
//                            { "width": "10%", "targets": 0 },
                            {
                                        "targets": [0],
                                        "visible": false,
                                        "searchable": false
                            }
                          ],
                    select: true,
                    "fnInitComplete": function(oSettings, json) {
//                                           $('.nilai').maskMoney({ thousands:'.', decimal:',', affixesStay: true,allowZero:true});
                                          
    }
                } );
      
      $('#thang-saldo').on('change',function(){
          var tahun = $('#thang-saldo option:selected').val();
          table.ajax.url(localStorage.base_url+'/getjsonsaldo/'+userData.dataUser[0].kdsatker+'/'+tahun).load();
      });
  
//      $('.a').inputmask();
      
      
      $('#submit_form').off().on('click',function(){
        var dataNilai = $('.nilai');
//        console.log(dataNilai);
        var nilai = '';
        dataNilai.each(function(i,x){
//            console.log($(x).val());
            if($(x).val()=='-0.00'||$(x).val()=='')
            {
               nilai += 'null,';  
            }
            else
            {
                var edit = $(x).val();
                var result = edit.replace(/\,/g,'');
                var finalResult = result.replace(/\./g,'_');
               nilai += finalResult+',';  
            }
           
        });
        var dataIdSaldo = $('.idsaldo');
        var idsaldo = '';
        dataIdSaldo.each(function(i,x){
           idsaldo += $(x).val()+','; 
        });
        
        var dataAkun = $('.idakun');
        var idakun = '';
        dataAkun.each(function(i,x){
           idakun += $(x).val()+','; 
        });
        
         function returnData(selected) {
                                                return $.ajax({
                                                   url : localStorage.base_url+'/getpemdabykdsatker/'+userData.dataUser[0].kdsatker,
                                                   data: {
                                                           issession: 1,
                                                           selector: selector
                                                       },
                                                   // dataType: "json",
                                                       async: false,
                                                       error: function() {
                                                           alert("Error occured")
                                                       }
                                                 });

                                             }

            var selector    = !0;
            var ajaxObj     = returnData(selector);
            var data        = JSON.parse(ajaxObj.responseText);                     
            var dataSaldo = userData.dataUser[0].kdsatker+','+data.content[0].kdprov+','+ data.content[0].kdpemda;
        
        
        var sendData = idsaldo+'-'+nilai+'-'+idakun+'-'+dataSaldo;
        if(idsaldo!='')
        {
            $.ajax({
                  type    :"GET",
                  url     :localStorage.base_url+'/createsaldo/'+sendData,
  //                headers:{'Accept':'application/json','Content-Type':'application/json'},
  //                data    : saldo,
                  success :function(result){
                         Materialize.toast('Data Berhasil Disimpan', 1000);
                         grid();    
                         console.log(result);
                  },
                  error : function(result){

                  }              
               });
        }
        else
        {
            Materialize.toast('Tidak Ada Data Yang Akan Disimpan', 1000);
        }
    

        
      });
      
      $('#cancel_form').off().on('click',function(){
         resetButton();
      });
      
   
      function grid()
      {
         var tahun =  $('#thang-saldo option:selected').val();
         table.ajax.url(localStorage.base_url+'/getjsonsaldo/'+userData.dataUser[0].kdsatker+'/'+tahun).load();
            resetButton();
      }
      function searchProv(id)
      {
          var value = '';
           $.each(JSON.parse(localStorage.rProv),function(i,x){
             if(x.kdprov==id)
             {
                 value = x.urprov;
             }
            }); 
            return value;
          
      }
//      $('#provinsi').on('change',function(){
//         $.each(JSON.parse(localStorage.rProv),function(i,x){
//             console.log(x.urprov);
//         }); 
//      });
      function resetButton()
      {
         $('#submit_form').show();
         $('#update_form').hide();
         $('#cancel_form').hide();
         document.getElementById("form").reset();
         $('#akun').select2("val", "0");
         
      }
    $('table').off().on('click','.delete',function(){
         var id= $(this).attr('data-id');
          swal({
                 title: 'Anda Yakin?',
                 text: "Menghapus Data ini!",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Ya',
                 cancelButtonText: 'Batal',
               }).then(function () {
                    $.ajax({
                            type       :"DELETE",
                            url        :localStorage.base_url+'/delete-saldo/'+id,
                            headers    :{'Accept':'application/json','Content-Type':'application/json'},
                            success    : function(data){
                              console.log(data);
                              grid();
                            }           
                            });
                        swal(
                          'Hapus',
                          'Data berhasil dihapus',
                          'success'
                        )
                }, function (dismiss) {
                    // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    if (dismiss === 'cancel') {
                  //    swal(
                  //      'Cancelled',
                  //      'Your imaginary file is safe :)',
                  //      'error'
                  //    )
                    }
                })
           
      });
      
      $('body').off().on('click','.update',function(){
         var data= $(this).attr('data-id').split('-');
          
         var idsaldo        = data[0];
         var kdsatker       = data[1];
         var nilai          = data[4];
         var idakun         = data[5];
         var kdprov         = data[6];
         var kdpemda        = data[7];
         $('#submit_form').hide();
         $('#update_form').show();
         $('#cancel_form').show();
         $("html, body").animate({ scrollTop: 0}, 1000);
         $('#akun').val(idakun).trigger("change");
         $('#nilai').val(nilai);
         $('#nilai').attr('data-kdsatker',kdsatker);
         $('#nilai').attr('data-idsaldo',idsaldo);
         $('#nilai').attr('data-kdprov',kdprov);
         $('#nilai').attr('data-kdpemda',kdpemda);
         
      });
      
      $('#update_form').off().on('click',function(){
          
         var idsaldo        = $('#nilai').attr('data-idsaldo');
         var kdsatker       = $('#nilai').attr('data-kdsatker');
         var nilai          = $('#nilai').val();
         var idakun         = $('#akun option:selected').val();
         var kdprov         = $('#nilai').attr('data-kdprov');
         var kdpemda        = $('#nilai').attr('data-kdpemda');
         
          $cek = 0;
         if(akun==0)
         {
            $('#errorAkun').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
             $cek +=1;
         }
         
         if(nilai<=0)
         {
            $('#errorSaldo').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Saldo Harus Terisi</span>");
             $cek +=1;
         }
         
         
          
         if($cek==0)
         {
                                 
            var saldo        = JSON.stringify({'idakun'        : idakun
                                                ,'kdsatker'     : kdsatker
                                                ,'kdprov'       : kdprov
                                                ,'kdpemda'      : kdpemda
                                                ,'nilai'        : nilai
                                    }); 
                                    
             $.ajax({
                type    :"PUT",
                url     :localStorage.base_url+'/update-saldo/'+idsaldo,
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    : saldo,
                success :function(result){
                   $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                   grid();
                },
                error : function(result){
                   
                }              
             });
         }
         else
         {
             $("html, body").animate({ scrollTop: 0}, 1000);
         }
         
        
      });

    });
    function toRp2(a, b, c, d, e) {
        e = function (f) {
            return f.split('').reverse().join('')
        };
        b = e(parseInt(a, 10).toString());
        for (c = 0, d = ''; c < b.length; c++) {
            d += b[c];
            if ((c + 1) % 3 === 0 && c !== (b.length - 1)) {
                d += ',';
            }
        }
        return  e(d)
    }
    function toRp(a,b,c,d,e){e=function(f){return f.split('').reverse().join('')};b=e(parseInt(a,10).toString());for(c=0,d='';c<b.length;c++){d+=b[c];if((c+1)%3===0&&c!==(b.length-1)){d+='.';}}return'Rp.\t'+e(d)}
       // ]]>
</script>

