<script th:src="@{/js/jquery.base64.min.js}" src="js/jquery.base64.min.js"></script>
<div class="container">
<h3 class="section-title">Tambah SKPD</h3>
    <div class="section">
        <form id="form">
             
            <div class="input-field " style="margin-bottom: 30px">
               <select id="kdsatker" class="browser-default" style="margin-bottom:20px ">
                   <option value="0">--Pilih--</option>
                   <option th:each="p : ${ListPemda}" th:text="${p.urpemda}" th:value="${p.kdsatker}"></option>
               </select>
               <label for="provinsi" class="active">Pemda</label>
               <div id="errorSatker" class="error"></div>
           </div>
            <div class="input-field">
                <input id="kdskpd" type="text" class="validate" placeholder=""/>
                <label for="kdskpd" class="active">Kode SKPD</label>
                <div id="errorKdSkpd" class="error"></div>
            </div>
        <div class="input-field">
                <input id="nmskpd" type="text" class="validate" placeholder=""/>
                <label for="nmskpd" class="active">NAMA SKPD</label>
                <div id="errorSkpd" class="error"></div>
            </div>
            <div class="input-field " style="margin-bottom: 30px">
                <select multiple="multiple" id="akun" class="browser-default" style="margin-bottom:20px ">
                   <option value="0">--Pilih--</option>
                   <option th:each="p : ${ListAkun}" th:text="${p.nmakun}" th:value="${p.idakun}"></option>
               </select>
               <label for="akun" class="active">Urusan</label>
               <div id="errorAkun" class="error"></div>
           </div>
            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Tambah</button>
            <div class=" col s12">
                <button id="update_form" class="btn waves-effect waves-light " style="width:100%;display:none"  type="button" >Perbaharui</button>
            <button id="cancel_form" class="btn waves-effect waves-light" style="width:100%;display:none"  type="button" >Batal</button>
             </div>  
        </form>
    </div>
</div>

 <div id="bordered" class="section scrollspy">
        <h2 class="header">Seluruh SKPD</h2>
        <div class="row">
          <div class="col s12">
            <table id="myTableSkpdPusat" class="display responsive " cellspacing="0" width="100%">
              <thead>
                <tr>
                    <th>IdSkpd</th>
                    <th>Tahun</th>
                    <th>Pemda</th>
                    <th>Kode SKPD</th>
                    <th>SKPD</th>
                    <th>Kode Satker</th>
                    <th>Urusan</th>
                    <th>Aksi</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <script th:inline="javascript" >
    // <![CDATA[
    var listUrusan = [[${ListUrusan}]];
    var idAkun =[];
    $.each(listUrusan,function(i,x){
        idAkun[x.idakun] = x.nmakun;
    });
    // ]]>
    </script>
<script >
    // <![CDATA[
    
    $(document).ready(function(){
       $('.browser-default').select2();
        $('.select2-container').css('padding-top','20px');
        $('.select2-selection__arrow').css('padding-top','66px');        
       $('select').material_select('destroy');
            $('#myTableSkpdPusat').DataTable( {
                    responsive: true,
                    "bLengthChange": false,                    
                    "autoWidth": true,
                    "ajax": {
                        "url": localStorage.base_url+'/grid-skpd-for-admin',
                        dataSrc: 'content',
                        
                    },
                    "columns": [
                        { "title"    : "idSkpd" },
                        { "title"    : "Tahun" },
                        { "title"    : "Pemda"   },
                        { "title"    : "Kode SKPD" },
                        { "title"    : "SKPD" },
                        { "title"    : "Kode Satker" },
                        { "data"     :  function (row, data, index, display){
                                var urusan = row[6].split(",");
                                var length = urusan.length;
                                var li = '';
                                for(var ur = 0; ur <= (length-1) ;ur++){
                                    li += "<ol>"+(ur+1)+". "+idAkun[urusan[ur]]+"</ol>";
                                }
                                return "<ul>"+li+"</ul>";
                        } },
                        { "data"     : function( row, data, index,display){return '<button data-id="'+row[0]+'-'+row[1]+'-'+row[2]+'-'+row[3]+'-'+row[4]+'-'+row[5]+'-'+row[6]+'" class="waves-effect waves-light btn-small blue-grey update">Edit</button> <button data-id="'+row[0]+'" class="waves-effect waves-light btn-small red delete">Hapus</button> ';}    }
                        
                    ],
                    "columnDefs": [
                            { "width": "10%", "targets": 0 },
                            {
                                        "targets": [ 0 ],
                                        "visible": false,
                                        "searchable": false
                            },
                            {
                                        "targets": [ 5 ],
                                        "visible": false,
                                        "searchable": false
                            }
                          ],
                    select: true
                } );
      
      
      $('#submit_form').off().on('click',function(){
         
         $('.error').removeAttr('style').html("");
         var thang      = localStorage.thang;//$('#thang option:selected').val();
         var kdsatker   = $('#kdsatker option:selected').val();
         var nmskpd     = $('#nmskpd').val();
         var kdskpd     = $('#kdskpd').val();
         var akun       = $('#akun').val();
         var status = 0;
         if(thang ==0){
          $('#errorThang').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
         status += 1;
            }
         if(kdsatker ==0){
         $('#errorSatker').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
         status    +=1;
            }
         if(nmskpd ==''){
         $('#errorSkpd').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
         status +=1;
            }
         if(kdskpd ==''){
         $('#errorKdSkpd').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
         status +=1;
            }
         if($('#akun').find('option:selected').length == 0){
         $('#errorAkun').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
         status +=1;
            }
         if(status==0)
         {   
             var pemda = JSON.stringify({'thang'        : thang
                                        ,'kdsatker'     : kdsatker
                                        ,'nmskpd'       : nmskpd
                                        ,'kdskpd'       : kdskpd
                                         });
             $.ajax({
                type    :"POST",
                url     :localStorage.base_url+'/createskpd'+'/'+akun,
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    :pemda,
                success :function(result){
                   $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                   grid();
                    Materialize.toast('Simpan Sukses', 1000);
                    resetButton();
                },
                error : function(result){
                   
                }              
             });
         }else{
            $("html, body").animate({ scrollTop: 0}, 1000);
         }
      });
      
      $('#cancel_form').off().on('click',function(){
         resetButton();
      });
      
   
      function grid()
      {
           $('main').load('skpd');
      }
      function searchProv(id)
      {
          var value = '';
           $.each(JSON.parse(localStorage.rProv),function(i,x){
             if(x.kdprov==id)
             {
                 value = x.urprov;
             }
            }); 
            return value;
          
      }
//      $('#provinsi').on('change',function(){
//         $.each(JSON.parse(localStorage.rProv),function(i,x){
//             console.log(x.urprov);
//         }); 
//      });
      function resetButton()
      {
         $('#submit_form').show();
         $('#update_form').hide();
         $('#cancel_form').hide();
         $('#thang').select2("val", "0");
         $('#kdsatker').select2("val", "0");
         $('#nmskpd').val("");
         $('#kdskpd').val("");
         $('#akun').val(null).trigger("change");
      }
    $('table').off().on('click','.delete',function(){
         var id= $(this).attr('data-id');
          swal({
                 title: 'Anda Yakin?',
                 text: "Menghapus Data ini!",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Ya',
                 cancelButtonText: 'Batal',
               }).then(function () {
                    $.ajax({
                            type       :"DELETE",
                            url        :localStorage.base_url+'/delete-skpd-for-admin/'+id,
                            headers    :{'Accept':'application/json','Content-Type':'application/json'},
                            success    : function(data){
                              console.log(data);
                              grid();
                            }           
                            });
                        swal(
                          'Hapus',
                          'Data berhasil dihapus',
                          'success'
                        )
                }, function (dismiss) {
                    // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    if (dismiss === 'cancel') {
                  //    swal(
                  //      'Cancelled',
                  //      'Your imaginary file is safe :)',
                  //      'error'
                  //    )
                    }
                })
           
      });
      
        $('body').off().on('click','.update',function(){
         $('.error').removeAttr('style').html("");
         var data= $(this).attr('data-id').split('-');         
         var idskpd      = data[0];
         var thang       = data[1];
         var kdskpd      = data[3];
         var nmskpd      = data[4];
         var kdsatker    = data[5];
         var urusan      = data[6];
         
         $('#submit_form').hide();
         $('#update_form').show();
         $('#cancel_form').show();
         $("html, body").animate({ scrollTop: 0}, 1000);
         
         $('#nmskpd').attr('data-id',idskpd);
         $('#thang').val(thang).trigger("change");
         $('#kdsatker').val(kdsatker).trigger("change");         
         $('#kdskpd').val(kdskpd);
         $('#nmskpd').val(nmskpd);
         var vals = urusan.split(',');
         $('#akun').val(vals).trigger("change"); 
         
      });
      
        $('#update_form').off().on('click',function(){          
             $('.error').removeAttr('style').html("");
                var thang      = localStorage.thang;$('#thang option:selected').val();
                var kdsatker   = $('#kdsatker option:selected').val();
                var nmskpd     = $('#nmskpd').val();
                var kdskpd     = $('#kdskpd').val();
                 var idskpd         = $('#nmskpd').attr('data-id');
                var akun       = $('#akun').val();
                
                var status = 0;
                if(thang ==0){
                 $('#errorThang').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
                status += 1;
                   }
                if(kdsatker ==0){
                $('#errorSatker').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
                status    +=1;
                   }
                if(nmskpd ==''){
                $('#errorSkpd').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
                status +=1;
                   }
                if(kdskpd ==''){
                $('#errorKdSkpd').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
                status +=1;
                   }
                if($('#akun').find('option:selected').length == 0){
                $('#errorAkun').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
                status +=1;
                   }
             
             if(status==0)
             {   
                 var skpd = JSON.stringify({'thang'  : thang
                                            ,'kdsatker'   : kdsatker
                                            ,'kdskpd'     : kdskpd
                                            ,'nmskpd' : nmskpd
                                        });
                 $.ajax({
                    type    :"PUT",
                    url     :localStorage.base_url+'/update-skpd-for-admin/'+idskpd+"/"+akun,
                    headers:{'Accept':'application/json','Content-Type':'application/json'},
                    data    : skpd,
                    success :function(result){
                       $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                       grid();
                       Materialize.toast('Upadate Sukses', 1000);
                       resetButton();
                        $('#nmskpd').removeAttr('data-id');
                    },
                    error : function(result){

                    }              
                 });
             }else{
                 Materialize.toast('Tidak Boleh Kosong', 1000);
             }
          }); 

        });
     // ]]>
</script>

