<div class="container">
<h3 class="section-title">Transaksi</h3>
    <div class="section">
        <form id="form">
           <div class="input-field ">
               <select id='provinsi' class="browser-default" style="margin-bottom:20px ">
                   
               </select>
               <label for="provinsi" class="active">Provinsi</label>
           </div>
            <div class="input-field " id="divPemda" style="display:none">
               <select id='pemda' class="browser-default" style="margin-bottom:20px ">
                   
               </select>
               <label for="pemda" class="active">Pemda</label>
           </div>
<!--        <div class="input-field">
                <input id="pemda" type="text" class="validate" placeholder=""/>
                <label for="pemda" class="active">Pemda</label>
            </div>-->
            <div class="input-field">
                <input id="kdkappn" type="text" class="validate" placeholder=""/>
                <label for="kdkappn" class="active">KDKAPPN</label>
            </div>
            <div class="input-field">
                <input id="kdsatker" type="text" class="validate" placeholder=""/>
                <label for="kdsatker" class="active">KDSATKER</label>
            </div> 
            <div class="input-field">
                <input id="undang" type="text" class="validate" placeholder=""/>
                <label for="undang" class="active">Undang</label>
            </div> 
        </form>
<!--        <div id="bordered" class="section scrollspy">
        <h2 class="header">Seluruh Pemda</h2>
        <div class="row">
          <div class="col s12">
            <table class="bordered">
              <thead>
                <tr>
                    <th>Prov</th>
                    <th>Kode Pemda</th>
                    <th>Pemda</th>
                    <th>Kd Satker</th>
                    <th>Undang</th>
                    <th>KDKAPPN</th>
                    <th>Aksi</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>-->
        
    </div>
</div>

<script >
    $(document).ready(function(){ 
        $('input').parent().hide();
      getprov();
       $('select').material_select('destroy');
      function getprov()
      {
          $.ajax({
           type       :"GET",
           url        :localStorage.base_url+'/getjsonprov',
           headers    :{'Accept':'application/json','Content-Type':'application/json'},
           success    : function(data){
              if(data.count==0)
              {
                  var op = '<li class=""><span>Pilih</span></li>';
                  $('#provinsi').html(op);
              }
              else
              {
                   localStorage.rProv = JSON.stringify(data.content);
                 var op = '<option  value="">-- Pilih --</option>'; ;
                 $.each(data.content,function(i,x){
                   op += '<option  value="'+x.kdprov+'">'+x.urprov+'</option>';  
                   
                 });
                 $('#provinsi').html(op);
              }
           },
           error      : function(){

                            }
                        });
      }
      
      $('#provinsi').off().on('change',function(){
          $("#divPemda").hide();
          $('input').parent().hide();
          $.ajax({
           type       :"GET",
           url        :localStorage.base_url+'/getjsonpmdbyid/'+$(this).val(),
           headers    :{'Accept':'application/json','Content-Type':'application/json'},
           success    : function(data){
              if(data.count>0)
              {
////                var result = JSON.parse(data);
//                console.log();
                var option = '<option value="">-- Pilih --</option>';
                localStorage.getPemdaByid =JSON.stringify(data.content);
                $.each(JSON.parse(JSON.stringify(data.content)),function(i,x){
                    option += '<option value="'+x.kdpemda+'">'+x.urpemda+'</option>';
                });
                $('#pemda').html(option);
                $("#divPemda").show();
              }
           },
           error      : function(){

                            }
                        });
      });
      
      
      $('#pemda').off().on('change',function(){
          
          var bind = searchPemdaByid($(this).val()).split("-");
          $('input').parent().hide();
          
          $('#kdkappn').val(bind[0]);
          $('#kdsatker').val(bind[1]);
          $('#undang').val(bind[2]);
          if(bind!=''){$('input').parent().show()};
      });
      
      
      function searchPemdaByid(id)
      {
          var result = '';
          $.each(JSON.parse(localStorage.getPemdaByid),function(i,x){
              if(id==x.kdpemda)
              {
                  result = x.kdkappn+'-'+
                           x.kdsatker+'-'+
                           x.undang;
              }
             
          });
          return result;
      }

    });
</script>

