<script th:src="@{/js/jquery.base64.min.js}" src="js/jquery.base64.min.js"></script>   

<style>
    #berlaku,#baru,#cekbaru{
        -webkit-text-security:disc;
    }
</style>

<div class="container">
    <h3 class="section-title">Ubah Password </h3>

    <div class="section"> 

        <form id="form" >    

            <div class="input-field">
                <input id="berlaku" autocomplete="off"  type="text"  class="validate" placeholder=""/>
                <label for="berlaku" class="active"  >Berlaku</label>
                <div id="errorBerlaku" class="error"></div>
            </div>
            <div class="input-field">
                <input id="baru" autocomplete="off"  type="text"   class="validate " placeholder=""/>
                <label for="baru" class="active"  >Baru</label>
                <div id="errorBaru" class="error"></div>
            </div>
            <div class="input-field">
                <input id="cekbaru" autocomplete="off"  type="text"  class="validate " placeholder=""/>
                <label for="cekbaru" class="active"  >Ketik Ulang Password Baru</label>
                <div id="errorCekBaru" class="error"></div>
            </div>
            <button  id="submit_form" class="btn waves-effect waves-light " style="width:100%;" type="button" >Simpan</button>           
            <button  id="resset_form" class="btn waves-effect waves-light " style="width:100%;" type="button" >Batal</button>
        </form>
        <a href="#" id="forgot-password" class="pull-right" ><i class="material-icons">lock</i>Lupa Kata Sandi Anda ?</a>

    </div>
</div>

<script th:inline="javascript" >
    // <![CDATA[

    $(document).ready(function () {
        $('#berlaku').on('click', function () {
            $('#berlaku').val('');
        });
        $('.browser-default').select2();
        $('.select2-container').css('padding-top', '20px');
        $('.select2-selection__arrow').css('padding-top', '66px');
        $('select').material_select('destroy');

       
       $('#resset_form').off().on('click', function () {
           $('.error').removeAttr('style').html("");
           $('input').val("");
       });

        $('#submit_form').off().on('click', function () {
            $('.error').removeAttr('style').html("");
            var data = JSON.parse(localStorage.userData);
            var idUser = data.dataUser[0].iduser;
            var nmUser = data.dataUser[0].nmuser;
            var oldpass = $('#berlaku').val();
            var password = $('#baru').val();
            
            
            $('.error').removeAttr('style').html("");
            var berlaku = $('#berlaku').val();
            var baru = $('#baru').val();
            var cekbaru = $('#cekbaru').val();
             var cek = 0;  
            if (berlaku == '' )
            {
               
                Materialize.toast('Input Harus Terisi Semua', 1000);
                cek += 1;

            }
            if ( baru == '' )
            {
               
                Materialize.toast('Input Harus Terisi Semua', 1000);
                cek += 1;

            }
            if (cekbaru == '')
            {
               
                Materialize.toast('Input Harus Terisi Semua', 1000);
                cek += 1;

            }
            
            if(cek==0){
                
                 if (baru != cekbaru)
                {
                    $('#errorBaru').css({"display": "block", "color": "red", "background-color": "bisque"}).html("<span>Password Baru Harus Sama dengan Ketik Ulang Password Baru</span>");
                    $('#errorCekBaru').css({"display": "block", "color": "red", "background-color": "bisque"}).html("<span> Ketik Ulang Password Baru Harus Sama dengan Password Baru </span>");
                }
                else
                {
                        var user1 = JSON.stringify({'nmuser': nmUser
                                    , 'pass': oldpass
                                });
                         var user = JSON.stringify({'iduser': idUser
                                    , 'pass': password
                                });

                                $.ajax({
                                    type: "POST",
                                    url: localStorage.base_url + '/get-user-password/',
                                    headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                                    data: user1,
                                    success: function (result) {
                                      if(result.userpassword==1){
                                            data.dataUser[0].pass = $.base64.encode(password);
                                            localStorage.userData = JSON.stringify(data);
                                            $.ajax({
                                                type: "POST",
                                                url: localStorage.base_url + '/changepassword/',
                                                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                                                data: user,
                                                success: function (result) {
                                                    localStorage.userData = JSON.stringify(data);
                                                    Materialize.toast('Data Berhasil Disimpan', 1000);
                                                    $('input').val("");
                                                     $('#resset_form').click();
                //                                    $('#submit_form').hide();
                                                },
                                                error: function (result) {

                                                }
                                            });
                                      }
                                      else
                                      {
                                           Materialize.toast('Password Berlaku Salah', 1000);
                                      }
                                    },
                                    error: function (result) {

                                    }
                                });
                }
                
                
                

            } 
            




        });

        $('#forgot-password').on('click', function () {
            var data = JSON.parse(localStorage.userData);
            var email = data.dataUser[0].nmuser;
            var pass = $.base64.decode(data.dataUser[0].pass);
            var user = JSON.stringify({'email': email
                , 'pass': pass
            });

            $.ajax({
                type: "POST",
                url: localStorage.base_url + '/forgotpassword/',
                headers: {'Accept': 'application/json', 'Content-Type': 'application/json'},
                data: user,
                success: function (result) {
                    swal(
                            'Password ',
                            'Telah Dikirim Ke Email ' + email,
                            'success'
                            );
                    $('input').val("");
                    $('#submit_form').hide();
                },
                error: function (result) {

                }
            });


        });

    });



    // ]]>
</script>

