<script th:src="@{/js/jquery.base64.min.js}" src="js/jquery.base64.min.js"></script>   
<div class="container">
<h3 class="section-title">Tambah Pengguna</h3>
    <div class="section">
        <form id="form">
            <div class="input-field group-level" style="margin-bottom: 30px">
               <select id='idlevel' class="browser-default" style="margin-bottom:20px ">
                   <option value="0">--Pilih--</option>
                   <option th:each="p : ${ListLevelUser}" th:text="${p.nmleveluser}" th:value="${p.idleveluser}"></option>
               </select>
               <label for="idlevel" class="active">Level</label>
               <div id="errorLevel" class="error"></div>
               
           </div>
            <div class="input-field">
                <input id="email" type="text"  class="validate" placeholder=""/>
                <label for="email" class="active"  >Email</label>
                 <div id="errorEmail" class="error"></div>
            </div>
        <div class="input-field">
                <input id="full" type="text" class="validate" placeholder=""/>
                <label for="full" class="active">Nama</label>
                <div id="errorFull" class="error"></div>
            </div>
            <div class="input-field">
                <input id="notelp" type="text" class="validate" placeholder=""/>
                <label for="notelp" class="active">No Telepon</label>
                <!--<div id="errorFull" class="error"></div>-->
            </div>
            <div class="input-field">
                <input id="nohp" type="text" class="validate" placeholder=""/>
                <label for="nohp" class="active">No Hp</label>
                <!--<div id="errorFull" class="error"></div>-->
            </div>
            <div class="input-field">
                <input id="jabatan" type="text" class="validate" placeholder=""/>
                <label for="jabatan" class="active">Jabatan</label>
                <!--<div id="errorFull" class="error"></div>-->
            </div>
            <div class="input-field " style="margin-bottom: 30px">
               <select id='pemda' class="browser-default" style="margin-bottom:20px ">
                   <option value="0">--Pilih--</option>
                   <option th:each="p : ${ListPemda}" th:text="${p.urpemda}" th:value="${p.kdsatker}"></option>
               </select>
               <label for="pemda" class="active">Pemda</label>
               <div id="errorPemda" class="error"></div>
           </div>
             <div class="input-field " style="margin-bottom: 30px">
               <select id='tahun' class="browser-default" style="margin-bottom:20px ">
                   <option value="0">--Pilih--</option>
                   <!--<option th:each="p : ${ListTahun}" th:text="${p.thang}" th:value="${p.thang}"></option>-->
               </select>
               <label for="skpd" class="active">Tahun</label>
               <div id="errorTahun" class="error"></div>
           </div> 
            <div class="input-field " style="margin-bottom: 30px">
               <select id='skpd' class="browser-default" style="margin-bottom:20px ">
                   <option value="0">--Pilih--</option>
                   <!--<option th:each="p : ${ListSkpd}" th:text="${p.nmskpd}" th:value="${p.idskpd}"></option>-->
               </select>
               <label for="skpd" class="active">SKPD</label>
               <div id="errorSkpd" class="error"></div>
           </div> 
            <button id="submit_form" class="btn waves-effect waves-light" style="width:100%" type="button" >Tambah</button>
            <div class=" col s12">
                <button id="update_form" class="btn waves-effect waves-light " style="width:100%;display:none"  type="button" >Perbaharui</button>
            <button id="cancel_form" class="btn waves-effect waves-light" style="width:100%;display:none"  type="button" >Batal</button>
             </div>  
        </form>
        
        
    </div>
</div>
<div id="bordered" class="section scrollspy">
        <h2 class="header">Seluruh User</h2>
        <div class="row">
          <div class="col s12">
            <table id="myTableUser" class="display responsive"  cellspacing="0" width="100%">
              <thead>
                <tr>                   
                    <th class="all" >Nama </th>
                    <th class="min-phone-l min-tablet ">Email </th>                    
                    <th  class="min-phone-l min-tablet ">Level</th>
                    <th class="min-phone-l min-tablet ">Pemda</th> 
                    <th class="min-phone-l min-tablet ">SKPD </th>
                    <th class="min-phone-l min-tablet ">Status </th>
                    <th class="min-phone-l min-tablet ">Password </th>
                    <th class="min-phone-l min-tablet ">Aksi</th>
                </tr>
              </thead>
              <tbody>                
                
              </tbody>
            </table>
          </div>
        </div>
      </div>

<script th:inline="javascript" >
   // <![CDATA[
   function sendmail(row){
           $(document).ready(function(){
              var send = row.split(',');
              
                    var data       =  JSON.parse(localStorage.userData);
                    var email      =  send[2]
                    var pass       =  $.base64.decode(send[3]);
                    var user = JSON.stringify({    'email'    : email
                                                   ,'pass'     : pass
                                               });

                     $.ajax({
                           type    :"POST",
                           url     :localStorage.base_url+'/forgotpassword/',
                           headers:{'Accept':'application/json','Content-Type':'application/json'},
                           data    : user,
                           success :function(result){      
                                    swal(
                                       'Password ',
                                       'Telah Dikirim Ke Email '+email,
                                       'success'
                                     ); 
                                  $('input').val("");
                                  $('#submit_form').hide();
                           },
                           error : function(result){

                           }              
                        });
           })
       }
    $(document).ready(function(){
       
       $('.browser-default').select2();
        $('.select2-container').css('padding-top','20px');
        $('.select2-selection__arrow').css('padding-top','66px');        
       $('select').material_select('destroy');
       var hide = 0;
        $('#idlevel').on("change",  function() { 
            var id =   $('#idlevel option:selected').val();
            $('#pemda,#skpd').select2("val", "0");
            if(id==1)
            {                
                $('#pemda,#skpd,#tahun').parent().hide();
            }
            if(id==2)
            {
                $('#skpd').parent().hide();
                $('#tahun').parent().hide();
                $('#pemda').parent().show();
            }
            if(id==3)
            {
                $('#pemda,#skpd,#tahun').parent().show();
            }
        });
        $('#pemda').on("change",function() {
            var level   =  $('#idlevel option:selected').val();
            var kdsatker =   $('#pemda option:selected').val();
            if(level!=0 && (kdsatker !=0 &&typeof(kdsatker) != "undefined"&& kdsatker!="null") )
            {
              
                var tahun3 = JSON.stringify({'kdsatker'        : kdsatker});
                $.ajax({
                    type    :"POST",
                    url     :localStorage.base_url+'/gettahunforskpd/'+kdsatker,
                    headers:{'Accept':'application/json','Content-Type':'application/json'},
                    data    : tahun3,
                    success :function(result){
                       if(result.count>0)
                       {
                           var tahun = '<option value="0">--Pilih--</option>';
                           $.each(result.content,function(i,x){
                               tahun += '<option value="'+x.thang+'">'+x.thang+'</option>';
                           });
                           $('#tahun').html(tahun);
                       }
                       else
                       {
                           var tahun = '<option value="0">--Pilih--</option>';
                            $('#tahun').html(tahun);
                             $('#skpd').html(tahun);                             
                             if(level == 3)
                             {
                                swal(
                                    'SKPD Belum Ada',
                                    'Lakukan Perekaman SKPD terlebh dahulu untuk Pemda Yang dipilih. (Administrasi -> SKPD)',
                                    'warning'
                                  );
                             }
                           
                       }
                    },
                    error : function(result){

                    }              
                 });
            }
            else
            {
                var tahun = '<option value="0">--Pilih--</option>';
                $('#tahun').html(tahun);
            }
            
            
        });
        $('#tahun').on("change",function() {
            var level   =  $('#idlevel option:selected').val();
            var kdsatker =   $('#pemda option:selected').val();
            var tahun =   $('#tahun option:selected').val();
            if(level!=0 && (kdsatker !=0 && kdsatker!="null") && (tahun !=0 && typeof(tahun) != "undefined"&& tahun !="null") )
            {
                
                var tahun2 = JSON.stringify({'kdsatker'        : kdsatker});
                $.ajax({
                    type    :"POST",
                    url     :localStorage.base_url+'/getskpdbytahunandsatker/'+kdsatker+'/'+tahun,
                    headers:{'Accept':'application/json','Content-Type':'application/json'},
                    data    : tahun2,
                    success :function(result){
                       if(result.count>0)
                       {
                           var skpd = '<option value="0">--Pilih--</option>';
                           $.each(result.content,function(i,x){
                               skpd += '<option value="'+x.idskpd+'">'+x.nmskpd+'</option>';
                           });
                           $('#skpd').html(skpd);
                       }
                       else
                       {
                           var skpd = '<option value="0">--Pilih--</option>';
                           $('#skpd').html(skpd);
                           swal(
                                'SKPD Belum Ada',
                                'Lakukan Perekaman SKPD terlebh dahulu untuk Pemda Yang dipilih. (Administrasi -> SKPD)',
                                'warning'
                              );
                       }
                    },
                    error : function(result){

                    }              
                 });
            }
            else
            {
                var skpd = '<option value="0">--Pilih--</option>';
                $('#skpd').html(skpd);
            }
            
            
        });
       var table =  $('#myTableUser').DataTable( {
                    responsive: true,
                    "bLengthChange": false,                    
                    //"autoWidth": true,
                    "ajax": {
                        "url": localStorage.base_url+'/grid-user-for-admin',
                        dataSrc: 'content',
                        
                    },
                    "columns": [
                        
                        { "data"    : function( row, data, index,display){
                                return row[1]
                        }},
                        { "data"    : function( row, data, index,display){
                                return row[2]
                        }},
                        { "data"    : function( row, data, index,display){
                                return row[4]
                        }},
                        { "data"    : function( row, data, index,display){
                                return row[5]
                        }},
                        { "data"    : function( row, data, index,display){
                                return row[6]
                        }},
                        { "data"    : function( row, data, index,display){
                                            if(row[7]==true)
                                            {
                                              return '<div class="switch"><label><input value="'+row[0]+'" checked="checked" type="checkbox"><span class="lever"></span>Aktif</label></div>';
                                            }
                                            else
                                            {
                                               return '<div class="switch"><label>Non Aktif<input value="'+row[0]+'" type="checkbox"><span class="lever"></span></label></div>'; 
                                            }
                                            
                                            
                                        }},
                        { "data"     : function( row, data, index,display){
//                                                return $.base64.decode(row[3]); 
                              return '<button onclick="sendmail(\''+row+'\')" class="reset-password">Lupa Pasword</button>'
                        }
                        },
                        { "data"    : function( row, data, index,display){return '<button data-id="'+row[0]+'-'+row[1]+'-'+row[2]+'-'+row[3]+'-'+row[7]+'-'+row[8]+'-'+row[9]+'-'+row[10]+'-'+row[11]+'-'+row[12]+'-'+row[13]+'-'+row[14]+'" class="waves-effect waves-light btn-small blue-grey update">Edit</button> <button data-id="'+row[0]+'" class="waves-effect waves-light btn-small red delete">Hapus</button> ';}    }
                        
                    ],
                    "columnDefs": [
//                            { "width": "10%", "targets": 0 },
//                            {
////                                        "targets": [0,3],
//                                        "visible": false,
//                                        "searchable": false
//                            }
                               // {"responsivePriority": "1", "targets": "0"} 
                          ],
                    select: true
                } );
      
//      $('button.reset-password').click(function(){
//          alert('hallo');
//      })

      
      $('#submit_form').off().on('click',function(){
         $('.error').removeAttr('style').html("");
         var idLevel    = $('#idlevel option:selected').val();
         var email      = $('#email').val();
         var full       = $('#full').val();
         var notelp     = $('#notelp').val();
         var nohp       = $('#nohp').val();
         var jabatan    = $('#jabatan').val();
         var kdsatker   = $('#pemda option:selected').val();
         var idskpd     = $('#skpd  option:selected').val();
         var tahun     = $('#tahun  option:selected').val();
         $cek = 0;
         if(idLevel==0)
         {
            $('#errorLevel').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pilihan Harus Terisi</span>");
             $cek +=1;
         }
         if(email=='')
         {
            $('#errorEmail').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Email Harus Terisi</span>");
             $cek +=1;
         }
         
         if( !validateEmail(email)) { 
             $('#errorEmail').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Format Email Salah</span>");
             $cek +=1;
         }
         
         if(full=='')
         {
            $('#errorFull').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Nama Harus Terisi</span>");
             $cek +=1;
         }
         
         if(idLevel==2||idLevel==3)
         {
             if(kdsatker==0)
             {
                $('#errorPemda').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Pemda Harus Terisi</span>");
                $cek +=1;
             }
            
         }
         
         if(idLevel==3)
         {
             if(tahun==0)
             {
                 $('#errorTahun').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>Tahun Harus Terisi</span>");
             $cek +=1;
             }
             if(idskpd==0)
             {
             $('#errorSkpd').css({"display": "block" , "color": "red", "background-color": "bisque"}).html("<span>SKPD Harus Terisi</span>");
             $cek +=1;
             }
         }
          
         if($cek==0)
         {
             var user = JSON.stringify({'nmuser'        : email
                                        ,'full'         : full
                                        ,'pass'         : makeid()
                                        ,'idlevel'      : idLevel
                                        ,'kdsatker'     : kdsatker
                                        ,'idskpd'       : idskpd
                                        ,'tgcreate'     : getFormattedDate()
                                        ,'notelp'       : notelp
                                        ,'nohp'         : nohp
                                        ,'jabatan'      : jabatan
                                        ,'url'          : localStorage.base_url
                                    });
             $.ajax({
                type    :"POST",
                url     :localStorage.base_url+'/createuser/',
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    : user,
                success :function(result){
                   if(result.count==0)
                   {
                       Materialize.toast('Data Berhasil Disimpan', 1000);
                       grid();
                   }
                   else
                   {
                       swal(
                            'Email ',
                            'Pengguna Telah Terdaftar',
                            'error'
                          );
                   }
                },
                error : function(result){
                   
                }              
             });
         }
         else
         {
             $("html, body").animate({ scrollTop: 0}, 1000);
         }
        
         
         
      });
      $('#cancel_form').off().on('click',function(){
         resetButton();
      });
      
      function validateEmail($email) {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test( $email );
          }
          
          function makeid()
          {
                var d = new Date();
                var n = d.getSeconds();
                var text = "daknf-";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for( var i=0; i < 5; i++ )
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text+n;
            }
            
            function getFormattedDate() {
                var date = new Date();
                var str = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " +  date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();

                return str;
            }
      function grid()
      {
           $('main').load('user');
      }
      function searchProv(id)
      {
          var value = '';
           $.each(JSON.parse(localStorage.rProv),function(i,x){
             if(x.kdprov==id)
             {
                 value = x.urprov;
             }
            }); 
            return value;
          
      }


      function resetButton()
      {
         $('#submit_form').show();
         $('#update_form').hide();
         $('#cancel_form').hide();
         $('#idlevel').select2("val", "0");
         $('#email').val("");
         $('#full').val("");
         $('#pemda ').select2("val", "0");
         $('#skpd ').select2("val", "0");
         $('#provinsi').select2("val", "0");
          $('#email').removeAttr('disabled');
         
      }
      
    $('table').off().on('click','.delete',function(){
         var id= $(this).attr('data-id');
          swal({
                 title: 'Anda Yakin?',
                 text: "Menghapus Data ini!",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Ya',
                 cancelButtonText: 'Batal',
               }).then(function () {
                    $.ajax({
                            type       :"DELETE",
                            url        :localStorage.base_url+'/delete-user-for-admin/'+id,
                            headers    :{'Accept':'application/json','Content-Type':'application/json'},
                            success    : function(data){
                              console.log(data);
                              grid();
                            }           
                            });
                        swal(
                          'Hapus',
                          'Data berhasil dihapus',
                          'success'
                        )
                }, function (dismiss) {
                    // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    if (dismiss === 'cancel') {
                  //    swal(
                  //      'Cancelled',
                  //      'Your imaginary file is safe :)',
                  //      'error'
                  //    )
                    }
                })
           
      });
      
    $('body').off().on('click','.update',function(){
        $('.error').removeAttr('style').html("");
         var data= $(this).attr('data-id').split('-');
         //a.iduser, a.full,a.nmuser,a.pass,b.nmleveluser,c.urpemda, d.nmskpd,a.aktif as aktif, a.idlevel,a.kdsatker,a.idskpd
         var iduser     = data[0];
         var full       = data[1];
         var nmuser     = data[2];
         var pass       = data[3];
         var aktif      = data[4];
         var idlevel     = data[5];
         var kdsatker     = data[6];
         var idskpd     = data[7];
         var tahun      = data[8];
         var notelp      = data[9];
         var nohp      = data[10];
         var jabatan      = data[11];
         $('#submit_form').hide();
         $('#update_form').show();
         $('#cancel_form').show();
         $("html, body").animate({ scrollTop: 0}, 1000);
         
//         console.log(tahun);
         $('#idlevel').val(idlevel).trigger("change");
         $('#idlevel').attr('data-id',iduser);
         $('#idlevel').attr('data-pass',pass);
         $('#idlevel').attr('data-aktif',aktif);
         $('#email').attr('disabled', 'disabled');
         $('#notelp').val(notelp);
         $('#nohp').val(nohp);
         $('#jabatan').val(jabatan);
         $('#email').val(nmuser);
         $('#full').val(full);
         
         if(kdsatker==null)
         {
             kdsatker =0;
         }
         if(idlevel!=0 && (kdsatker !=0 &&typeof(kdsatker) != "undefined"&& kdsatker!="null") )
            {
              
                var tahun3 = JSON.stringify({'kdsatker'        : kdsatker});
                $.ajax({
                    type    :"POST",
                    url     :localStorage.base_url+'/gettahunforskpd/'+kdsatker,
                    headers:{'Accept':'application/json','Content-Type':'application/json'},
                    data    : tahun3,
                    success :function(result){
                       if(result.count>0)
                       {
                           var th = '<option value="0">--Pilih--</option>';
                           $.each(result.content,function(i,x){
                               if(x.thang==tahun)
                               {
                                   th += '<option selected="selected" value="'+x.thang+'">'+x.thang+'</option>';
                               }else
                               {
                                   th += '<option value="'+x.thang+'">'+x.thang+'</option>';
                               }
                           });
                           $('#tahun').html(th);
                       }
                       else
                       {
                           var th = '<option value="0">--Pilih--</option>';
                            $('#tahun').html(th);
                             $('#skpd').html(th);
                           swal(
                                'SKPD Belum Ada',
                                'Lakukan Perekaman SKPD terlebh dahulu untuk Pemda Yang dipilih. (Administrasi -> SKPD)',
                                'warning'
                              );
                       }
                    },
                    error : function(result){

                    }              
                 });
            }
            else
            {
                var tahun = '<option value="0">--Pilih--</option>';
                $('#tahun').html(tahun);
            }
         $('#pemda').val(kdsatker).trigger("change.select2");   
         if(idlevel!=0 && (kdsatker !=0 && kdsatker!="null") && (tahun !=0 && typeof(tahun) != "undefined"&& tahun !="null") )
            {
                
                var tahun2 = JSON.stringify({'kdsatker'        : kdsatker});
                $.ajax({
                    type    :"POST",
                    url     :localStorage.base_url+'/getskpdbytahunandsatker/'+kdsatker+'/'+tahun,
                    headers:{'Accept':'application/json','Content-Type':'application/json'},
                    data    : tahun2,
                    success :function(result){
                       if(result.count>0)
                       {
                           var skpd = '<option value="0">--Pilih--</option>';
                           $.each(result.content,function(i,x){
                               if(x.thang==tahun)
                               {
                                   skpd += '<option selected="selected" value="'+x.idskpd+'">'+x.nmskpd+'</option>';
                               }else
                               {
                                   skpd += '<option value="'+x.idskpd+'">'+x.nmskpd+'</option>';
                               }
                               
                           });
                           $('#skpd').html(skpd);
                       }
                       else
                       {
                           var skpd = '<option value="0">--Pilih--</option>';
                           $('#skpd').html(skpd);
                           swal(
                                'SKPD Belum Ada',
                                'Lakukan Perekaman SKPD terlebh dahulu untuk Pemda Yang dipilih. (Administrasi -> SKPD)',
                                'warning'
                              );
                       }
                    },
                    error : function(result){

                    }              
                 });
            }
            else
            {
                var skpd = '<option value="0">--Pilih--</option>';
                $('#skpd').html(skpd);
            }
        
         
          if(idskpd==null)
         {
             idskpd =0;
         }
         $('#skpd').val(idskpd).trigger("change");
      });
      
    $('#update_form').off().on('click',function(){          
         var idlevel        = $('#idlevel option:selected').val(); 
         var nmuser         = $('#email').val();
         var full           = $('#full').val();
         var kdsatker       = $('#pemda').val();
         var idskpd         = $('#skpd').val();
         var notelp         = $('#notelp').val();
         var nohp           = $('#nohp').val();
         var jabatan        = $('#jabatan').val();
         var iduser         = $('#idlevel').attr('data-id');
         var pass           = $('#idlevel').attr('data-pass');
         var aktif          = $('#idlevel').attr('data-aktif');
         if(aktif == "true")
         {
             aktif = 1;
         }
         else
         {
             aktif = 0;
         }
         var dateObj = new Date() 
         var tgcreate       = dateObj;
         var status = 0;
         if(idlevel ==0)
         status += 1;
     
         if(nmuser =='')
         status    +=1;
     
         if(full=='')
         status +=1;
     
         if(idlevel==2)
         {
            if(kdsatker==0)
            status +=1;   
         }
         
         if(idlevel==3)
         {
            if(kdsatker==0)
            status +=1;
            if( idskpd==0)
            status +=1; 
         }
         if(idskpd==0)
         {
             idskpd = '';
         }
         if(status==0)
         {   
             var pemda = JSON.stringify({'idlevel'  : idlevel
                                        ,'nmuser'   : nmuser
                                        ,'full'     : full
                                        ,'kdsatker' : kdsatker
                                        ,'idskpd'   : idskpd
                                        ,'pass'     : pass
                                        ,'notelp'   : notelp
                                        ,'nohp'     : nohp
                                        ,'jabatan'  : jabatan
                                        ,'aktif'     : aktif
                                        ,'tgupdate' : tgcreate
                                    });
             $.ajax({
                type    :"PUT",
                url     :localStorage.base_url+'/update-all-user-for-admin/'+iduser,
                headers:{'Accept':'application/json','Content-Type':'application/json'},
                data    : pemda,
                success :function(result){
                   $("html, body").animate({ scrollTop: $(document).height() }, 1000);
                   grid();
                   Materialize.toast('Upadate Sukses', 1000);
                   resetButton();
                    $('#idlevel').removeAttr('data-id');
                    $('#idlevel').removeAttr('data-pass');
                    $('#idlevel').removeAttr('data-aktif');
                },
                error : function(result){
                   
                }              
             });
         }else{
             Materialize.toast('Tidak Boleh Kosong', 1000);
         }
      });      
      
    $("body").on("change", ".switch",function() {
              var status    = $(this).find("input[type=checkbox]").prop('checked');
              var id        = $(this).find("input[type=checkbox]").val();
              var html      = $(this);
              if(status)
              {
                  status = 1;
                 swal({
                 title: 'Anda Yakin?',
                 text: "Mengaktifkan User ini!",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Ya',
                 cancelButtonText: 'Batal',
               }).then(function () {
                    $.ajax({
                            type       :"GET",
                            url        :localStorage.base_url+'/update-status-user-for-admin/'+id+'/'+status,
                            headers    :{'Accept':'application/json','Content-Type':'application/json'},
//                            data       : JSON.stringify({'aktif': status }),
                            success    : function(data){
                            }           
                            });
                        swal(
                          'Perbaharui',
                          'Status User berhasil',
                          'success'
                        );
                 grid();
                }, function (dismiss) {
                    // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    if (dismiss === 'cancel') {
                        html.find("input[type=checkbox]").prop('checked',false);
                    }
                });
              }
              else
              {
                  status = 0;
                  swal({
                 title: 'Anda Yakin?',
                 text: "Menonaktifkan User ini!",
                 type: 'warning',
                 showCancelButton: true,
                 confirmButtonColor: '#3085d6',
                 cancelButtonColor: '#d33',
                 confirmButtonText: 'Ya',
                 cancelButtonText: 'Batal',
               }).then(function () {
                    $.ajax({
                            type       :"GET",
                            url        :localStorage.base_url+'/update-status-user-for-admin/'+id+'/'+status,
                            headers    :{'Accept':'application/json','Content-Type':'application/json'},
//                            data       : JSON.stringify({'aktif': status }),
                            success    : function(data){
                              console.log(data);
                             
                            }           
                            });
                         grid();
                        swal(
                          'Perbaharui',
                          'Status User berhasil',
                          'success'
                        )
                }, function (dismiss) {
                    // dismiss can be 'cancel', 'overlay',
                    // 'close', and 'timer'
                    if (dismiss === 'cancel') {
                        html.find("input[type=checkbox]").prop('checked',true);
                    }
                });
              }
//                alert(id+'-'+status);
          } );
          
          
//          $('#skpd').html('<option>sdfasa</option>');
          
    });
     
     
       
     // ]]>
</script>

