#splashscreen {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba( 255, 255, 255, .8 );
    transition: 1s 0.4s;
}
#splashscreen .splash_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
}
#splashscreen .splash_footer {
    font-size: 13px;
    position: fixed;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
#login {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#login .login_logo {
    position: absolute;
    left: 50%;
    top: 7px;
    transform: translateX(-50%);
}

#login .login_name {
    position: absolute;
    left: 50%;
    top: 139px;
    transform: translateX(-50%);    
    font-size: 1.2rem;

}

#login .login_footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#login .login_form {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    width: 80%;
}
#loading {
    background: #fff;
    display: none;
    height: 46px;
    width: 46px;
    position: fixed;
    top: 80px;
    left: 50%;
    margin-left: -24px;
    padding: 5px;
}
.navbar-fixed {
    z-index: 997;
}
nav .brand-logo {
    font-size: 1.5rem;
    position: initial;
    margin-left: 5px;
    transform: initial;
    -webkit-transform: initial;
}
nav .button-collapse i {
    font-size: 2rem;
}
a.button-collapse.top-nav {
    text-align: center;
    height: 48px;
    width: 48px;
    margin-left: 0.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}
ul.side-nav.fixed li {
    line-height: 44px;
}
ul.side-nav.fixed li a {
    font-size: 13px;
    line-height: 44px;
    height: 44px;
}
ul.side-nav.fixed li a .material-icons {
    margin-right: 10px;
    vertical-align: middle;
}
ul.side-nav.fixed li a span {
    vertical-align: sub;
}
.logo {
    /*
################
    background-image: url(../image/bgheader.png);
    ################
*/
    background-color: #0d47a1;
    background-size: cover;
    padding: 20px;
}
.account {
    color: #fff;
    line-height: 24px;
}
.account span {
    vertical-align: top;
}
@media only screen and (min-width: 993px) {
    main, .navbar-fixed {
        margin-left: 240px;
    }
}
main {
    overflow-x: hidden;
    padding: 15px 0;
}
main.owner {
    padding: 0;
}
.section {
    
    margin-bottom: 3px;
    padding: 10px;
}
.section-title {
    border-radius: 2px;
    color: #030303;
    font-size: 1.3rem;
    padding: 5px 5px 5px 10px;
    background: #234d7f;
    background: -moz-linear-gradient(top, #234d7f 0%, #ff8800 50%, #3100ff 100%);
    background: -webkit-linear-gradient(top, #234d7f 0%, #0d1117 50%, #3100ff 100%);
    background: linear-gradient(to bottom, #234d7f 0%, #a4beff 50%, #3100ff 100%);
}
.section-title:first-of-type {
    margin-top: 0;
}
main table {
    width: 100%;
}
main table th, main table td {
    font-size: 14px;
}
td, th {
    padding: 2px;
}
.col3 {
	text-align: center;
    width: 33.33%;
}
.col3:first-child {
	text-align: left;
}
.col2 {
	width: 50%;
}
.col2:last-child {
	text-align: right;
}
.btn, .btn:focus {
    background: #378da7;
}
.input-field label, .input-field label.active, .select-wrapper+label {
    color: #234d7f;
    font-size: 1rem;
    left: 0;
}
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #234d7f;
}
.input-field input[type=text]:focus, .input-field input[type=password]:focus, textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #234d7f;
    box-shadow: 0 1px 0 0 #234d7f;
}
.input-field input[type=text].valid, .input-field input[type=password].valid {
    border-bottom: 1px solid #234d7f;
    box-shadow: 0 1px 0 0 #234d7f;
}
.input-field input[type=text].invalid, .input-field input[type=password].invalid {
    border-bottom: 1px solid #234d7f;
    box-shadow: 0 1px 0 0 #234d7f;
}
.input-field .prefix.active {
    color: #234d7f;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: #ff8800;
}
textarea.materialize-textarea {
    padding-top: 0.5rem;
}
#orderList {
    overflow: hidden;
}
.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}
.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}
.autocomplete-suggestion.selected {
    background: #f0f0f0;
}
iframe {
    border: none;
    width: 100%;
    /*position: fixed;
    top: 55px;*/
}
